<footer style="background: {{footer.background}};">
    <div class="grilla">
        <div class="fWrap  f aic jcc fdc-768">
            <div class="fMenu f aic jcc fItem">
                <a href="#acerca" class="headerAnclaBlock">Acerca de</a>
                <a href="#agenda" class="headerAnclaBlock">Agenda</a>
                <a href="#expositor" class="headerAnclaBlock">Expositor</a>
                <a href="#blog" class="headerAnclaBlock">Blog</a>
                <a href="#empresa" class="headerAnclaBlock">Empresas</a>
            </div>
            <div class="fRedes fItem f aic jcc">
                {% if footer.linkedin %}
                    <a href="{{footer.linkedin}}" target="_blank" class="icon-linkedin"></a>
                {% endif %}
                {% if footer.twitter %}
                    <a href="{{footer.instagram}}" target="_blank" class="icon-twitter"></a>
                {% endif %}
                {% if footer.instagram %}
                    <a href="{{footer.twitter}}" target="_blank" class="icon-instagram"></a>
                {% endif %}
                {% if footer.facebook %}
                    <a href="{{footer.facebook}}" target="_blank" class="icon-face"></a>
                {% endif %}
                {% if footer.youtube %}
                    <a href="{{footer.youtube}}" target="_blank" class="icon-youtube"></a>
                {% endif %}
            </div>
            <div class="fContact fItem">
                <a>Powered by: RealVirtual</a>
            </div>
        </div>
    </div>
</footer>