<footer>
    <div class="grilla">
        <div class="fWrap  f aic jcc fdc-768">
            <div class="fMenu f aic jcc fItem">
                <a href="#acerca" class="headerAnclaBlock">Acerca de</a>
                <a href="#agenda" class="headerAnclaBlock">Agenda</a>
                <a href="#expositor" class="headerAnclaBlock">Expositor</a>
                <a href="#blog" class="headerAnclaBlock">Blog</a>
                <a href="#empresa" class="headerAnclaBlock">Empresas</a>
            </div>
            <div class="fRedes fItem f aic jcc">
                <a href="#" class="icon-linkedin"></a>
                <a href="#" class="icon-google"></a>
                <a href="#" class="icon-instagram"></a>
                <a href="#" class="icon-face"></a>
            </div>
            <div class="fContact fItem">
                <a>Powered by: RealVirtual</a>
            </div>
        </div>
    </div>
</footer>