{% extends "landing_2/common/_base.html" %}

{% block cssadicional %}
{% endblock %}

{% block classbody %}pageBlogDetalle{% endblock %}

{% block content %}

<section class="b26">
    <div class="grilla">
        <figure>
            <img src="{{blog_post.banner_image.url}}" alt="">
        </figure>
        <div class="b26Info">
            <h1 class="gTitle">{{blog_post.name}}</h1>
        </div>
    </div>
</section>



<div class="b26Wrap ">
    <div class="grilla f aifs jcsb fdcr-1024">
        <div class="b26Left">
            {% for row in blog_post.get_items %}
                <div class="gParrafo">
                    {{row.content|safe}}
                </div>
                {% if row.image %}
                    <figure>
                        <img src="{{row.image.url}}" alt="">
                    </figure>
                {% endif %}
                <br>
                {% if row.url_video %}
                <div class="videoBoxContent">
                    <figure class="imgCover">
                        <img src="{{row.image_video.url}}" alt="">
                    </figure>
                    <a href="#" class="clickVideo box clickVideoBox " data-urlvideo="{{row.url_video}}"><i class="icon-play"></i></a>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="b26Right">
            <h4>Tabla de Contenidos</h4>
            <ul>
                {% for row in blog_post.get_contents %}
                    <li>{{row.name}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}

{% block jsfinal %}
<script type="text/javascript">

</script>   
{% endblock %}
