{% extends "landing_2/common/_base.html" %}

{% block cssadicional %}
{% endblock %}

{% block classbody %}pageBlogDetalle{% endblock %}

{% block content %}

<section class="b27 mY scrollWrap">
    <div class="grilla">
        <h1 class="gTitle tac">
            <span>{{home_page.blog_section_name}}</span>
            {{home_page.blog_section_title}}
        </h1>
        <div class="b27Wrap column3 column1-480 column2-1024">
            {% for row in blog_posts %}
                <a href="{% url 'landing:blog_detail' row.slug %}" class="b6Item zoomImageHover">
                    <img src="{{row.front_image.url}}" alt="">
                    <div class="b6Info">
                        <p class="date">{{row.publish_date}}</p>
                        <p class="name">{{row.name}}</p>
                    </div>
                </a>
            {% endfor %}
        </div>

        <div class="b6Pagination">
            <ul  class="f aic jcc">
                <li class="prev"><a href=""></a></li>
                <li><a href="" class="active">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">4</a></li>
                <li class="next"><a href=""></a></li>
            </ul>
        </div>
    </div>
</section>

{% endblock %}

{% block jsfinal %}
<script type="text/javascript">

</script>
{% endblock %}
