{% extends "landing_2/common/_base.html" %}

{% block cssadicional %}
{% endblock %}

{% block classbody %}pageBlogDetalle{% endblock %}

{% block content %}

<section class="b26">
    <div class="grilla">
        <figure>
            <img src="static/web_2/img/credicorp/blog-detalle-banner.png" alt="">
        </figure>
        <div class="b26Info">
            <h1 class="gTitle">El Rol del Liderazgo Ágil en la Era de la Inteligencia Artificial</h1>
        </div>
    </div>
</section>



<div class="b26Wrap ">
    <div class="grilla f aifs jcsb fdcr-1024">
        <div class="b26Left">
            <div class="gParrafo">
                <p>La IA, con su capacidad para procesar grandes volúmenes de datos, automatizar tareas y ofrecer insights predictivos, presenta oportunidades inmensas, pero también desafíos significativos. Para aprovecharlas, los líderes no pueden operar con estructuras jerárquicas rígidas o procesos lentos. </p>
                <h3>¿Qué Implica el Liderazgo Ágil Frente a la IA?</h3>
                <p>La IA, con su capacidad para procesar grandes volúmenes de datos, automatizar tareas y ofrecer insights predictivos, presenta oportunidades inmensas, pero también desafíos significativos. Para aprovecharlas, los líderes no pueden operar con estructuras jerárquicas rígidas o procesos lentos. </p>
                <p>La IA, con su capacidad para procesar grandes volúmenes de datos, automatizar tareas y ofrecer insights predictivos, presenta oportunidades inmensas, pero también desafíos significativos. Para aprovecharlas, los líderes no pueden operar con estructuras jerárquicas rígidas o procesos lentos. </p>
                <h3>¿Qué Implica el Liderazgo Ágil Frente a la IA?</h3>
                <p>La IA, con su capacidad para procesar grandes volúmenes de datos, automatizar tareas y ofrecer insights predictivos, presenta oportunidades inmensas, pero también desafíos significativos. Para aprovecharlas, los líderes no pueden operar con estructuras jerárquicas rígidas o procesos lentos. </p>
                <p>La IA, con su capacidad para procesar grandes volúmenes de datos, automatizar tareas y ofrecer insights predictivos, presenta oportunidades inmensas, pero también desafíos significativos. Para aprovecharlas, los líderes no pueden operar con estructuras jerárquicas rígidas o procesos lentos. </p>
                <h3>¿Qué Implica el Liderazgo Ágil Frente a la IA?</h3>
                <p>La IA, con su capacidad para procesar grandes volúmenes de datos, automatizar tareas y ofrecer insights predictivos, presenta oportunidades inmensas, pero también desafíos significativos. Para aprovecharlas, los líderes no pueden operar con estructuras jerárquicas rígidas o procesos lentos. </p>
                <p>La IA, con su capacidad para procesar grandes volúmenes de datos, automatizar tareas y ofrecer insights predictivos, presenta oportunidades inmensas, pero también desafíos significativos. Para aprovecharlas, los líderes no pueden operar con estructuras jerárquicas rígidas o procesos lentos. </p>
                <h3>¿Qué Implica el Liderazgo Ágil Frente a la IA?</h3>
                <p>La IA, con su capacidad para procesar grandes volúmenes de datos, automatizar tareas y ofrecer insights predictivos, presenta oportunidades inmensas, pero también desafíos significativos. Para aprovecharlas, los líderes no pueden operar con estructuras jerárquicas rígidas o procesos lentos. </p>
                <p>La IA, con su capacidad para procesar grandes volúmenes de datos, automatizar tareas y ofrecer insights predictivos, presenta oportunidades inmensas, pero también desafíos significativos. Para aprovecharlas, los líderes no pueden operar con estructuras jerárquicas rígidas o procesos lentos. </p>
                <p>La IA, con su capacidad para procesar grandes volúmenes de datos, automatizar tareas y ofrecer insights predictivos, presenta oportunidades inmensas, pero también desafíos significativos. Para aprovecharlas, los líderes no pueden operar con estructuras jerárquicas rígidas o procesos lentos. </p>
                <h3>¿Qué Implica el Liderazgo Ágil Frente a la IA?</h3>
                <p>La IA, con su capacidad para procesar grandes volúmenes de datos, automatizar tareas y ofrecer insights predictivos, presenta oportunidades inmensas, pero también desafíos significativos. Para aprovecharlas, los líderes no pueden operar con estructuras jerárquicas rígidas o procesos lentos. </p>
                <p>La IA, con su capacidad para procesar grandes volúmenes de datos, automatizar tareas y ofrecer insights predictivos, presenta oportunidades inmensas, pero también desafíos significativos. Para aprovecharlas, los líderes no pueden operar con estructuras jerárquicas rígidas o procesos lentos. </p>
                <h3>¿Qué Implica el Liderazgo Ágil Frente a la IA?</h3>
                <p>La IA, con su capacidad para procesar grandes volúmenes de datos, automatizar tareas y ofrecer insights predictivos, presenta oportunidades inmensas, pero también desafíos significativos. Para aprovecharlas, los líderes no pueden operar con estructuras jerárquicas rígidas o procesos lentos. </p>
            </div>
            <figure>
                <img src="static/web_2/img/credicorp/blog-detalle-img1.png" alt="">
            </figure>

            <div class="gParrafo">
                <p>La IA, con su capacidad para procesar grandes volúmenes de datos, automatizar tareas y ofrecer insights predictivos, presenta oportunidades inmensas, pero también desafíos significativos. Para aprovecharlas, los líderes no pueden operar con estructuras jerárquicas rígidas o procesos lentos. </p>
                <h3>¿Qué Implica el Liderazgo Ágil Frente a la IA?</h3>
                <p>La IA, con su capacidad para procesar grandes volúmenes de datos, automatizar tareas y ofrecer insights predictivos, presenta oportunidades inmensas, pero también desafíos significativos. Para aprovecharlas, los líderes no pueden operar con estructuras jerárquicas rígidas o procesos lentos. </p>
                <p>La IA, con su capacidad para procesar grandes volúmenes de datos, automatizar tareas y ofrecer insights predictivos, presenta oportunidades inmensas, pero también desafíos significativos. Para aprovecharlas, los líderes no pueden operar con estructuras jerárquicas rígidas o procesos lentos. </p>
                <h3>¿Qué Implica el Liderazgo Ágil Frente a la IA?</h3>
                <p>La IA, con su capacidad para procesar grandes volúmenes de datos, automatizar tareas y ofrecer insights predictivos, presenta oportunidades inmensas, pero también desafíos significativos. Para aprovecharlas, los líderes no pueden operar con estructuras jerárquicas rígidas o procesos lentos. </p>
                <p>La IA, con su capacidad para procesar grandes volúmenes de datos, automatizar tareas y ofrecer insights predictivos, presenta oportunidades inmensas, pero también desafíos significativos. Para aprovecharlas, los líderes no pueden operar con estructuras jerárquicas rígidas o procesos lentos. </p>
                <h3>¿Qué Implica el Liderazgo Ágil Frente a la IA?</h3>
                <p>La IA, con su capacidad para procesar grandes volúmenes de datos, automatizar tareas y ofrecer insights predictivos, presenta oportunidades inmensas, pero también desafíos significativos. Para aprovecharlas, los líderes no pueden operar con estructuras jerárquicas rígidas o procesos lentos. </p>
                <p>La IA, con su capacidad para procesar grandes volúmenes de datos, automatizar tareas y ofrecer insights predictivos, presenta oportunidades inmensas, pero también desafíos significativos. Para aprovecharlas, los líderes no pueden operar con estructuras jerárquicas rígidas o procesos lentos. </p>
                <h3>¿Qué Implica el Liderazgo Ágil Frente a la IA?</h3>
                <p>La IA, con su capacidad para procesar grandes volúmenes de datos, automatizar tareas y ofrecer insights predictivos, presenta oportunidades inmensas, pero también desafíos significativos. Para aprovecharlas, los líderes no pueden operar con estructuras jerárquicas rígidas o procesos lentos. </p>
                <p>La IA, con su capacidad para procesar grandes volúmenes de datos, automatizar tareas y ofrecer insights predictivos, presenta oportunidades inmensas, pero también desafíos significativos. Para aprovecharlas, los líderes no pueden operar con estructuras jerárquicas rígidas o procesos lentos. </p>
                <p>La IA, con su capacidad para procesar grandes volúmenes de datos, automatizar tareas y ofrecer insights predictivos, presenta oportunidades inmensas, pero también desafíos significativos. Para aprovecharlas, los líderes no pueden operar con estructuras jerárquicas rígidas o procesos lentos. </p>
                <h3>¿Qué Implica el Liderazgo Ágil Frente a la IA?</h3>
                <p>La IA, con su capacidad para procesar grandes volúmenes de datos, automatizar tareas y ofrecer insights predictivos, presenta oportunidades inmensas, pero también desafíos significativos. Para aprovecharlas, los líderes no pueden operar con estructuras jerárquicas rígidas o procesos lentos. </p>
                <p>La IA, con su capacidad para procesar grandes volúmenes de datos, automatizar tareas y ofrecer insights predictivos, presenta oportunidades inmensas, pero también desafíos significativos. Para aprovecharlas, los líderes no pueden operar con estructuras jerárquicas rígidas o procesos lentos. </p>
                <h3>¿Qué Implica el Liderazgo Ágil Frente a la IA?</h3>
                <p>La IA, con su capacidad para procesar grandes volúmenes de datos, automatizar tareas y ofrecer insights predictivos, presenta oportunidades inmensas, pero también desafíos significativos. Para aprovecharlas, los líderes no pueden operar con estructuras jerárquicas rígidas o procesos lentos. </p>
            </div>
            <div class="videoBoxContent">
                <figure class="imgCover">
                    <img src="static/web_2/img/credicorp/home-b2-img1.png" alt="">
                </figure>
                <a href="#" class="clickVideo box clickVideoBox " data-urlvideo="https://www.youtube.com/watch?v=l6_nRqIz_9o"><i class="icon-play"></i></a>
            </div>
        </div>
        <div class="b26Right">
            <h4>Tabla de Contenidos</h4>
            <ul>
                <li>Fomentar la Experimentación y el Aprendizaje:</li>
                <li>Visión Estratégica Adaptativa:</li>
                <li>Empoderamiento de Equipos Multifuncionales</li>
                <li>Gestión del Talento y Reskilling:</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}

{% block jsfinal %}
<script type="text/javascript">

</script>   
{% endblock %}
