{% extends "landing_2/common/_base.html" %}

{% block cssadicional %}
{% endblock %}

{% block classbody %}pageBlogDetalle{% endblock %}

{% block content %}

<section class="b27 mY scrollWrap">
    <div class="grilla">
        <h1 class="gTitle tac"><span>novedades</span>Insights Ágiles: El Blog del Agility Summit</h1>
        <div class="b27Wrap column3 column1-480 column2-1024">
            <a href="#" class="b6Item zoomImageHover">
                <img src="static/web_2/credicorp/home-b2-img1.png" alt="">
                <div class="b6Info">
                    <p class="date">24 de Noviembre</p>
                    <p class="name">La Transformación Digital en 2025:Cómo la Agilidad Impulsa la Innovación</p>
                </div>
            </a>
            <a href="#" class="b6Item zoomImageHover">
                <img src="static/web_2/credicorp/home-b2-img1.png" alt="">
                <div class="b6Info">
                    <p class="date">24 de Noviembre</p>
                    <p class="name">La Transformación Digital en 2025:Cómo la Agilidad Impulsa la Innovación</p>
                </div>
            </a>
            <a href="#" class="b6Item zoomImageHover">
                <img src="static/web_2/credicorp/home-b2-img1.png" alt="">
                <div class="b6Info">
                    <p class="date">24 de Noviembre</p>
                    <p class="name">La Transformación Digital en 2025:Cómo la Agilidad Impulsa la Innovación</p>
                </div>
            </a>
            <a href="#" class="b6Item zoomImageHover">
                <img src="static/web_2/credicorp/home-b2-img1.png" alt="">
                <div class="b6Info">
                    <p class="date">24 de Noviembre</p>
                    <p class="name">La Transformación Digital en 2025:Cómo la Agilidad Impulsa la Innovación</p>
                </div>
            </a>
            <a href="#" class="b6Item zoomImageHover">
                <img src="static/web_2/credicorp/home-b2-img1.png" alt="">
                <div class="b6Info">
                    <p class="date">24 de Noviembre</p>
                    <p class="name">La Transformación Digital en 2025:Cómo la Agilidad Impulsa la Innovación</p>
                </div>
            </a>
            <a href="#" class="b6Item zoomImageHover">
                <img src="static/web_2/credicorp/home-b2-img1.png" alt="">
                <div class="b6Info">
                    <p class="date"><span>Novedades</span> 24 de Noviembre</p>
                    <p class="name">La Transformación Digital en 2025:Cómo la Agilidad Impulsa la Innovación</p>
                </div>
            </a>
            <a href="#" class="b6Item zoomImageHover">
                <img src="static/web_2/credicorp/home-b2-img1.png" alt="">
                <div class="b6Info">
                    <p class="date"><span>Novedades</span> 24 de Noviembre</p>
                    <p class="name">La Transformación Digital en 2025:Cómo la Agilidad Impulsa la Innovación</p>
                </div>
            </a>
            <a href="#" class="b6Item zoomImageHover">
                <img src="static/web_2/credicorp/home-b2-img1.png" alt="">
                <div class="b6Info">
                    <p class="date"><span>Novedades</span> 24 de Noviembre</p>
                    <p class="name">La Transformación Digital en 2025:Cómo la Agilidad Impulsa la Innovación</p>
                </div>
            </a>
        </div>

        <div class="b6Pagination">
            <ul  class="f aic jcc">
                <li class="prev"><a href=""></a></li>
                <li><a href="" class="active">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">4</a></li>
                <li class="next"><a href=""></a></li>
            </ul>
        </div>
    </div>
</section>

{% endblock %}

{% block jsfinal %}
<script type="text/javascript">

</script>   
{% endblock %}
