{% extends "landing_2/common/_base.html" %}

{% block cssadicional %}
<link rel="stylesheet" href="static/web_2/js/swiper/swiper-bundle.min.css">
{% endblock %}

{% block classbody %}pageHome{% endblock %}

{% block content %}



<!-- <section class="b1">
    <img src="static/web_2/img/credicorp/home-b1-fondo.svg" alt="" class="imgFull">
    <img src="static/web_2/img/credicorp/montain-bottom.svg" alt="" class="imgFull bottom">
    <div class="grilla">
        <div class="b1Info">
            <h1>El encuentro de agilidad más esperado del Perú</h1>
            <div class="gParrafo">
                <p>Únete a una comunidad de mentes brillantes en un evento que celebra la vanguardia y el poder de la colaboración. Con experiencias que van desde la innovación digital hasta la inteligencia artificial, este es tu momento para explorar, aprender y cocrear el futuro de la agilidad</p>
            </div>
            <div class="b1Data">
                <div class="b1DataItem">
                    <img src="static/web_2/img/credicorp/home-b1-img1.png" alt="">
                    <p>Hotel Melía Lima</p>
                </div>
                <div class="b1DataItem">
                    <img src="static/web_2/img/credicorp/home-b1-img2.png" alt="">
                    <p>12 y 13 de Diciembre</p>
                </div>
                <div class="b1DataItem">
                    <img src="static/web_2/img/credicorp/home-b1-img3.png" alt="">
                    <p>Desde las 08:00 A.M</p>
                </div>
            </div>
             <a href="#" id="b1ButtonRegister" class="gButton">Registrarme</a>
        </div>
        <figure>
            <img src="static/web_2/img/credicorp/home-b1-imgcentral.png" alt="">
        </figure>
    </div>
</section> -->

<section class="b1">
    <picture class="imgCover">
        <source srcset="{{company.mobile_banner.url}}" media="(max-width: 767px)">
        <source srcset="{{company.banner.url}}" media="(max-width: 768px)">
        <img src="{{company.banner.url}}" width="1920" height="713"  alt="Myimage">
    </picture>
    <div class="grilla">
        <div class="b1Info">
            {% if company.image_banner %}
                <img src="{{company.image_banner.url}}" alt="" width="650" class="imgLogo">
            {% endif %}
            <h4>El encuentro de agilidad más esperado del Perú</h4>
            <a href="#" class="gButton" id="b1ButtonRegister">Regístrate</a>
            <ul>
                <li>
                    <img src="static/web_2/img/credicorp/marker.svg" alt="">
                    <p>{{home_page.address_description|default:""}}</p>
                </li>
                <li>
                    <img src="static/web_2/img/credicorp/calendar2.svg" alt="">
                    <p>{{home_page.date_description|default:""}}</p>
                </li>
                <li>
                    <img src="static/web_2/img/credicorp/timer.svg" alt="">
                    <p>{{home_page.time_description|default:""}}</p>
                </li>
            </ul>
        </div>
        <div class="b1Bottom">
            <p>{{company.banner_second_section|default:""}}</p>
            {% if company.banner_second_section_image %}
                <figure>
                    <img src="{{company.banner_second_section_image.url}}" alt="">
                </figure>
            {% endif %}
        </div>
    </div>
</section>


<div class="b1PopupInfo">
    <a href="#" class="b1CloseMapa icon-close"></a>
    <h3>
        {{company.banner_second_section_internal_title|default:""}}
        <span>{{company.banner_second_section_internal_text|default:""}}</span>
    </h3>
    {% if company.banner_second_section_internal_image %}
        <figure>
            <img src="{{company.banner_second_section_internal_image.url}}" alt="">
        </figure>
    {% endif %}
</div>

{% if company.use_counter%}
    <section class="b22">
        <div class="grilla">
            <h3>{{company.counter_text}}</h3>
            <div id="contador" data-date="{{company.set_counter_time}}">
                <div class="elemento">
                    <span id="dias">00</span>
                    <p>DÍAS</p>
                </div>
                <div class="elemento">
                    <span id="horas">00</span>
                    <p>HORAS</p>
                </div>
                <div class="elemento">
                    <span id="minutos">00</span>
                    <p>MINUTOS</p>
                </div>
                <div class="elemento">
                    <span id="segundos">00</span>
                    <p>SEGUNDOS</p>
                </div>
            </div>
        </div>
    </section>
{% endif %}

<section class="b2 pY scrollWrap anclaBlock" id="acerca">
    <div class="grilla scrollItem" id="elb2">
        <h2 class="gTitle"><span>CONOCE MÁS DEL</span>Agility Summit Credicorp 2024</h2>
        <div class="b2Wrap f aic jcsb">
            <div class="b2Img videoBoxContent">
                <figure class="imgCover">
                    <img src="static/web_2/img/credicorp/home-b2-img1.png" alt="">
                </figure>
                <a href="#" class="clickVideo box clickVideoBox " data-urlvideo="https://www.youtube.com/watch?v=l6_nRqIz_9o"><i class="icon-play"></i></a>
            </div>
            <div class="b2Info">
                <div class="gParrafo">
                    <p>El evento contará con charlas y talleres enfocados en casos prácticos y soluciones probadas, cubriendo temas como agilidad, innovación, transformación digital e inteligencia artificial</p>
                </div>
                <div class="b2ListNumber column3 column1-480">
                    <div class="b2ItemNUmber">
                        <p>+<span class="b2Number" data-num="48"></span></p>
                        <p class="info">Ponentes internacionales</p>
                    </div>
                    <div class="b2ItemNUmber">
                        <p>+<span class="b2Number" data-num="18"></span></p>
                        <p class="info">De ponencias increíbles</p>
                    </div>
                    <div class="b2ItemNUmber">
                        <p>+<span class="b2Number" data-num="320"></span></p>
                        <p class="info">Participantes registrados</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="b3 pY scrollWrap">
    <div class="grilla scrollItem">
        <div class="b3Wrap f aifs jcsb fdc-1024">
            <div class="b3Left">
                <h3 class="gTitle"><span>MODULOS</span>Impulsando la
                    Agilidad Regional</h3>
                <div class="gParrafo">
                    <p>Embárcate en una jornada excepcional, dedicada a desvelar los secretos de la agilidad que impulsa el progreso.</p>
                </div>
            </div>
            <div class="b3Right g">
                <div class="b3Item f aic jcfs fdc-480">
                    <figure>
                        <img src="static/web_2/img/credicorp/home-b3-img1.png" alt="">
                    </figure>
                    <div class="b3Info">
                        <p class="name">Business Agility</p>
                        <div class="gParrafo">
                            <p>Experiencias en definición de estrategias de transformación, diseño organizacional y evolución de procesos transversales. ​</p>
                        </div>
                    </div>
                </div>
                <div class="b3Item f aic jcfs fdc-480">
                    <figure>
                        <img src="static/web_2/img/credicorp/home-b3-img1.png" alt="">
                    </figure>
                    <div class="b3Info">
                        <p class="name">Business Agility</p>
                        <div class="gParrafo">
                            <p>Experiencias en definición de estrategias de transformación, diseño organizacional y evolución de procesos transversales. ​</p>
                        </div>
                    </div>
                </div>
                <div class="b3Item f aic jcfs fdc-480">
                    <figure>
                        <img src="static/web_2/img/credicorp/home-b3-img1.png" alt="">
                    </figure>
                    <div class="b3Info">
                        <p class="name">Business Agility</p>
                        <div class="gParrafo">
                            <p>Experiencias en definición de estrategias de transformación, diseño organizacional y evolución de procesos transversales. ​</p>
                        </div>
                    </div>
                </div>
                <div class="b3Item f aic jcfs fdc-480">
                    <figure>
                        <img src="static/web_2/img/credicorp/home-b3-img1.png" alt="">
                    </figure>
                    <div class="b3Info">
                        <p class="name">Business Agility</p>
                        <div class="gParrafo">
                            <p>Experiencias en definición de estrategias de transformación, diseño organizacional y evolución de procesos transversales. ​</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="b4 pY scrollWrap anclaBlock" id="agenda">
    <div class="grilla scrollItem">
        <div class="b4Top f aife jcsb fdc-480">
            <h4 class="gTitle"><span>AGENDA</span>Explora el itinerario</h4>
            <div class="b4SelectGroup g column2 column1-480 f">
                <div class="b4ItemSelect">
                    <a href="#" class="b4ClickSelect arrowClick"><span>Fecha</span><p class="name">Cualquiera</p></a>
                    <ul>
                        <li><a href="#">19 de diciembr</a></li>
                        <li><a href="#">20 de diciembr</a></li>
                        <li><a href="#">21 de diciembr</a></li>
                        <li><a href="#">22 de diciembr</a></li>
                        <li><a href="#">23 de diciembr</a></li>
                    </ul>
                </div>
                <div class="b4ItemSelect">
                    <a href="#" class="b4ClickSelect arrowClick"><span>Tema</span><p class="name">Cualquiera</p></a>
                    <ul>
                        <li><a href="#">19 de diciembr</a></li>
                        <li><a href="#">20 de diciembr</a></li>
                        <li><a href="#">21 de diciembr</a></li>
                        <li><a href="#">22 de diciembr</a></li>
                        <li><a href="#">23 de diciembr</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="b4List g">
            <div class="b4ItemList">
                <div class="b4ItemCLick f aic jcsb arrowClick fdc-1024">
                    <div class="b4ItemListLeft f aic jcfs fdc-480">
                        <div class="live g">
                            <p class="date f aic jcfs">12 de diciembre</p>
                            <!-- CONDICIONAR SOLO UNO DE LOS BOTONES, REPRODUCIR O AGENDAR -->
                            <a href="#" class="reproducir">Reproducir <i class="icon-play"></i></a>
                            <!-- <a href="#" class="agendar">Agendar </a> -->
                        </div>
                        <p class="name">Bienvenida al Evento</p>
                    </div>
                    <div class="b4ItemListRight column2 column1-480">
                        <p class="hour">08:30 - 09:00 PM</p>
                        <p class="theme">Ciberseguridad y Liderazgo</p>
                    </div>
                </div>
                <div class="b4ItemInfo">
                    <div class="b4ContntInfo f aic jcsb fdc-768">
                        <div class="b4ItemInfoLeft">
                            <p class="message">Business Agility</p>
                            <p class="nameEvent">Bienvenida al Evento Bienvenida al Evento Bienvenida al Evento Bienvenida al Evento Bienvenida al Evento</p>
                            <div class="gParrafo">
                                <p> Líderes en agilidad abordarán desafíos como la resistencia al cambio y la necesidad de adaptabilidad, ofreciendo estrategias exitosas.</p>
                            </div>
                        </div>
                        <div class="b4ItemInfoRight">
                            <div class="b4Expos g">
                                <a href="#" class="f aic jcfs b25OpenPopupPerson"
                                data-name="Rosa Bueno"
                                data-cargo="Presidenta / Camara de Comercio de Lima"
                                data-info="<p>Abogada egresada de la Pontificia Universalidad Católica del Perú (PUCP), experta en Competencia, Compliance y Arbitraje. Además, es socia fundadora del estudio de abogados Bueno Lercari Consultores.Abogada egresada de la Pontificia Universalidad Católica del Perú (PUCP), experta en Competencia, Compliance y Arbitraje. Además, es socia fundadora del estudio de abogados Bueno Lercari Consultores.</p>"
                                data-url="www.google.com.pe"
                                data-bandera="static/web_2/img/credicorp/expositor-pais.svg"
                                data-img="static/web_2/img/credicorp/imgericka1.png">
                                    <img src="static/web_2/img/credicorp/pais.svg" alt="">
                                    <p class="">Cecilia Talaviña <samp>|</samp> Mi Banco</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="b4ItemList">
                <div class="b4ItemCLick f aic jcsb arrowClick fdc-1024">
                    <div class="b4ItemListLeft f aic jcfs fdc-480">
                        <div class="live g">
                            <p class="date f aic jcfs">12 de diciembre</p>
                            <!-- CONDICIONAR SOLO UNO DE LOS BOTONES, REPRODUCIR O AGENDAR -->
                            <a href="#" class="reproducir">Reproducir <i class="icon-play"></i></a>
                            <!-- <a href="#" class="agendar">Agendar </a> -->
                        </div>
                        <p class="name">Bienvenida al Evento</p>
                    </div>
                    <div class="b4ItemListRight column2 column1-480">
                        <p class="hour">08:30 - 09:00 PM</p>
                        <p class="theme">Ciberseguridad y Liderazgo</p>
                    </div>
                </div>
                <div class="b4ItemInfo">
                    <div class="b4ContntInfo f aic jcsb fdc-768">
                        <div class="b4ItemInfoLeft">
                            <p class="message">Business Agility</p>
                            <p class="nameEvent">Bienvenida al Evento Bienvenida al Evento Bienvenida al Evento Bienvenida al Evento Bienvenida al Evento</p>
                            <div class="gParrafo">
                                <p> Líderes en agilidad abordarán desafíos como la resistencia al cambio y la necesidad de adaptabilidad, ofreciendo estrategias exitosas.</p>
                            </div>
                        </div>
                        <div class="b4ItemInfoRight">
                            <div class="b4Expos g">
                                <a href="#" class="f aic jcfs b25OpenPopupPerson"
                                data-name="Rosa Bueno"
                                data-cargo="Presidenta / Camara de Comercio de Lima"
                                data-info="<p>Abogada egresada de la Pontificia Universalidad Católica del Perú (PUCP), experta en Competencia, Compliance y Arbitraje. Además, es socia fundadora del estudio de abogados Bueno Lercari Consultores.Abogada egresada de la Pontificia Universalidad Católica del Perú (PUCP), experta en Competencia, Compliance y Arbitraje. Además, es socia fundadora del estudio de abogados Bueno Lercari Consultores.</p>"
                                data-url="www.google.com.pe"
                                data-bandera="static/web_2/img/credicorp/expositor-pais.svg"
                                data-img="static/web_2/img/credicorp/imgericka1.png">
                                    <img src="static/web_2/img/credicorp/pais.svg" alt="">
                                    <p class="">Cecilia Talaviña <samp>|</samp> Mi Banco</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="b5 scrollWrap anclaBlock pY scrollWrap" id="expositor">
    <div class="wancho scrollItem">
        <h3 class="gTitle white tac"><span>ponentes</span>Conoce a los expositores</h3>
    </div>
    <div class="gSwiperContent scrollItem">
        <div class="b5Swiper swiper-container scrollItem swiper" data-initial="3">
            <div class="b5Wrap swiper-wrapper">
                
                <a  href="#" class="b25OpenPopupPerson b5Item swiper-slide zoomImageHover swiper-slide"
                    data-name="Rosa Bueno"
                    data-cargo="Presidenta / Camara de Comercio de Lima"
                    data-info="<p>Abogada egresada de la Pontificia Universalidad Católica del Perú (PUCP), experta en Competencia, Compliance y Arbitraje. Además, es socia fundadora del estudio de abogados Bueno Lercari Consultores.Abogada egresada de la Pontificia Universalidad Católica del Perú (PUCP), experta en Competencia, Compliance y Arbitraje. Además, es socia fundadora del estudio de abogados Bueno Lercari Consultores.</p>"
                    data-url="www.google.com.pe"
                    data-bandera="static/web_2/img/credicorp/expositor-pais.svg"
                    data-img="static/web_2/img/credicorp/imgericka1.png">
                    <span class="tag">Keynote</span>
                    <figure>
                        <img src="static/web_2/img/credicorp/imgericka1.png" alt="" width="280">
                    </figure>
                    <div class="b5Text">
                        <h4>Julia Ramos</h4>
                        <h5>Servicios Forenses</h5>
                    </div>
                </a>
                
                <a  href="#" class="b25OpenPopupPerson b5Item swiper-slide zoomImageHover swiper-slide"
                    data-name="Rosa Bueno"
                    data-cargo="Presidenta / Camara de Comercio de Lima"
                    data-info="<p>Abogada egresada de la Pontificia Universalidad Católica del Perú (PUCP), experta en Competencia, Compliance y Arbitraje. Además, es socia fundadora del estudio de abogados Bueno Lercari Consultores.Abogada egresada de la Pontificia Universalidad Católica del Perú (PUCP), experta en Competencia, Compliance y Arbitraje. Además, es socia fundadora del estudio de abogados Bueno Lercari Consultores.</p>"
                    data-url="www.google.com.pe"
                    data-bandera="static/web_2/img/credicorp/expositor-pais.svg"
                    data-img="static/web_2/img/credicorp/imgericka1.png">
                    <span class="tag">Keynote</span>
                    <figure>
                        <img src="static/web_2/img/credicorp/imgericka1.png" alt="" width="280">
                    </figure>
                    <div class="b5Text">
                        <h4>Julia Ramos</h4>
                        <h5>Servicios Forenses</h5>
                    </div>
                </a>
                
                <a  href="#" class="b25OpenPopupPerson b5Item swiper-slide zoomImageHover swiper-slide"
                    data-name="Rosa Bueno"
                    data-cargo="Presidenta / Camara de Comercio de Lima"
                    data-info="<p>Abogada egresada de la Pontificia Universalidad Católica del Perú (PUCP), experta en Competencia, Compliance y Arbitraje. Además, es socia fundadora del estudio de abogados Bueno Lercari Consultores.Abogada egresada de la Pontificia Universalidad Católica del Perú (PUCP), experta en Competencia, Compliance y Arbitraje. Además, es socia fundadora del estudio de abogados Bueno Lercari Consultores.</p>"
                    data-url="www.google.com.pe"
                    data-bandera="static/web_2/img/credicorp/expositor-pais.svg"
                    data-img="static/web_2/img/credicorp/imgericka1.png">
                    <span class="tag">Keynote</span>
                    <figure>
                        <img src="static/web_2/img/credicorp/imgericka1.png" alt="" width="280">
                    </figure>
                    <div class="b5Text">
                        <h4>Julia Ramos</h4>
                        <h5>Servicios Forenses</h5>
                    </div>
                </a>
                
                <a  href="#" class="b25OpenPopupPerson b5Item swiper-slide zoomImageHover swiper-slide"
                    data-name="Rosa Bueno"
                    data-cargo="Presidenta / Camara de Comercio de Lima"
                    data-info="<p>Abogada egresada de la Pontificia Universalidad Católica del Perú (PUCP), experta en Competencia, Compliance y Arbitraje. Además, es socia fundadora del estudio de abogados Bueno Lercari Consultores.Abogada egresada de la Pontificia Universalidad Católica del Perú (PUCP), experta en Competencia, Compliance y Arbitraje. Además, es socia fundadora del estudio de abogados Bueno Lercari Consultores.</p>"
                    data-url="www.google.com.pe"
                    data-bandera="static/web_2/img/credicorp/expositor-pais.svg"
                    data-img="static/web_2/img/credicorp/imgericka1.png">
                    <span class="tag">Keynote</span>
                    <figure>
                        <img src="static/web_2/img/credicorp/imgericka1.png" alt="" width="280">
                    </figure>
                    <div class="b5Text">
                        <h4>Julia Ramos</h4>
                        <h5>Servicios Forenses</h5>
                    </div>
                </a>
                
                <a  href="#" class="b25OpenPopupPerson b5Item swiper-slide zoomImageHover swiper-slide"
                    data-name="Rosa Bueno"
                    data-cargo="Presidenta / Camara de Comercio de Lima"
                    data-info="<p>Abogada egresada de la Pontificia Universalidad Católica del Perú (PUCP), experta en Competencia, Compliance y Arbitraje. Además, es socia fundadora del estudio de abogados Bueno Lercari Consultores.Abogada egresada de la Pontificia Universalidad Católica del Perú (PUCP), experta en Competencia, Compliance y Arbitraje. Además, es socia fundadora del estudio de abogados Bueno Lercari Consultores.</p>"
                    data-url="www.google.com.pe"
                    data-bandera="static/web_2/img/credicorp/expositor-pais.svg"
                    data-img="static/web_2/img/credicorp/imgericka1.png">
                    <span class="tag">Keynote</span>
                    <figure>
                        <img src="static/web_2/img/credicorp/imgericka1.png" alt="" width="280">
                    </figure>
                    <div class="b5Text">
                        <h4>Julia Ramos</h4>
                        <h5>Servicios Forenses</h5>
                    </div>
                </a>
                
                <a  href="#" class="b25OpenPopupPerson b5Item swiper-slide zoomImageHover swiper-slide"
                    data-name="Rosa Bueno"
                    data-cargo="Presidenta / Camara de Comercio de Lima"
                    data-info="<p>Abogada egresada de la Pontificia Universalidad Católica del Perú (PUCP), experta en Competencia, Compliance y Arbitraje. Además, es socia fundadora del estudio de abogados Bueno Lercari Consultores.Abogada egresada de la Pontificia Universalidad Católica del Perú (PUCP), experta en Competencia, Compliance y Arbitraje. Además, es socia fundadora del estudio de abogados Bueno Lercari Consultores.</p>"
                    data-url="www.google.com.pe"
                    data-bandera="static/web_2/img/credicorp/expositor-pais.svg"
                    data-img="static/web_2/img/credicorp/imgericka1.png">
                    <span class="tag">Keynote</span>
                    <figure>
                        <img src="static/web_2/img/credicorp/imgericka1.png" alt="" width="280">
                    </figure>
                    <div class="b5Text">
                        <h4>Julia Ramos</h4>
                        <h5>Servicios Forenses</h5>
                    </div>
                </a>
                
            </div>
        </div>
        <div class="b5Nav gNav">
            <div class="b5Prev gPrev"></div>
            <div class="b5Next gNext"></div>
        </div>
    </div>
</section>

<div class="b25Popup">
    <a href="#" class="b25ClosePopup icon-close"></a>
    <div class="b25PopupImage">
        <figure class="">
            <img src="" class="b25Popupimg" width="1920" height="713"  alt="Myimage">
        </figure>
    </div>
    <div class="b25InfoPopup f aic jcfs">
        <div class="b25InfoPopupContent">
            <div class="b25TopName">
                <h3 class="b25PopupName gTitle">Miguel Yagüe</h3>
                <img  class="b25PopupBandera"  alt="">
            </div>
            <h4 class="b25PopupCargo">Senior Advisor - Boston Consulting Group</h4>
            <!-- Si la info crece se genera un scroll -->
            <div class="gParrafo b25PopupText white">
            </div>
            <a href="#" class="b25linkedin">Ver perfil en Linkedin <i class="icon-arrowRight"></i></a>
        </div>
    </div>
</div>

<section class="b6 pY scrollWrap anclaBlock" id="blog">
    <div class="grilla scrollItem">
        <div class="b6Top f aic jcsb ">
            <h4 class="gTitle"><span>NOVEDADES</span>Insights Ágiles: Blog de Agility Summit</h4>
            <a href="#" class="gButton">Visitar blog</a>
        </div>
        <div class="b6Wrap g column2 column1-768">
            <div class="b6Left">
                <div class="b6Item zoomImageHover">
                    <img src="static/web_2/img/credicorp/home-b2-img1.png" alt="">
                    <div class="b6Info">
                        <p class="date">24 de Noviembre</p>
                        <p class="name">La Transformación Digital en 2025:Cómo la Agilidad Impulsa la Innovación</p>
                    </div>
                </div>
            </div>
            <div class="b6Right g">
                <div class="b6Item zoomImageHover">
                    <img src="static/web_2/img/credicorp/home-b2-img1.png" alt="">
                    <div class="b6Info">
                        <p class="date">24 de Noviembre</p>
                        <p class="name">La Transformación Digital en 2025:Cómo la Agilidad Impulsa la Innovación</p>
                    </div>
                </div>
                <div class="b6Item zoomImageHover">
                    <img src="static/web_2/img/credicorp/home-b2-img1.png" alt="">
                    <div class="b6Info">
                        <p class="date">24 de Noviembre</p>
                        <p class="name">La Transformación Digital en 2025:Cómo la Agilidad Impulsa la Innovación</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="b7 pY scrollWrap anclaBlock" id="empresa">
    <div class="grilla scrollItem">
        <h4 class="gTitle tac"><span>EMPRESAS</span>Con la participación de</h4>
        <div class="b7Wrap column5 column4-1024 column3-768 column2-480">
            <div class="b7Item">
                <figure>
                    <img src="static/web_2/img/credicorp/home-b7-img1.png" alt="">
                </figure>
            </div>
            <div class="b7Item">
                <figure>
                    <img src="static/web_2/img/credicorp/home-b7-img2.png" alt="">
                </figure>
            </div>
            <div class="b7Item">
                <figure>
                    <img src="static/web_2/img/credicorp/home-b7-img3.png" alt="">
                </figure>
            </div>
            <div class="b7Item">
                <figure>
                    <img src="static/web_2/img/credicorp/home-b7-img4.png" alt="">
                </figure>
            </div>
            <div class="b7Item">
                <figure>
                    <img src="static/web_2/img/credicorp/home-b7-img5.png" alt="">
                </figure>
            </div>
            <div class="b7Item">
                <figure>
                    <img src="static/web_2/img/credicorp/home-b7-img6.png" alt="">
                </figure>
            </div>
            <div class="b7Item">
                <figure>
                    <img src="static/web_2/img/credicorp/home-b7-img7.png" alt="">
                </figure>
            </div>
            <div class="b7Item">
                <figure>
                    <img src="static/web_2/img/credicorp/home-b7-img8.png" alt="">
                </figure>
            </div>
            <div class="b7Item">
                <figure>
                    <img src="static/web_2/img/credicorp/home-b7-img9.png" alt="">
                </figure>
            </div>
            <div class="b7Item">
                <figure>
                    <img src="static/web_2/img/credicorp/home-b7-img10.png" alt="">
                </figure>
            </div>
        </div>
    </div>
</section>


{% endblock %}

{% block jsfinal %}
<script src="static/web_2/js/swiper/swiper-bundle.min.js"></script>
<script type="text/javascript">

    //bloque 3 - js
    eventCountAnimate("elb2","b2Number",3,1)

    document.addEventListener('DOMContentLoaded', function () {
    const selects = document.querySelectorAll('.b4ClickSelect');

    selects.forEach(clickSelect => {
        clickSelect.addEventListener('click', function (e) {
            e.preventDefault();
            e.stopPropagation(); 

            document.querySelectorAll('.b4ItemSelect').forEach(item => {
                item.classList.remove('active');
                const link = item.querySelector('.b4ClickSelect');
                if (link) link.classList.remove('active');
            });

            const parent = this.closest('.b4ItemSelect');
            if (parent) parent.classList.add('active');
            this.classList.add('active');
        });

        const parent = clickSelect.closest('.b4ItemSelect');
        const items = parent.querySelectorAll('ul li a');
        const nameDisplay = clickSelect.querySelector('.name');

        items.forEach(item => {
            item.addEventListener('click', function (e) {
                e.preventDefault();
                e.stopPropagation();

                nameDisplay.textContent = this.textContent;
                 // *********** AQUÍ PUEDES HACER AJAX *******
                parent.classList.remove('active');
                clickSelect.classList.remove('active');
            });
        });
    });

    document.addEventListener('click', function () {
            document.querySelectorAll('.b4ItemSelect').forEach(item => {
                item.classList.remove('active');
                const link = item.querySelector('.b4ClickSelect');
                if (link) link.classList.remove('active');
            });
        });
    });


    eventClickAccordion('b4ItemCLick')
    document.querySelectorAll('.reproducir, .agendar').forEach(btn => {
        btn.addEventListener('click', function(e) {
            e.stopPropagation(); 
        });
    });


       //************b5-js*******************
	let elSwiperb5 = document.getElementsByClassName('b5Swiper')[0].dataset.initial
    const breakpoint = window.matchMedia('(max-width: 1024px)');
    const breakpointChecker = () => {
        let getCountItems = document.getElementsByClassName('b5Item').length;
        console.log(getCountItems);
        breakpoint.matches === true ? 
            (getCountItems >= 2 ? enableSwiper(elSwiperb5) : destroySwiper()): 
            (getCountItems > elSwiperb5 ? enableSwiper(elSwiperb5) : destroySwiper())
    }
    let mySwiper;
    let elWrapSwiperb5 = document.getElementsByClassName('b5')[0]
    const destroySwiper = () =>{
		elWrapSwiperb5.classList.add('noSwiper')
		elWrapSwiperb5.classList.remove('swiperActive')
        if(mySwiper !== undefined) {
            return mySwiper.destroy(true,true);
        }
    }
    const enableSwiper = (initial) => {
		elWrapSwiperb5.classList.remove('noSwiper')
		elWrapSwiperb5.classList.add('swiperActive')
        mySwiper = new Swiper ('.b5Swiper', {
            loop: true,
            spaceBetween: 24,
            centeredSlides: true,
            disableOnInteraction: false,
            pagination: {
                el: '.b5Pagination',
                type: 'bullets',
                clickable: true
            },
			autoplay: {
				delay: 5000,
			},
            navigation: {
                nextEl: '.b5Next',
                prevEl: '.b5Prev',
            },
            breakpoints:{
                1024:{
                   slidesPerView: 'auto',
                   spaceBetween: 24,
                },
                768:{
                   slidesPerView: 'auto',
                   spaceBetween: 24,
                },
                320:{
                   slidesPerView: 'auto',
                   spaceBetween: 24,
                }
            }
        });
        
    };
    breakpoint.addListener(breakpointChecker);
    breakpointChecker();


    let elb25OpenPopupPerson = document.getElementsByClassName("b25OpenPopupPerson")
    let elb25PopupName = document.getElementsByClassName("b25PopupName")[0];
    let elb25Popupimg = document.getElementsByClassName("b25Popupimg")[0];
    let elb25PopupCargo = document.getElementsByClassName("b25PopupCargo")[0];
    let elb25PopupText = document.getElementsByClassName("b25PopupText")[0];
    let elb25linkedin = document.getElementsByClassName("b25linkedin")[0];
    let elb25Popup = document.getElementsByClassName("b25Popup")[0];
    let elb25ClosePopup = document.getElementsByClassName("b25ClosePopup")[0];
    let elb25PopupBandera = document.getElementsByClassName("b25PopupBandera")[0];

    for(const b25OpenPopupPerson of elb25OpenPopupPerson){
        b25OpenPopupPerson.addEventListener("click",function(e){
            e.preventDefault();
            elb25Popup.classList.add('active');
            OVERLAY.classList.add('active');
            OVERLAY.style.zIndex = 500
            let getName = this.dataset.name;
            let getCargo = this.dataset.cargo;
            let getInfo = this.dataset.info;
            let getUrl = this.dataset.url;
            let getImg = this.dataset.img;
            let getBander = this.dataset.bandera;

            elb25PopupName.innerText = getName;
            elb25PopupCargo.innerText = getCargo;
            elb25Popupimg.setAttribute('src',getImg);
            elb25PopupText.innerHTML = getInfo;
            elb25linkedin.setAttribute("href",getUrl);
            elb25PopupBandera.setAttribute("src",getBander);
        });
    }

    elb25ClosePopup.addEventListener("click",function(e){
        e.preventDefault();
        this.parentNode.classList.remove('active')
        OVERLAY.removeAttribute("style");
        OVERLAY.classList.remove('active')
    });


    if(document.getElementsByClassName('b22')[0]){
        function actualizarContador() {
            const fechaObjetivoString = document.getElementById("contador").getAttribute("data-date");
            const [fecha, hora] = fechaObjetivoString.split(' ');
            const [dia, mes, año] = fecha.split('-');
            const fechaObjetivoISO = `${año}-${mes}-${dia}T${hora}`;
            const fechaObjetivo = new Date(fechaObjetivoISO);
            const ahora = new Date();
            const diferencia = fechaObjetivo - ahora;
            if (diferencia > 0) {
                const dias = Math.floor(diferencia / (1000 * 60 * 60 * 24));
                const horas = Math.floor((diferencia % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                const minutos = Math.floor((diferencia % (1000 * 60 * 60)) / (1000 * 60));
                const segundos = Math.floor((diferencia % (1000 * 60)) / 1000);
                document.getElementById("dias").innerText = dias.toString().padStart(2, "0");
                document.getElementById("horas").innerText = horas.toString().padStart(2, "0");
                document.getElementById("minutos").innerText = minutos.toString().padStart(2, "0");
                document.getElementById("segundos").innerText = segundos.toString().padStart(2, "0");
            } else {
                document.getElementById("dias").innerText = "00";
                document.getElementById("horas").innerText = "00";
                document.getElementById("minutos").innerText = "00";
                document.getElementById("segundos").innerText = "00";
            }
        }
        setInterval(actualizarContador, 1000);
    }
    
    let elb1CloseMapa = document.getElementsByClassName('b1CloseMapa')[0]
    let elb1Bottom = document.getElementsByClassName('b1Bottom')[0]
    let elb1PopupInfo = document.getElementsByClassName('b1PopupInfo')[0]

    elb1Bottom.addEventListener('click',function(e){
        e.preventDefault();
        elb1PopupInfo.classList.add('active')
        OVERLAY.classList.add('active')
        OVERLAY.style.zIndex = 100
    })
    elb1CloseMapa.addEventListener('click',function(e){
        e.preventDefault();
        elb1PopupInfo.classList.remove('active')
        OVERLAY.classList.remove('active')
        OVERLAY.removeAttribute('style')
    })
    
</script>
{% endblock %}
