@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?c7l5mf');
	src:url('../fonts/icomoon.eot?#iefixc7l5mf') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?c7l5mf') format('truetype'),
		url('../fonts/icomoon.woff?c7l5mf') format('woff'),
		url('../fonts/icomoon.svg?c7l5mf#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-face:before {
  content: "\e903";
  color: #b9b9b9;
}
.icon-google:before {
  content: "\e904";
  color: #b9b9b9;
}
.icon-linkedin:before {
  content: "\e905";
  color: #b9b9b9;
}
.icon-arrow-right:before {
  content: "\e902";
  color: #e6e8ed;
}
.icon-ocultar:before {
  content: "\e900";
}
.icon-mostrar:before {
  content: "\e901";
}
.icon-lupa:before {
  content: "\e929";
}
.icon-marker:before {
  content: "\e908";
}
.icon-play:before {
  content: "\e90e";
}
.icon-less:before {
  content: "\e911";
}
.icon-car:before {
  content: "\e917";
}
.icon-tiktok:before {
  content: "\e919";
}
.icon-twitter:before {
  content: "\e91f";
}
.icon-whatsapp:before {
  content: "\e920";
}
.icon-youtube:before {
  content: "\e921";
}
.icon-more:before {
  content: "\e922";
}
.icon-arrowLeft:before {
  content: "\e923";
}
.icon-arrowRight:before {
  content: "\e924";
}
.icon-calendar:before {
  content: "\e926";
}
.icon-tel:before {
  content: "\e92a";
}
.icon-download:before {
  content: "\e934";
}
.icon-remove:before {
  content: "\e937";
}
.icon-facebook:before {
  content: "\e93a";
}
.icon-instagram:before {
  content: "\e93d";
}
.icon-documents:before {
  content: "\e93e";
}
.icon-link:before {
  content: "\e940";
}
.icon-linkedin1:before {
  content: "\e941";
}
.icon-check:before {
  content: "\e91a";
}
.icon-close:before {
  content: "\e605";
}
.icon-menu:before {
  content: "\e602";
}
.icon-arrowDown:before {
  content: "\e608";
}
.icon-arrowUp:before {
  content: "\e609";
}
