{% extends "landing_3/common/_base.html" %}

{% block cssadicional %}
<link rel="stylesheet" href="/static/web_3/js/swiper/swiper-bundle.min.css">
{% endblock %}

{% block classbody %}pageHome{% endblock %}

{% block content %}


<section class="b1">
    <!-- <picture class="imgCover">
        <source srcset="/static/web_3/img/credicorp/home-b1-imgDesktop.png" media="(max-width: 767px)">
        <source srcset="/static/web_3/img/credicorp/home-b1-imgDesktop.png" media="(max-width: 768px)">
        <img src="/static/web_3/img/credicorp/home-b1-imgDesktop.png" width="1920" height="713"  alt="Myimage">
    </picture> -->
    <div class="grilla">
        <div class="b1Info">
            <div class="b1Top f aife jcsb fdc-768">
                <div class="b1InfoTopLeft f aife jcfs fdc-480">
                    <img src="/static/web_3/img/credicorp/home-b1-imgLogo.png" alt="" width="650" class="imgLogo">
                    <a href="#" class="button" id="b1ButtonRegister">Registrate</a>
                </div>
                <div class="b1InfoTopRight">
                    <img src="/static/web_3/img/credicorp/home-b1-fecha.png" alt="">
                </div>
            </div>
            <div class="b1Bottom">
                <h3>Transformando el ciclo del desarrollo de software</h3>
                <div class="gParrafo">
                    <p>Es un evento que reunirá conversaciones con líderes y referentes del sector en un encuentro completo, colaborativo e inspirador. Conéctate con el ecosistema tecnológico global mediante una experiencia diseñada para compartir conocimiento en torno a tendencias clave del sector.</p>
                </div>
            </div>
        </div>
    </div>
    <img src="/static/web_3/img/credicorp/home-b1-imgBottom.png" alt="" class="imgAbsolute">
</section>

<section class="b2 mY scrollWrap anclaBlock" id="acerca">
    <div class="grilla scrollItem">
        <div class="b2Wrap f aifs jscb fdc-768">
            <div class="b2Left">
                <h2>Agenda</h2>
            </div>
            <div class="b2Right">
                    <div class="b2ItemRight f aifs jcsb fdc-480">
                        <div class="b2LeftInfo">
                            <h4>La clave para desarrolladores Felices</h4>
                            <p>IDPʼs que transforman la experiencia Dev</p>
                        </div>
                        <div class="b2RightInfo">
                            <p class="hour">9:55 a.m. a 10:30 a.m.</p>
                            <img src="/static/web_3/img/credicorp/bandera-arg.png" alt="">
                            <div class="b2Name">
                                <p class="name">Rossana Suarez</p>
                                <p class="cargo">Naranja X - Argentina | Tech Lead DevOps</p>
                            </div>
                        </div>
                    </div>
                    <div class="b2ItemRight f aifs jcsb fdc-480">
                        <div class="b2LeftInfo">
                            <h4>La clave para desarrolladores Felices</h4>
                            <p>IDPʼs que transforman la experiencia Dev</p>
                        </div>
                        <div class="b2RightInfo">
                            <p class="hour">9:55 a.m. a 10:30 a.m.</p>
                            <img src="/static/web_3/img/credicorp/bandera-arg.png" alt="">
                            <div class="b2Name">
                                <p class="name">Rossana Suarez</p>
                                <p class="cargo">Naranja X - Argentina | Tech Lead DevOps</p>
                            </div>
                        </div>
                    </div>
                    <div class="b2ItemRight f aifs jcsb fdc-480">
                        <div class="b2LeftInfo">
                            <h4>La clave para desarrolladores Felices</h4>
                            <p>IDPʼs que transforman la experiencia Dev</p>
                        </div>
                        <div class="b2RightInfo">
                            <p class="hour">9:55 a.m. a 10:30 a.m.</p>
                            <img src="/static/web_3/img/credicorp/bandera-arg.png" alt="">
                            <div class="b2Name">
                                <p class="name">Rossana Suarez</p>
                                <p class="cargo">Naranja X - Argentina | Tech Lead DevOps</p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>

<section class="b3 mY scrollWrap" id="speakers">
    <div class="grilla">
        <div class="b3Top f aic jcsb scrollItem fdc-480 aifs-768">
            <h2>Speakers</h2>
            <div class="gParrafo">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                    nonummy</p>
            </div>
        </div>
        <div class="gSwiperContent">
            <div class="b3Swiper swiper-container scrollItem swiper" data-initial="3">
                <div class="b3Wrap swiper-wrapper">
                    {% for row in exhibitors %}
                    <div class="b3Item b3ItemClickPopup swiper-slide" data-image="/static/web_3/img/credicorp/home-b3-imgPerson.png" data-logo="/static/web_3/img/credicorp/home-b3-imgLogoPopup.png" data-pais="/static/web_3/img/credicorp/expositor-pais.svg" data-name="Miguel Yagüe" data-cargo="Senior Advisor - Boston Consulting Group" data-text="<p>Licenciado en Economía con Premio Extraordinario por la Universidad de Barcelona y Máster en Economía y Finanzas por el Centro de Estudios Monetarios y Financieros del Banco de España (CEMFI). Más de veinte años como consultor estratégico en el ámbito de riesgos y finanzas para supervisores y bancos líderes internacionales. Ha sido socio y director de la práctica de Finanzas y Riesgos de Oliver Wyman en España y Portugal. Actualmente, es Senior Advisor en Boston Consulting Group. Profesor Asociado de Análisis Económico en la Universidad Complutense de Madrid y además de macroeconomía en IE University y Riesgos Bancarios en CUNEF.</p>">
                        <figure>
                            <img src="/static/web_3/img/credicorp/home-b3-imgPerson.png" alt="">
                        </figure>
                        <div class="b3Info">
                            <div class="b3Name f aic jcc">
                                <p class="name">Nombre y 
                                    Apellido</p>
                                <img src="/static/web_3/img/credicorp/expositor-pais.svg" alt="">
                            </div>
                            <p class="cargo">Senior Advisor - Boston 
                                Consulting Group</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- pagination dots -->
                <div class="b3Pagination gPagination"></div>
                <!-- nav prev and next -->
            </div>
            <!-- <div class="b3Nav gNav">
                <div class="b3Prev gPrev"></div>
                <div class="b3Next gNext"></div>
            </div> -->
        </div>
    </div>
</section>

<!-- POPUP  -->

<div class="b3Popup">
    <a href="#" class="b3ClosePopup icon-close"></a>
    <div class="b3PopupTop f aic jcsb fdc-480">
        <div class="b3PopupTopLeft">
            <figure>
                <img src="" alt="" class="b3PopupImage">
            </figure>
        </div>
        <div class="b3PopupTopRight f fdc aifs jcsb">
            <div class="b3Logo">
                <img src="" alt="" class="b3PopupLogo">
                <!-- Info para el segundo formato de popup -->
                <p class="b3PopupTaller"></p>
                <p class="b3PopupTallerName"></p>
            </div>
            <div clasBottomLeft">
                <div class="b3PopupNameWrap f aic jcsb">
                    <img src="" alt="" class="b3PopuPais">
                    <p  class="b3PopupName"></p>
                </div>
                <p class=" b3PopupCargo"></p>
            </div>
        </div>
    </div>
    <div class="b3PopupText">
    </div>
    <div class="b3PopupBottom f aic jcsb">
        <div class="b3PopupBottomLeft f aic jcfs fdc-480 aifs-480">
            <p class="b3PopupDate">16 de enero</p>
            <p class="b3PopupHour">10:00</p>
        </div>
        <a href="#" class="b3PopupButton"></a>
    </div>
</div>

<section class="b4 mY scrollWrap" id="talleres">
    <div class="grilla f aifs jcsb scrollItem fdc-768 ">
        <div class="b4Left">
            <div class="buttonGradient"> <span class="button">Cupos Limitados</span></div>
            <img src="/static/web_3/img/credicorp/home-b4-imgLogo.png" alt="">
        </div>
        <div class="b4Right">
            {% for row in workshops %}
                <div class="b3ItemClickPopup b4RighItem f aic jcsb fdc-480"
                data-image="/static/web_3/img/credicorp/home-b3-imgPopup.png"
                data-pais="/static/web_3/img/credicorp/expositor-pais.svg"
                data-name="Miguel Yagüe"
                data-cargo="Senior Advisor - Boston Consulting Group"
                data-text="<p>{{row.description}}</p>"
                data-taller="Taller"
                data-taller-name="IA Generativa"
                data-url-inscribete="url"
                data-inscrito="false"
                data-aforo="true"
                data-hour="20:30"
                data-date="16 de febrero">
                    <div class="b4ItemInfo">
                        <div class="b4ItemInfoContent">
                            <p>{{row.title}}</p>
                            <p class="info">{{row.name}}</p>
                        </div>
                    </div>
                    <div class="b4ItemImage">
                        <img src="{{row.image.url}}" alt="">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="b5 mY scrollWrap" id="preguntas">
    <div class="grilla scrollItem">
        <h4>Preguntas Frecuentes</h4>
        <div class="b5List">
            {% for row in frequently_questions %}
                <div class="b5Item">
                    <a href="#" class="b5ItemClick arrowClick">{{row.name}}</a>
                    <div class="b5Info">
                        <div class="gParrafo">
                            <p>{{row.answer}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}

{% block jsfinal %}
<script src="/static/web_3/js/swiper/swiper-bundle.min.js"></script>
<script type="text/javascript">

    let elSwiperb3 = document.getElementsByClassName('b3Swiper')[0].dataset.initial
    const breakpointb3 = window.matchMedia('(max-width: 1024px)');
    const breakpointCheckerb3 = () => {
        let getCountItemsb3 = document.getElementsByClassName('b3Item').length;
        breakpointb3.matches === true ? 
            (getCountItemsb3 >= 2 ? enableSwiperb3(elSwiperb3) : destroySwiperb3()): 
            (getCountItemsb3 > elSwiperb3 ? enableSwiperb3(elSwiperb3) : destroySwiperb3())
    }
    let mySwiperb3;
    let elWrapSwiperb3 = document.getElementsByClassName('b3')[0]
    const destroySwiperb3 = () =>{
		elWrapSwiperb3.classList.add('noSwiper')
		elWrapSwiperb3.classList.remove('swiperActive')
        if(mySwiperb3 !== undefined) {
            return mySwiperb3.destroy(true,true);
        }
    }
    const enableSwiperb3 = (initial) => {
		elWrapSwiperb3.classList.remove('noSwiper')
		elWrapSwiperb3.classList.add('swiperActive')
        mySwiperb3 = new Swiper ('.b3Swiper', {
            loop: false,
            spaceBetween: 24,
            centeredSlides: false,
            pagination: {
                el: '.b3Pagination',
                type: 'bullets',
                clickable: true
            },
            navigation: {
                nextEl: '.b3Next',
                prevEl: '.b3Prev',
            },
            breakpoints:{
                1024:{
                   slidesPerView: initial,
                   spaceBetween: 24,
                },
                768:{
                   slidesPerView: 2,
                   spaceBetween: 24,
                },
                320:{
                   slidesPerView: 1,
                   spaceBetween: 24,
                }
            }
        });
        
    };
    breakpointb3.addListener(breakpointCheckerb3);
    breakpointCheckerb3();


    document.addEventListener("DOMContentLoaded", () => {
    const items = document.querySelectorAll(".b3ItemClickPopup");
    const popup = document.querySelector(".b3Popup");

    const popupImage = popup.querySelector(".b3PopupImage");
    const popupLogo = popup.querySelector(".b3PopupLogo");
    const popupPais = popup.querySelector(".b3PopuPais");
    const popupName = popup.querySelector(".b3PopupName");
    const popupCargo = popup.querySelector(".b3PopupCargo");
    const popupText = popup.querySelector(".b3PopupText");
    const popupTaller = popup.querySelector(".b3PopupTaller");
    const popupTallerName = popup.querySelector(".b3PopupTallerName"); 
    const popupButton = popup.querySelector(".b3PopupButton"); 
    const popupDate = popup.querySelector(".b3PopupDate"); 
    const popupHour = popup.querySelector(".b3PopupHour"); 

    items.forEach(item => {
        item.addEventListener("click", () => {
            const image = item.getAttribute("data-image");
            const logo = item.getAttribute("data-logo");
            const pais = item.getAttribute("data-pais");
            const name = item.getAttribute("data-name");
            const cargo = item.getAttribute("data-cargo");
            const text = item.getAttribute("data-text");
            const taller = item.getAttribute("data-taller");
            const tallerName = item.getAttribute("data-taller-name");
            const urlIncribete = item.getAttribute("data-url-inscribete");
            const booleanInscrito = item.getAttribute("data-inscrito");
            const booleanAforo = item.getAttribute("data-aforo");
            const date = item.getAttribute('data-hour')
            const hour = item.getAttribute('data-date')

            popupButton.href = ""
            popupTaller.textContent = ""
            popupTallerName.textContent = ""

            if(date){
                popupDate.textContent = date
                popupDate.style.display = 'block'
            }else{
                popupDate.textContent = ""
                popupDate.style.display = 'none'
            }

            if(hour){
                popupHour.textContent = hour
                popupHour.style.display = 'block'
            }else{
                popupHour.textContent = ""
                popupHour.style.display = 'none'
            }

            // Imagen
            if (image) {
                popupImage.src = image;
                popupImage.style.display = "block";
            } else {
                popupImage.removeAttribute("src");
                popupImage.style.display = "none";
            }

            // Logo
            if (logo) {
                popupLogo.src = logo;
                popupLogo.style.display = "block";
                popupLogo.parentElement.classList.remove('taller')
            } else {
                popupLogo.removeAttribute("src");
                popupLogo.style.display = "none";
            }

            // País
            if (pais) {
                popupPais.src = pais;
                popupPais.style.display = "inline-block";
            } else {
                popupPais.removeAttribute("src");
                popupPais.style.display = "none";
            }

            // Nombre
            if (name) {
                popupName.textContent = name;
                popupName.style.display = "block";
            } else {
                popupName.textContent = "";
                popupName.style.display = "none";
            }

            // Cargo
            if (cargo) {
                popupCargo.textContent = cargo;
                popupCargo.style.display = "block";
            } else {
                popupCargo.textContent = "";
                popupCargo.style.display = "none";
            }

            // Texto
            if (text) {
                popupText.innerHTML = text;
                popupText.style.display = "block";
            } else {
                popupText.innerHTML = "";
                popupText.style.display = "none";
            }

            // Taller
            if (taller) {
                popupTaller.style.display = "block";
                popupTaller.textContent = taller || "";
                popupTaller.parentElement.classList.add('taller')
            } else {
                popupTaller.style.display = "none";
            }
            // Taller Nombre
            if (tallerName) {
                
                popupTallerName.style.display = "block";
                popupTallerName.textContent = tallerName || "";
            } else {
                popupTallerName.style.display = "none";
            }
            // Url de inscrpciòn
            if(urlIncribete){
                popupButton.style.display = "flex";
                popupButton.href = urlIncribete || "";
                if(booleanInscrito === "true"){
                    console.log('true')
                    popupButton.classList.add('inscrito')
                    popupButton.textContent = 'Inscrito' || "";
                }else{
                    console.log('false')
                    popupButton.classList.remove('inscrito')
                    popupButton.textContent = 'Inscríbete' || "";
                }
                if(booleanAforo === "false"){
                    popupButton.textContent = 'Agotado' || "";
                    popupButton.classList.add('aforo-close')
                }
            }else{
                popupButton.style.display = "none";
            }
            popup.classList.add("active");
            OVERLAY.classList.add("active");
            OVERLAY.style.zIndex = 200;
        });
    });

    const closeBtn = popup.querySelector(".b3ClosePopup");
    closeBtn.addEventListener("click", (e) => {
        e.preventDefault();
        popup.classList.remove("active");
        OVERLAY.classList.remove("active");
        OVERLAY.removeAttribute("style");
    });
});


eventClickAccordion("b5ItemClick")
    

</script>
{% endblock %}
