{% extends "landing_3/common/_base.html" %}

{% block cssadicional %}
<link rel="stylesheet" href="/static/web_3/js/swiper/swiper-bundle.min.css">
{% endblock %}

{% block classbody %}pageHome{% endblock %}

{% block content %}

<a href="#" class="gAncla icon-arrow-right" id="backToTop"></a>

<section class="b1">
    <!-- <picture class="imgCover">
        <source srcset="/static/web_3/img/credicorp/home-b1-imgDesktop.png" media="(max-width: 767px)">
        <source srcset="/static/web_3/img/credicorp/home-b1-imgDesktop.png" media="(max-width: 768px)">
        <img src="/static/web_3/img/credicorp/home-b1-imgDesktop.png" width="1920" height="713"  alt="Myimage">
    </picture> -->
    <div class="grilla">
        <div class="b1Info">
            <div class="b1Top f aife jcsb fdc-768">
                <div class="b1InfoTopLeft f aife jcfs fdc-480">
                    <img src="{{home_page.image_banner.url}}" alt="" width="650" class="imgLogo">
                    {% comment %} {% if not logged_user %}
                    <a href="#" class="button" id="b1ButtonRegister">{{header_section.register_title}}</a>
                    {% endif %} {% endcomment %}
                </div>
                <div class="b1InfoTopRight">
                    <img src="{{home_page.banner_second_section_image.url}}" alt="">
                </div>
            </div>
            <div class="b1Bottom">
                <h3>{{home_page.main_title}}</h3>
                <div class="gParrafo">
                    <p>{{home_page.banner_description}}</p>
                </div>
            </div>
        </div>
    </div>
    <img src="{{home_page.banner_footer_section_image.url}}" alt="" class="imgAbsolute">
</section>
{% if company.use_counter%}
    <section class="b22">
        <div class="grilla">
            <h3>{{company.counter_text}}</h3>
            <div id="contador" data-date="{{company.set_counter_time}}">
                <div class="elemento">
                    <span id="dias">00</span>
                    <p>DÍAS</p>
                </div>
                <div class="elemento">
                    <span id="horas">00</span>
                    <p>HORAS</p>
                </div>
                <div class="elemento">
                    <span id="minutos">00</span>
                    <p>MINUTOS</p>
                </div>
                <div class="elemento">
                    <span id="segundos">00</span>
                    <p>SEGUNDOS</p>
                </div>
            </div>
        </div>
    </section>
{% endif %}

{% if header_section.show_exhibitors_section %}
<section class="b3 mY scrollWrap anclaBlock" id="expositor">
    <div class="grilla">
        <div class="b3Top f aic jcsb scrollItem fdc-480 aifs-768">
            <h2>{{home_page.exhibitors_section_name}}</h2><br>
            <div class="gParrafo">
                <p>{{home_page.exhibitors_section_title}}</p>
            </div>
        </div>
        <div class="gSwiperContent">
            <div class="b3Swiper swiper-container scrollItem swiper" data-initial="3">
                <div class="b3Wrap swiper-wrapper">
                    {% for ex in exhibitors %}
                    <div class="b3Item b3ItemClickPopup swiper-slide"
                    data-image="{{ex.image.url}}"
                    data-logo="/static/web_3/img/credicorp/home-b3-imgLogoPopup.png"
                    {% if ex.flag_image %}
                        data-pais="{{ex.flag_image.url}}"
                    {% else %}
                        data-pais="/static/web_3/img/credicorp/bandera-per.png"
                    {% endif %}
                    data-name="{{ex.name}}"
                    data-cargo="{{ex.title}} - {{ex.organization}}"
                    data-linkedin="{{ex.link}}"
                    data-text="{{ex.description|safe}}">
                        <figure>
                            <img src="{{ex.image.url}}" alt="">
                        </figure>
                        <div class="b3Info">
                            <div class="b3Name f aic jcc">
                                <p class="name">{{ex.name}}</p>
                                {% if ex.flag_image %}
                                    <img src="{{ex.flag_image.url}}" alt="">
                                {% else %}
                                    <img src="/static/web_3/img/credicorp/bandera-per.png" alt="">
                                {% endif %}
                            </div>
                            <p class="cargo">{{ex.title}} - {{ex.organization}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- pagination dots -->
                <div class="b3Pagination gPagination"></div>
                <!-- nav prev and next -->
            </div>
            <!-- <div class="b3Nav gNav">
                <div class="b3Prev gPrev"></div>
                <div class="b3Next gNext"></div>
            </div> -->
        </div>
    </div>
</section>
{% endif %}

{% if header_section.show_schedule_section %}
<section class="b2 mY scrollWrap anclaBlock" id="agenda">
    <div class="grilla scrollItem">
        <div class="b2Wrap f aifs jscb fdc-768">
            <div class="b2Left">
                <h2>{{home_page.schedule_section_name}}</h2>
            </div>
            <div class="b2Right">
                {% for schedule in schedules %}
                    <div class="b2ItemRight f aifs jcsb fdc-480">
                        <div class="b2LeftInfo">
                            <h4>{{schedule.name}}</h4>
                            <p>{{schedule.start_time}} a {{schedule.end_time}}</p>
                            <p>{{schedule.description|safe}}</p>
                        </div>
                        <div class="b2RightInfo">
                            {% comment %} <p class="hour">{{schedule.start_time}} a {{schedule.end_time}}</p> {% endcomment %}
                            <div class="b2ExpositorWrap">
                                {% for exhibitor in schedule.get_exhibitors %}
                                    <div class="b2Expositor f aic jcfs">
                                        {% if exhibitor.flag_image %}
                                            <img src="{{exhibitor.flag_image.url}}" alt="">
                                        {% else %}
                                            <img src="/static/web_3/img/credicorp/bandera-per.png" alt="">
                                        {% endif %}
                                        <div class="b2Name b3ItemClickPopup"
                                        data-image="{{exhibitor.image.url}}"
                                        data-logo="/static/web_3/img/credicorp/home-b3-imgLogoPopup.png"
                                        {% if exhibitor.flag_image %}
                                            data-pais="{{exhibitor.flag_image.url}}"
                                        {% else %}
                                            data-pais="/static/web_3/img/credicorp/bandera-per.png"
                                        {% endif %}
                                        data-name="{{exhibitor.name}}"
                                        data-linkedin="{{exhibitor.link}}"
                                        data-cargo="{{exhibitor.title}} - {{exhibitor.organization}}"
                                        data-text="{{exhibitor.description|safe}}">
                                            <p class="name">{{exhibitor.name}}</p>
                                            <p class="cargo">{{exhibitor.organization}}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}

<!-- POPUP  -->

<div class="b3Popup">
    <a href="#" class="b3ClosePopup icon-close"></a>
    <div class="b3PopupTop f aic jcsb fdc-480">
        <div class="b3PopupTopLeft">
            <figure>
                <img src="" alt="" class="b3PopupImage">
            </figure>
        </div>
        <div class="b3PopupTopRight f fdc aifs jcsb">
            <div class="b3Logo">
                <img src="" alt="" class="b3PopupLogo">
                <!-- Info para el segundo formato de popup -->
                <p class="b3PopupTaller"></p>
                <p class="b3PopupTallerName"></p>
            </div>
            <div class="BottomLeft">
                <div class="b3PopupNameWrap f aic jcsb">
                    <img src="" alt="" class="b3PopuPais">
                    <p  class="b3PopupName"></p>
                </div>
                <p class=" b3PopupCargo"></p>
            </div>
        </div>
    </div>
    <div class="b3PopupText">
    </div>
    <div class="b3PopupBottom f aic jcsb">
        <a href="#" target="_blank" class="icon-linkedin b3PopupLinkedin"></a>
        <div class="b3PopupBottomLeft f aic jcfs fdc-480 aifs-480">
            <p class="b3PopupDate"></p>
            <p class="b3PopupHour"></p>
        </div>
        <a href="#" class="b3PopupButton schedule_workshop_to_confirm"></a>
    </div>
</div>

{% if header_section.show_workshops_section and company_user.in_person and company_user.confirmed %}
<section class="b4 mY scrollWrap anclaBlock" id="talleres">
    <div class="grilla f aifs jcsb scrollItem fdc-768 ">
        <div class="b4Left">
            <div class="buttonGradient"> <span class="button">{{home_page.workshop_section_name}}</span></div>
            {% if home_page.workshop_section_url %}
                <a href="{{home_page.workshop_section_url}}" target="_blank"><img src="{{home_page.workshop_section_image.url}}" alt=""></a>
            {% else %}
                <img src="{{home_page.workshop_section_image.url}}" alt="">
            {% endif %}
        </div>
        <div class="b4Right">
            {% for row in workshops %}
                <div class="b3ItemClickPopup b4RighItem f aic jcsb fdc-480" id="{{row.id}}"
                data-image="{{row.exhibitor.image.url}}"
                {% if row.exhibitor.flag_image %}
                data-pais="{{row.exhibitor.flag_image.url}}"
                {% else %}
                data-pais="/static/web_3/img/credicorp/bandera-per.png"
                {% endif %}
                data-name="{{row.exhibitor.name}}"
                data-cargo="{{row.exhibitor.title}} - {{row.exhibitor.organization}}"
                data-text="{{row.description|safe}}"
                data-taller="{{row.title}}"
                data-taller-name="{{row.name}}"
                data-linkedin="{{row.exhibitor.link}}"
                data-url-inscribete="{{row.id}}"
                data-confirm_schedule="{{row.confirm_schedule}}"
                {% if row.confirm_schedule %}
                    data-message="{{company.message_confirm_workshop|safe}}"
                {% else %}
                    data-message="{{company.message_confirm_waiting_list_workshop|safe}}"
                {% endif %}
                {% if row.scheduled %}
                    data-inscrito="true"
                {% else %}
                    data-inscrito="false"
                {% endif %}
                    data-confirm-inscrito="{{row.confirm_scheduled}}"
                {% if row.get_allow_enroll %}
                    data-aforo="true"
                {% else %}
                    data-aforo="false"
                {% endif %}
                data-hour='{{ row.start_datetime|date:"H:i" }}'
                data-date='{{ row.start_datetime|date:"j" }} de {{ row.start_datetime|date:"F" }}'>
                    <div class="b4ItemInfo">
                        <div class="b4ItemInfoContent">
                            <p>{{row.title}}</p>
                            <p class="info">{{row.name}}</p>
                            <p class="address">{{row.address}}</p>
                            <p class="hour">{{ row.start_datetime|date:"f:i a" }} a {{ row.end_datetime|date:"f:i a" }}</p>
                            {% if row.scheduled %}
                                {% if row.confirm_scheduled %}
                                    <p class="date">Inscrito</p>
                                {% else %}
                                    <p class="date">En Lista de espera</p>
                                {% endif %}
                            {% else %}
                                {% if row.get_available_number %}
                                    {% if row.confirm_schedule %}
                                        <p class="date">Cupos disponibles: {{row.get_available_number}}</p>
                                    {% else %}
                                        <p class="date">Cupos Lista de espera: {{row.get_available_number}}</p>
                                    {% endif %}
                                {% else %}
                                    <p class="date">Agotado</p>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="b4ItemImage">
                        <img src="{{row.image.url}}" alt="">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endif %}

{% if header_section.show_frequently_questions_section %}
<section class="b5 mY scrollWrap anclaBlock" id="preguntas">
    <div class="grilla scrollItem">
        <h4>{{home_page.frequently_questions_section_name}}</h4>
        <div class="b5List">
            {% for row in frequently_questions %}
                <div class="b5Item">
                    <a href="#" class="b5ItemClick arrowClick">{{row.name}}</a>
                    <div class="b5Info">
                        <div class="gParrafo">
                            {{row.answer|safe}}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}

{% if home_page.final_image %}
<section class="b31 pY scrollWrap">
    <div class="grilla scrollItm">
        <figure>
            <img src="{{home_page.final_image.url}}" alt="">
        </figure>
    </div>
</section>
{% endif %}

{% endblock %}

{% block jsfinal %}
<script src="/static/web_3/js/swiper/swiper-bundle.min.js"></script>
{% if not logged_user %}
<script src="https://www.google.com/recaptcha/api.js?render={{recaptcha_site_key}}"></script>
<script>
    function getReCaptcha(){
        grecaptcha.ready(function() {
            grecaptcha.execute('{{recaptcha_site_key}}', {action: "/"}).then(function(token) {
                let captcha_register = document.getElementById('g-recaptcha-response')
                if(captcha_register){
                    document.getElementById('g-recaptcha-response').value = token;
                }
                document.getElementById('g-recaptcha-response_login').value = token;
            });
        });
    }
    getReCaptcha();
    setInterval(function(){getReCaptcha();}, 110000);
</script>
{% endif %}
<script>
    function onClick(e) {
      e.preventDefault();
      grecaptcha.ready(function() {
        grecaptcha.execute('{{recaptcha_site_key}}', {action: 'submit'}).then(function(token) {
        });
      });
    }
</script>
<script type="text/javascript">
    {% if header_section.show_exhibitors_section or header_section.show_workshops_section %}

    let elSwiperb3 = document.getElementsByClassName('b3Swiper')[0].dataset.initial
    const breakpointb3 = window.matchMedia('(max-width: 1024px)');
    const breakpointCheckerb3 = () => {
        let getCountItemsb3 = document.getElementsByClassName('b3Item').length;
        breakpointb3.matches === true ?
            (getCountItemsb3 >= 2 ? enableSwiperb3(elSwiperb3) : destroySwiperb3()): 
            (getCountItemsb3 > elSwiperb3 ? enableSwiperb3(elSwiperb3) : destroySwiperb3())
    }
    let mySwiperb3;
    let elWrapSwiperb3 = document.getElementsByClassName('b3')[0]
    const destroySwiperb3 = () =>{
		elWrapSwiperb3.classList.add('noSwiper')
		elWrapSwiperb3.classList.remove('swiperActive')
        if(mySwiperb3 !== undefined) {
            return mySwiperb3.destroy(true,true);
        }
    }
    const enableSwiperb3 = (initial) => {
		elWrapSwiperb3.classList.remove('noSwiper')
		elWrapSwiperb3.classList.add('swiperActive')
        mySwiperb3 = new Swiper ('.b3Swiper', {
            loop: false,
            spaceBetween: 24,
            slidesPerGroup: 4,
            centeredSlides: false,
            pagination: {
                el: '.b3Pagination',
                type: 'bullets',
                clickable: true
            },
            navigation: {
                nextEl: '.b3Next',
                prevEl: '.b3Prev',
            },
            breakpoints:{
                1024:{
                   slidesPerView: initial,
                   spaceBetween: 24,
                },
                768:{
                   slidesPerView: 2,
                   spaceBetween: 24,
                },
                320:{
                   slidesPerView: 1,
                   spaceBetween: 24,
                }
            }
        });

    };
    breakpointb3.addListener(breakpointCheckerb3);
    breakpointCheckerb3();


    document.addEventListener("DOMContentLoaded", () => {
    const items = document.querySelectorAll(".b3ItemClickPopup");
    const popup = document.querySelector(".b3Popup");

    const popupImage = popup.querySelector(".b3PopupImage");
    const popupLogo = popup.querySelector(".b3PopupLogo");
    const popupPais = popup.querySelector(".b3PopuPais");
    const popupName = popup.querySelector(".b3PopupName");
    const popupCargo = popup.querySelector(".b3PopupCargo");
    const popupText = popup.querySelector(".b3PopupText");
    const popupTaller = popup.querySelector(".b3PopupTaller");
    const popupTallerName = popup.querySelector(".b3PopupTallerName");
    const popupButton = popup.querySelector(".b3PopupButton");
    const popupDate = popup.querySelector(".b3PopupDate");
    const popupHour = popup.querySelector(".b3PopupHour");
    const popupLinkedin = popup.querySelector(".b3PopupLinkedin");

    items.forEach(item => {
        item.addEventListener("click", () => {
            const image = item.getAttribute("data-image");
            const logo = item.getAttribute("data-logo");
            const pais = item.getAttribute("data-pais");
            const name = item.getAttribute("data-name");
            const cargo = item.getAttribute("data-cargo");
            const text = item.getAttribute("data-text");
            const taller = item.getAttribute("data-taller");
            const tallerName = item.getAttribute("data-taller-name");
            const urlIncribete = item.getAttribute("data-url-inscribete");
            const booleanInscrito = item.getAttribute("data-inscrito");
            const booleanAforo = item.getAttribute("data-aforo");
            const date = item.getAttribute('data-hour')
            const hour = item.getAttribute('data-date')
            const linkedin = item.getAttribute('data-linkedin')
            const message = item.getAttribute('data-message')
            const confirm = item.getAttribute('data-confirm_schedule')
            const confirmedInscrito = item.getAttribute('data-confirm-inscrito')
            console.log(linkedin, 'linkedin')
            if(linkedin){
                popupLinkedin.setAttribute("href", linkedin);
                popupLinkedin.style.display = '';
            }else{
                popupLinkedin.style.display = 'none';
            }


            if(popupButton){
                popupButton.href = ""
            }
            popupTaller.textContent = ""
            popupTallerName.textContent = ""

            // if(date){
            //     popupDate.textContent = date
            //     popupDate.style.display = 'block'
            // }else{
            //     popupDate.textContent = ""
            //     popupDate.style.display = 'none'
            // }

            // Imagen
            if (image) {
                popupImage.src = image;
                popupImage.style.display = "block";
            } else {
                popupImage.removeAttribute("src");
                popupImage.style.display = "none";
            }

            // Logo
            if (logo) {
                popupLogo.src = logo;
                popupLogo.style.display = "block";
                popupLogo.parentElement.classList.remove('taller')
            } else {
                popupLogo.removeAttribute("src");
                popupLogo.style.display = "none";
            }

            // País
            if (pais) {
                popupPais.src = pais;
                popupPais.style.display = "inline-block";
            } else {
                popupPais.removeAttribute("src");
                popupPais.style.display = "none";
            }

            // Nombre
            if (name) {
                popupName.textContent = name;
                popupName.style.display = "block";
            } else {
                popupName.textContent = "";
                popupName.style.display = "none";
            }

            // Cargo
            if (cargo) {
                popupCargo.textContent = cargo;
                popupCargo.style.display = "block";
            } else {
                popupCargo.textContent = "";
                popupCargo.style.display = "none";
            }

            // Texto
            if (text) {
                popupText.innerHTML = text;
                popupText.style.display = "block";
            } else {
                popupText.innerHTML = "";
                popupText.style.display = "none";
            }

            // Taller
            if (taller) {
                popupTaller.style.display = "block";
                popupTaller.textContent = taller || "";
                popupTaller.parentElement.classList.add('taller')
            } else {
                popupTaller.style.display = "none";
            }
            // Taller Nombre
            if (tallerName) {
                popupTallerName.style.display = "block";
                popupTallerName.textContent = tallerName || "";
            } else {
                popupTallerName.style.display = "none";
            }
            // Url de inscrpciòn
            if(popupButton){
                if(urlIncribete){
                    popupButton.style.display = "flex";
                    popupButton.href = urlIncribete || "";
                    popupButton.setAttribute('data-id', urlIncribete);
                    if(booleanInscrito === "true"){
                        popupButton.classList.add('inscrito')
                        if(confirmedInscrito == "True"){
                            popupButton.textContent = 'Inscrito' || "";
                        }else{
                            popupButton.textContent = 'En espera' || "";
                        }
                        popupButton.setAttribute('data-status', 0);
                        popupButton.removeAttribute('href');
                    }else{
                        popupButton.setAttribute('data-status', 1);
                        popupButton.classList.remove('inscrito')
                        popupButton.textContent = 'Inscríbete' || "";
                        popupButton.setAttribute('href', '#');
                        popupButton.setAttribute('data-message', message);
                        popupButton.setAttribute('data-confirm_schedule', confirm);

                    }
                    if(booleanAforo === "false" && booleanInscrito === "false"){
                        popupButton.textContent = 'Agotado' || "";
                        popupButton.classList.add('aforo-close')
                    }
                }else{
                    popupButton.style.display = "none";
                }
            }
            popup.classList.add("active");
            OVERLAY.classList.add("active");
            OVERLAY.style.zIndex = 200;
        });
    });
    const closeBtn = popup.querySelector(".b3ClosePopup");
    closeBtn.addEventListener("click", (e) => {
        e.preventDefault();
        popup.classList.remove("active");
        OVERLAY.classList.remove("active");
        OVERLAY.removeAttribute("style");
    });
});
{% endif %}

$('.validatePerson').click(function(e){
    e.preventDefault();
    var item = $(this);
    var status = item.attr('data-status');
    item.addClass('isLoading');
    $.ajax({
        url : "{% url 'landing:validate_in_person' %}",
        type : "post",
        data: {
            status: status,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
    }).done(function(data) {
        if (data.success) {
            if(status == 1){
                var confirm_form = $('.confirmPresence')
                confirm_form.hide();
                $('.message-waiting-confirmation').html(data.message)
                $('.formRegistroExitoso').addClass('active');
                setTimeout(()=>{
                    window.location.href = '/generar-credencial'
                }, 20000)
            }else{
                window.location.href = '/generar-credencial'
            }
        }
    });
});

$('.schedule_workshop').click(function(e){
    e.preventDefault();
    var item = $(this);
    var data_id = item.attr('data-id')
    var status = item.attr('data-status')
    var confirm = item.attr('data-confirm')
    console.log(confirm, 'CONFIRM!')
    $.ajax({
        url : "{% url 'events:generate_schedule_workshop' %}",
        type : "post",
        data: {
            workshop_id: data_id,
            status: status,
            confirm: confirm,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
    }).done(function(data) {
        if (data.success) {
            console.log(data, 'DATA!!')
            console.log(status, 'status')
            if(status == 1){
                const popup = document.querySelector(".b3Popup");
                const popupButton = popup.querySelector(".b3PopupButton");
                if(data.confirm){
                    popupButton.textContent = 'Inscrito';
                }else{
                    popupButton.textContent = 'En Espera';
                }
                popupButton.removeAttribute('href');
                $('.b3PopupButton').addClass('inscrito');
                $('.b3PopupButton').attr('data-status', 0);
                $('.b3PopupButton').removeClass('schedule_workshop_to_confirm', 0);
                var workshop_row = $('#'+ data_id)
                workshop_row.attr('data-inscrito', true)
                if(confirm == "True"){
                    workshop_row.attr('data-confirm-inscrito', "True")
                }else{
                    workshop_row.attr('data-confirm-inscrito', "False")

                }
            }else{
                const popup = document.querySelector(".b3Popup");
                const popupButton = popup.querySelector(".b3PopupButton");
                popupButton.textContent = 'Inscríbete';
                $('.b3PopupButton').removeClass('inscrito');
                $('.b3PopupButton').attr('data-status', 1);
            }
            $('.confirmWorkshop').removeClass('active')
        }else{
            location.reload();
        }
    });
});

eventClickAccordion("b5ItemClick")

if(document.getElementsByClassName('b22')[0]){
    function actualizarContador() {
        const fechaObjetivoString = document.getElementById("contador").getAttribute("data-date");
        const [fecha, hora] = fechaObjetivoString.split(' ');
        const [dia, mes, año] = fecha.split('-');
        const fechaObjetivoISO = `${año}-${mes}-${dia}T${hora}`;
        const fechaObjetivo = new Date(fechaObjetivoISO);
        const ahora = new Date();
        const diferencia = fechaObjetivo - ahora;
        if (diferencia > 0) {
            const dias = Math.floor(diferencia / (1000 * 60 * 60 * 24));
            const horas = Math.floor((diferencia % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            const minutos = Math.floor((diferencia % (1000 * 60 * 60)) / (1000 * 60));
            const segundos = Math.floor((diferencia % (1000 * 60)) / 1000);
            document.getElementById("dias").innerText = dias.toString().padStart(2, "0");
            document.getElementById("horas").innerText = horas.toString().padStart(2, "0");
            document.getElementById("minutos").innerText = minutos.toString().padStart(2, "0");
            document.getElementById("segundos").innerText = segundos.toString().padStart(2, "0");
        } else {
            document.getElementById("dias").innerText = "00";
            document.getElementById("horas").innerText = "00";
            document.getElementById("minutos").innerText = "00";
            document.getElementById("segundos").innerText = "00";
        }
    }
    setInterval(actualizarContador, 1000);
}
//NUEVO ANCLA SCROLLTOP ********************
const backToTop = document.getElementById("backToTop");
const footer = document.querySelector("#contador"); 

window.addEventListener("scroll", () => {
  const footerTop = footer.getBoundingClientRect().top;
  const windowHeight = window.innerHeight;

  if (footerTop <= windowHeight) {
    backToTop.classList.add("show");
  } else {
    backToTop.classList.remove("show");
  }
});

backToTop.addEventListener("click", () => {
  smoothScrollToTop();
});

function smoothScrollToTop() {
  const start = window.scrollY;
  const duration = 600; 
  const startTime = performance.now();

  function scrollStep(currentTime) {
    const elapsed = currentTime - startTime;
    const progress = Math.min(elapsed / duration, 1);
    window.scrollTo(0, start * (1 - progress));

    if (progress < 1) {
      requestAnimationFrame(scrollStep);
    }
  }

  requestAnimationFrame(scrollStep);
}

let elb2PopupConfirm = document.getElementsByClassName('confirmWorkshop')[0]
let noConfirmWorshop = document.getElementsByClassName('noConfirmWorshop')[0]
noConfirmWorshop.addEventListener('click',function(e){
    e.preventDefault()
    elb2PopupConfirm.classList.remove('active')
})
$('.schedule_workshop_to_confirm').click(function(e){
    e.preventDefault();
    var item = $(this);
    var data_id = item.attr('data-id')
    var data_status = item.attr('data-status')
    var data_message = item.attr('data-message')
    var data_confirm = item.attr('data-confirm_schedule')
    $('.confirmWorkshopMsg').html(data_message)
    if(data_status === '1'){
        $('.schedule_workshop').attr("data-id", data_id);
        $('.schedule_workshop').attr("data-confirm", data_confirm);
        $('.confirmWorkshop').addClass('active')
    }
});
</script>
{% endblock %}
