{% extends "landing_3/common/_base.html" %}

{% block cssadicional %}
{% endblock %}

{% block classbody %}pageChat{% endblock %}

{% block content %}



<section class="b30">
    <div class="g8PopupForm formCorreoVerificacion pr active">
        {% if messages %}
        <div class="g8PopupContent">
            {% if messages %}
            <div class="gParrafo">
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            </div>
            {% else %}
            <div class="gParrafo">
                <p>Ingresa el email que tienes asociado a tu cuenta. Te enviaremos un correo de confirmación.</p>
            </div>
            {% endif %}
            <a href="{% url 'landing:home' %}" class="linkCancelar">Regresar</a>
        </div>
        {% else %}
            <div class="g8PopupContent">
                <h3>Olvidé mi contraseña</h3>
                <div class="gParrafo">
                    <p>Ingresa el email que tienes asociado a tu cuenta. Te enviaremos un correo de confirmación.</p>
                </div>
                <div class="g8Form">
                    <form action="" method="POST">
                    {% csrf_token %}
                    <div class="g8GroupInput one">
                        <div class="g8Input">
                            <span>Email</span>
                            <input type="text" class="g8Box validate[required,custom[email]]" name="{{form.email.html_name}}">
                        </div>
                        <button type="submit">Enviar</button>
                    </div>
                    </form>
                <a href="{% url 'landing:home' %}" class="linkCancelar">Cancelar</a>
            </div>
        {% endif %}
    </div>
</section>


{% endblock %}

{% block jsfinal %}
<script type="text/javascript">
</script>
{% endblock %}
