// tabs-toggle


.g5ContentTab
	&.mobile
		.g5Select
			display none
	&.desktop
		max-width 300px
		width 100%
		margin auto
		height 42px
		background #000
		border-radius 20px
		position relative
		transition all 400ms ease
		transition-delay 0.1s
		.g5Select
			display flex
			height 100%
			width 100%
			font-size 16px
			textg(t-0,normal,#fff)
			flexg(center,center)
		&.active
			border-bottom-left-radius 0px
			border-bottom-right-radius 0px
			transition all 400ms ease
			.g5ListTab
				opacity1()
				transform translateY(0px)
		.g5ListTab
			opacity1()
			transform translateY(0px)
		.g5ListTab
			position absolute
			width 100%
			top 100%
			left 0
			opacity0()
			transform translateY(-10px)
			ul
				flex-direction column
				width 100%
				li
					width 100%
					margin 0
					a
						border-radius 0px
		
.g5ListTab
	ul
		flexg(center,center)
		li
			margin-right 20px
			&:last-child
				margin-right 0px
			a
				padding 0px 30px
				height 42px
				flexg(center,center)
				font-size 16px
				textg(t-0,normal,#000)
				background #ddbdbd
				border-radius 20px
				transition all 0.2s ease
				@media screen and (min-width 1025px)
					&:hover
						background #000111
						color #fff
						transition all 0.2s ease
				&.active
					background #000111
					color #fff


.g5WrapInfoTab
	position relative

.g5InfoTab
	opacity0()
	full()
	&.active
		position relative
		opacity1()	

@media screen and (max-width 1024px)
	.g5ContentTab
		max-width 300px
		width 100%
		margin auto
		height 42px
		background #000
		border-radius 20px
		position relative
		transition all 400ms ease
		transition-delay 0.1s
		&.mobile
			.g5Select
				display flex
				height 100%
				width 100%
				font-size 16px
				textg(t-0,normal,#fff)
				flexg(center,center)
		&.active
			border-bottom-left-radius 0px
			border-bottom-right-radius 0px
			transition all 400ms ease
			.g5ListTab
				opacity1()
				transform translateY(0px)
	.g5ListTab
		position absolute
		width 100%
		top 100%
		left 0
		opacity0()
		transform translateY(-10px)
		ul
			flex-direction column
			width 100%
			li
				width 100%
				margin 0
				a
					border-radius 0px