.b1
	position relative
	height calc(100vh - 70px)
	&.pageEventoDetalle
		height 440px
	.grilla
		height 100%
		padding 70px 0px
	video
		full()
		object-fit cover

.b1Info
	position relative
	z-index 30
	width 100%
	max-width 790px
	h2
		font-size 20px
		textg(t-700,normal,#fff)
		text-transform uppercase
	h1
		font-size 64px
		textg(t-800,normal,#fff)
		margin 20px 0px
	h3
		font-size 24px
		textg(t-400,normal,#fff)
	.clickVideo
		margin 0
		position relative
		top initial
		left initial
		bottom initial
		transform initial
		margin 30px 0px

.b1Date
	margin-top 30px

.b1DateItem
	margin-right 40px
	img
		margin-right 10px
	h4
		font-size 24px
		textg(t-600,normal,#fff)
		span
			display block
			width 100%
			font-size 20px
			textg(t-500,noraml,#fff)
			margin-top 10px

@media screen and (max-width 1366px)
	.b1Info
		max-width 700px
		h2
			font-size 16px
		h1
			font-size 50px
		h3
			font-size 18px
	.b1DateItem
		img
			width 18px
		h4
			font-size 22px
			span
				font-size 18px
	

@media screen and (max-width 1280px)
	.b1DateItem h4
		font-size 20px
	.b1Info
		h2
			font-size 14px
		h1
			font-size 42px
		h3
			font-size 16px
	.b1DateItem
		img
			width 16px
		h4
			font-size 20px
			span
				font-size 16px

@media screen and (max-width 1024px)
	.b1
		height 550px
	.b1Info
		h2
			font-size 12px
		h1
			font-size 38px
		h3
			font-size 14px
	.b1DateItem
		img
			width 16px
		h4
			font-size 18px
			span
				font-size 14px

@media screen and (max-width 768px)
	.b1
		height 450px
	.b1Info
		h2
			font-size 12px
		h1
			font-size 32px
		h3
			font-size 14px
	.b1DateItem
		img
			width 16px
		h4
			font-size 16px
			span
				font-size 12px
			

@media screen and (max-width 480px)
	.b1
		min-height 650px
		height calc(100vh - 60px)
	.b1
		.grilla
			align-items flex-end
	.b1DateItem
		margin-bottom 30px
	.b1Info .clickVideo
		margin 0
		margin-top 100px