.b5
    padding 48px 0px
    background #0E1728
    h4
        font-size 24px
        textg(t-600,normal,#fff)
        margin-bottom 8px
    .gPagination
        position relative
        bottom 0
        margin-top 24px
    .gTitle
        margin-bottom 24px

.b5Img
    height 410px
    border-radius 10px
    overflow hidden
    position relative

.b5Text
    margin-top 12px
    flexg(center,flex-start)
    img
        width 20px
    .gParrafo
        width calc(100% - 20px)
        padding-left 10px
        color #fff


@media screen and (max-width 1366px)
    .b5 h4
        font-size 20px