.b7
    margin 96px 0px
    .grilla
        padding 58px 85px
        background #E0E0E0
        border-radius 16px
        flexg(center,space-between)
    span
        circle(90,transparent)
        border 1px solid #17181B
        img
            width 15px
.b7Info
    max-width 700px
    width 100%
    .gTitle
        margin-bottom 5px
    .gParrafo
        font-size 16px
        textg(t-400,normal,#404040)

@media screen and (max-width 1366px)
    .b7Info
        .gParrafo
            font-size 16px

@media screen and (max-width 1024px)
    .b7Info
        max-width 100%
        width calc(100% - 80px)
        padding-right 40px
        .gParrafo
            font-size 18px
    .b7
        margin 70px 0px
        .grilla
            padding 48px
        span
            width 80px
            height 80px

@media screen and (max-width 480px)
    .b7
        .grilla
            flex-direction column
            padding 32px
        span
            width 60px
            height 60px
    .b7Info
        max-width 100%
        width 100%
        padding-right 0
        margin-bottom 32px
        .gParrafo
            font-size 16px