.header
	height 90px
	position fixed
	background #fff
	box-shadow 0px 0px 10px 10px rgba(#000,0.1)
	width 100%
	z-index 102
	top 0
	left 0
	.grilla
		max-width 1440px
		height 100ut	
		flexg(center,space-between)

.headerRight,
.headerMenuContent,
.headerMenuWrap,
.headerMenuItem,
.headerMenuLink
	height 100%

.headerMenuWrap
	flexg(center,flex-end)
	
.headerMenuItem
	height 100%
	position relative
	@media screen and (min-width 1025px)
		&:hover
			.headerMegamenuContent
				display block
	
.headerMenuLink
	flexg(center,center)
	padding 0px 15px

.headerMegamenuContent
	display none
	background: #ffffff
	&.absolute
		top 100%
		centerX()
	&.fixed
		top 90px
		width 100%
		centerX()
		position fixed

.openSidebarMobile
	position fixed
	z-index 200
	top 0
	right 20px
	flexg(center,center)
	display 	
	font-size 30px
	
.sidebarContentMobile
	position fixed
	top 0
	right 0
	z-index 180
	height 100vh
	width 100%
	background #dbdbdb
	transform translateX(100%)
	transition all 400ms ease

.header
	height 70px
	.grilla
		height 100%
	&.sessionOn
		.headerOptionLogout
			display none
	&.sessionOff
		.headerOptionLogin
			display none

.headerEventos
	position relative
	margin-right 20px
	span
		circle(20,#000)
		position absolute
		top -13px
		right -13px
		font-size 12px
		textg(t-400,normal,#fff)

.headerLeft,
.headerRight
	height 100%

.headerLeft
	a
		height 100%
		flexg(center,center)
		figure
			height 100%
			flexg(center,center)
			img
				height 90%
				width auto

.headerAnclas
	height 100%
	centerX()
	pointer-events: none
	a
		height 100%
		flexg(center,center)
		pointer-events: all

.headerAnclas
	a
		padding 0px 20px
		font-size 18px
		textg(t-400,normal,#17181B)

		&.headerEnVivo
			padding 0px 24px
			height 44px !important
			border-radius 100px
			background #008AC9
			top 20px
			right 60px
			flexg(center,center)
			font-size 16px
			textg(t-800,normal,#fff)
			width fit-content
			margin-left 28px
			img
				margin-left 8px
				animation onda 1s infinite ease-out
.headerAnclaBlock
	position relative
	.lineActive
		height 4px
		position absolute
		bottom 0
		centerX()
		width 0%
		transition all 400ms ease
	&.active
		.lineActive
			width 100%
			transition all 400ms ease

@keyframes animateZoom
	0%
		transform: scale(0.2) 
		opacity: 0
	50%
		transform: scale(1) 
		opacity: 0.5
	100%
		transform: scale(1.05) 
		opacity: 0
.headerOptionsSessions
	height 100%

.headerOptionLogout
	height 100%
	.login
		font-size 16px
		textg(t-600,normal,#17181B)
		margin-right 20px

.headerButtonRegistrate
	padding 0px 20px
	height 40px
	border-radius 100px
	font-size 16px
	color #fff
	background #008AC9
	flexg(center,center)

.headerOptionLogin
	height 100%

.headerNameUser
	font-size 16px
	textg(t-500,normal,#17181B)
	margin-right 20px

.headerIconMenu
	padding 6px 20px
	padding-right 0px
	border-left 1px solid c-black
	font-size 30px
	color #17181B

.headerMenu
	height 100%
	display flex

.headerOptionLogin
	cursor pointer
	&:hover
		.headerMenuList
			opacity1()
			transform scale(1)
	
.headerMenuList
	border-radius 10px
	background #fff
	box-shadow 0px 0px 10px 3px rgba(#000,0.1)
	width 500%
	right 0
	opacity0()
	transform scale(0.95)
	ul
		padding 20px
		a
			padding 5px 0px
	a
		font-size 16px
		textg(t-400,normal,#000)
		&.logout
			padding 20px
			border-top 1px solid #dbdbdb

.netWorkingFixed
	circle(100,#8FC7E2)
	box-shadow: 0px 15px 18.7px 0px #1C36424D
	position fixed
	z-index 600
	bottom 30px
	right 30px
	h3
		font-size 12px
		textg(t-800,normal,#FFFFFF)
		position relative
		z-index 10
	&:before
		content ''
		circle(86,#008AC9)
		centerXY()
		z-index -1

@media screen and (max-width 1366px)
	.headerAnclas a
		padding 0px 14px
		font-size 16px
@media screen and (max-width 1024px)
	.headerMenuContent
		display none
	.headerMenuWrap
		flex-direction column
		justify-content flex-start
		padding-top 50px
		padding-bottom 30px
		overflow-y scroll
	.sidebarContentMobile
		&.active
			transform translateX(0%)
			transition all 400ms ease     
	.headerMenuItem,
	.headerMenuLink
		height auto
		width 100%
	.openSidebarMobile
		display flex
	.headerMegamenuContent
		position relative
		display block
		top 0
		&.fixed,
		&.absolute
			position relative
			top 0
	.headerAnclas
		display none
	.headerLeft
		width 120px
	.header
		height 60px
	.headerMenu
		display flex
	.headerLeft
		width auto
@media screen and (max-width 480px)
	.headerButtonRegistrate
		padding 0px 15px
		font-size 14px
	.headerOptionLogout .login
		font-size 14px
		margin-right 15px