{% extends "landing/common/_base.html" %}

{% block cssadicional %}
{% endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<section class="b11">
    <div class="b11Left">
        <h1 class="gTitle">Ayúdanos a atenderte mejor</h1>
    </div>
    <div class="b11Right">
        <form action="" class="g8Form" method="POST">
            {% csrf_token %}
            {% for question in questions %}
            <div class="b11Item">
                <label class="b11NameOptions"><img src="{{question.image.url}}" alt="" width="20">Elige un regalo</label>
                <div class="b11ListOption">
                    {% for choice in question.get_choices %}
                        <div class="b11ItemOption">
                            <!-- El data-color-default serà siempre el mismo , no será administrable,
                                solo que se usara para el caso cuando se deschekee -->
                            <!-- Solos serà admisnitrable data-color-active y en la clase "checkRadio" el backbround tambien" -->
                            <div class="divCircleRadio pr" data-color-active="red" data-color-default="#262626" style="border: 1px solid #262626">
                                <div class="checKRadio" style="background:red"></div>
                            </div>
                            <input id="{{choice.id}}" type="radio" name="{{question.id}}" class="validate[required]" value="{{choice.id}}">
                            <label for="{{choice.id}}">{{choice.name}}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
            <button class="gButton b11Enviar">Enviar</button>
        </form>
    </div>
</section>

{% endblock %}

{% block jsfinal %}
<script type="text/javascript">

    eventGrilla("b11Left","left")
    eventGrilla("b11Right","right")

    let elb11ItemOption = document.getElementsByClassName("b11ItemOption");
    for(const b11ItemOption of elb11ItemOption){
        b11ItemOption.addEventListener("click",function(){
            let elchildrenOptions = this.parentNode.children
            let getColorCheckRadio = this.children[0].dataset.colorActive
            let getColorDefaultCheckRadio = this.children[0].dataset.colorDefault
            for(const childrenOptions of elchildrenOptions){
                childrenOptions.classList.remove('active')
                childrenOptions.children[0].style.border = `1px solid ${getColorDefaultCheckRadio}`;
            }
            this.children[0].style.border = `1px solid ${getColorCheckRadio}`;
            this.classList.add('active')
        });
    }

    $('.b11Enviar').click(function(e){
        e.preventDefault();
        var item = $(this);
        var valid = item.closest('form').validationEngine('validate');
        var form = $(this).closest('form');
        if (!valid) {
            console.log('form invalid')
            } else {
                data = form.serialize()
                console.log(data)
                $.ajax({
                    url : "/save_preferences_answers/",
                    type : "post",
                    data: data,
                }).done(function(data) {
                    if(data.success){
                        window.location.href = data.redirect_url
                    }
                });
        }
    });
</script>
{% endblock %}
