{% extends "landing/common/_base.html" %}

{% block cssadicional %}
{% endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<section class="b14">
    <div class="grilla">
        <a href="##" onClick="history.go(-1); return false;" class="gReturn">Regresar</a>
        <div class="b14Top" style="margin-bottom: 21px;">
            <div class="b14TopLeft">
                <h1>{{event.name}}</h1>
                <h2>{{event.subtitle}}</h2>
            </div>
            <div class="b14TopRight">
                <h3><img src="/static/web/img/calendar-chat.svg" alt="" width="20">{{start_date}}</h3>
                <h3>{{start_time}} a {{end_time}}</h3>
            </div>
        </div>
        <div class="b14Wrap">
            <div class="b14Left">
                <picture class="imgCover">
                    <!-- imagen mobile -->
                    <source srcset="/static/web/img/img-banner-chat.png" media="(max-width: 767px)">
                    <!-- imagen desktop -->
                    <source srcset="/static/web/img/img-banner-chat.png" media="(max-width: 768px)">
                    <!-- imagen desktop -->
                    <img src="/static/web/img/img-banner-chat.png" width="1920" height="713"  alt="Myimage">
                </picture>
                <iframe src="{{event.video_url}}" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="b14Right">
                <h3>Chat</h3>
                <div class="b14ContentChat">
                    <div class="b14ListChat">
                        <ul id="listmessages">
                            {% comment %} <li class="posRight">
                                <h4 class="textMessage">Hello, how are you doing?</h4>
                                <span class="timeMessage">08:15 AM</span>
                            </li>
                            <li class="posLeft">
                                <h5 class="otherPersonMessage">Asistant</h5>
                                <h4 class="textMessage">I'm doing wellI help you today?</h4>
                                <span class="timeMessage">09:14 AM</span>
                            </li> {% endcomment %}
                        </ul>
                    </div>
                    <form action="">
                        <textarea name="" id="boxMessage" placeholder="Escribir"></textarea>
                        <button id="sendMessage"><img src="/static/web/img/icon-arrow-button.svg" alt="" width="24"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block jsfinal %}
<script src="/static/chat/reconnecting-websocket.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
      var iframe = document.querySelector('iframe[src*="vimeo.com"]');
      if (!iframe) return;
      iframe.setAttribute('referrerpolicy', 'origin-when-cross-origin');



      var metaReferrer = document.createElement('meta');
      metaReferrer.name = 'referrer';
      metaReferrer.content = 'origin';
      document.head.appendChild(metaReferrer);
    });
</script>
<script type="text/javascript">

    var roomName = {{ room_name_json }};
    var username = '{{logged_user.names}}';
    var email_user = '{{logged_user.email}}';
    var roomId = {{ room_id }};
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";

    var chatSocket = new ReconnectingWebSocket(
        ws_scheme + '://' + "{{chat_url}}" +
        '/ws/chat/' + roomName + '/');

    var video = document.getElementById("videoTransmision");
    document.addEventListener('touchstart', function() {
        video.play();
    });

    let elsendMessage = document.getElementById("sendMessage");
    let elboxMessage = document.getElementById("boxMessage");
    document.querySelector('#boxMessage').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
                document.querySelector('#sendMessage').click();
            }
    };

    chatSocket.onopen = function(e) {
        $('.b14ListChat ul').html('');
        fetchMessages();
      }

    function fetchMessages() {
    chatSocket.send(JSON.stringify(
        {'command': 'fetch_messages',
        'room': {{ room_id }}}));
    }

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        console.log(e.data, 'E DATA')
        if (data['command'] === 'messages') {
          for (let i=0; i<data['messages'].length; i++) {
            createLi(data['messages'][i], "");
          }
        } else if (data['command'] === 'new_message'){
          createLi(data['message'], "");
        }
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    const createLi = (data, time) => {
        var author = data['names'];
        var email = data['author'];
        var admin = data['admin']
        let li = document.createElement("li");
        let set_class= ""
        if (admin){
            li.className = "posLeft";
            let ellistmessages = document.getElementById("listmessages");
            var htmlString = `
                        <h5 class="otherPersonMessage" style="color: #FF6666">${author}</h5>
                        <h4 class="textMessage" style="background: #FF6666;color: #FFF;">${data.content}</h4>
                        <span class="timeMessage">-</span>
                    `;
            li.innerHTML = htmlString
            ellistmessages.appendChild(li);
        }else{
            if(email == email_user){
                li.className = "posRight";
                set_class = ""
            }else{
                li.className = "posLeft";
                set_class = "otherPersonMessage"
            }
            let ellistmessages = document.getElementById("listmessages");
            var htmlString = `
                        <h5 class="${set_class}" >${author}</h5>
                        <h4 class="textMessage">${data.content}</h4>
                        <span class="timeMessage">-</span>
                    `;
            li.innerHTML = htmlString
            ellistmessages.appendChild(li);
        }


    }

    var horaFormateada
    const cretateTime = () => {
        var date = new Date();
        var horas = date.getHours();
        var minutos = date.getMinutes();
        var ampm = horas >= 12 ? 'PM' : 'AM';
        horas = horas % 12;
        horas = horas ? horas : 12;
        minutos = minutos < 10 ? '0' + minutos : minutos;
        horaFormateada = horas + ':' + minutos + ' ' + ampm;
    }

    function scrollChatToBottom() {
        var chatContainer = document.getElementById("listmessages");
        var ultimoMensaje = chatContainer.lastElementChild;
        var ultimoMensajeOffsetTop = ultimoMensaje.offsetTop;
        chatContainer.scrollTo({
            top: ultimoMensajeOffsetTop,
            behavior: "smooth"
        });
    }

    elsendMessage.addEventListener('click', function(e){
        e.preventDefault();
        let getMessage = elboxMessage.value;
        console.log(getMessage, 'GET MESSAGE')
        // cretateTime();
        if (!getMessage.replace(/\s/g, '').length) {
        }
        else{
            console.log('SEND DATA TO SOCKET')
            chatSocket.send(JSON.stringify({
                'command': 'new_message',
                'message': getMessage,
                'from': '{{logged_user.email}}',
                'names': '{{logged_user.names}}',
                'room': {{ room_id }}
            }));
        }
        // createLi(getMessage, "")
        elboxMessage.value = ""
        elboxMessage.focus();
        scrollChatToBottom()
    });

    // elboxMessage.addEventListener("keydown", function(event) {
    //     let getMessage = this.value;
    //     if (event.keyCode === 13) { 
    //         cretateTime();
    //         createLi(getMessage,horaFormateada)
            
    //         scrollChatToBottom()
    //         setTimeout(()=>this.value = "",1)
            
    //     }
    // });


</script>   
{% endblock %}
