{% extends "landing/common/_base.html" %}

{% block cssadicional %}
<link rel="stylesheet" href="/static/web/js/croppie/croppie.min.css">
{% endblock %}

{% block classbody %}{% endblock %}

{% block content %}


<section class="b10 scrollWrap pageCredGenerate">
    <div class="grilla ">
        <div class="b10Wrap f aifs jcc">
            <div class="b10Left scrollItem">
                <h3 class="gTitle">{{credential_settings.first_text_message|default:""}} </h3>
                <label for="" class="gParrafo">{{credential_settings.second_text_message|default:""}}</label>
                <a href="#" onclick="history.back()"  class="b10Atras"><i class="icon-arrowLeft"></i>Ir atrás</a>
                <div class="b10Links f aic jcfs">
                    <a class="b10DownloadCredencial" href="{% url 'landing:download_credential' instance.code%}">Descargar credencial <img src="/static/web/img/download.svg" alt="" width="22"></a>
                    <a href="{% url 'landing:event' %}" class="b10VerEvento">Ver evento</a>
                </div>
            </div>
            <div class="b10Right scrollItem">
                <figure class="imgCover">
                    <img src="{{credential_settings.image_credential.url}}" width="1920" height="713"  alt="Myimage">
                </figure>
                <div class="b10ContentInfo">
                    <h5>{{credential_settings.title_credential|default:""}}</h5>

                    {% if instance.profile_image %}
                        <div id="result" data-image-default="{{credential_settings.default_avatar.url}}">
                            <img src="{{instance.profile_image.url}}" alt="" class="croppieImage">
                        </div>
                        <h6 class="b10NamePersonCred">{{instance.names}}</h6>
                    {% else %}
                        <div id="result" data-image-default="{{credential_settings.default_avatar.url}}">
                            <img src="{{credential_settings.default_avatar.url}}" alt="" class="croppieImage">
                        </div>
                        <h6 class="b10NamePersonCred">{{instance.names}}</h6>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>




{% endblock %}

{% block jsfinal %}
<script type="text/javascript">

</script>
{% endblock %}
