{% extends "common/_base.html" %}

{% block cssadicional %}
{% endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<section class="b11 pageEncuesta">
    <div class="b11Left">
        <div class="b11LeftContent">
            <a href="#" class="gReturn">Regresar</a>
            <h1 class="gTitle">Tu opinión es importante</h1>
            <div class="gParrafo">
                <p>Evento: El Poder de la Data</p>
            </div>
        </div>
    </div>
    <div class="b11Right">
        <form action="" class="b11FormEncuesta g8Form">
            <div class="b11Item">
                <label class="b11NameOptions">1. Como calificarías el evento en general (de 1 a 5)</label>
                <div class="b11ListOption">
                    <div class="b11ItemOption pr">
                        <!-- border color administrable -->
                        <div class="divBorderCheckActive pr" style="border: 1px solid #008AC9">
                        </div>
                        <input id="1" type="radio" name="optionregalo"  class="validate[required]">
                        <img src="{{STATIC_URL}}img/op1.svg" alt="">
                        <h3>1</h3>
                        <label for="1"></label>
                    </div>
                    <div class="b11ItemOption pr">
                        <!-- border color administrable -->
                        <div class="divBorderCheckActive pr" style="border: 1px solid #008AC9">
                        </div>
                        <input id="2" type="radio" name="optionregalo"  class="validate[required]">
                        <img src="{{STATIC_URL}}img/op2.svg" alt="">
                        <h3>2</h3>
                        <label for="2"></label>
                    </div>
                    <div class="b11ItemOption pr">
                        <!-- border color administrable -->
                        <div class="divBorderCheckActive pr" style="border: 1px solid #008AC9">
                        </div>
                        <input id="3" type="radio" name="optionregalo"  class="validate[required]">
                        <img src="{{STATIC_URL}}img/op3.svg" alt="">
                        <h3>3</h3>
                        <label for="3"></label>
                    </div>
                    <div class="b11ItemOption pr">
                        <!-- border color administrable -->
                        <div class="divBorderCheckActive pr" style="border: 1px solid #008AC9">
                        </div>
                        <input id="4" type="radio" name="optionregalo"  class="validate[required]">
                        <img src="{{STATIC_URL}}img/op4.svg" alt="">
                        <h3>4</h3>
                        <label for="4"></label>
                    </div>
                    <div class="b11ItemOption pr">
                        <!-- border color administrable -->
                        <div class="divBorderCheckActive pr" style="border: 1px solid #008AC9">
                        </div>
                        <input id="5" type="radio" name="optionregalo"  class="validate[required]">
                        <img src="{{STATIC_URL}}img/op5.svg" alt="">
                        <h3>5</h3>
                        <label for="5"></label>
                    </div>
                </div>
            </div>
            <div class="b11Item">
                <label class="b11NameOptions">1. Como calificarías el evento en general (de 1 a 5)</label>
                <div class="b11ListOption">
                    <div class="b11ItemOption pr">
                        <!-- border color administrable -->
                        <div class="divBorderCheckActive pr" style="border: 1px solid #008AC9">
                        </div>
                        <input id="11" type="radio" name="optionregalo2"  class="validate[required]">
                        <img src="{{STATIC_URL}}img/op1.svg" alt="">
                        <h3>1</h3>
                        <label for="11"></label>
                    </div>
                    <div class="b11ItemOption pr">
                        <!-- border color administrable -->
                        <div class="divBorderCheckActive pr" style="border: 1px solid #008AC9">
                        </div>
                        <input id="22" type="radio" name="optionregalo2"  class="validate[required]">
                        <img src="{{STATIC_URL}}img/op2.svg" alt="">
                        <h3>2</h3>
                        <label for="22"></label>
                    </div><div class="b11ItemOption pr">
                        <!-- border color administrable -->
                        <div class="divBorderCheckActive pr" style="border: 1px solid #008AC9">
                        </div>
                        <input id="23" type="radio" name="optionregalo2"  class="validate[required]">
                        <img src="{{STATIC_URL}}img/op3.svg" alt="">
                        <h3>3</h3>
                        <label for="23"></label>
                    </div><div class="b11ItemOption pr">
                        <!-- border color administrable -->
                        <div class="divBorderCheckActive pr" style="border: 1px solid #008AC9">
                        </div>
                        <input id="24" type="radio" name="optionregalo2"  class="validate[required]">
                        <img src="{{STATIC_URL}}img/op4.svg" alt="">
                        <h3>4</h3>
                        <label for="24"></label>
                    </div><div class="b11ItemOption pr">
                        <!-- border color administrable -->
                        <div class="divBorderCheckActive pr" style="border: 1px solid #008AC9">
                        </div>
                        <input id="25" type="radio" name="optionregalo2"  class="validate[required]">
                        <img src="{{STATIC_URL}}img/op5.svg" alt="">
                        <h3>5</h3>
                        <label for="25"></label>
                    </div>
                </div>
            </div>
            <div class="b11Item">
                <label class="b11NameOptions">1. Como calificarías el evento en general (de 1 a 5)</label>
                <div class="b11ListOption">
                    <div class="b11ItemOption pr">
                        <!-- border color administrable -->
                        <div class="divBorderCheckActive pr" style="border: 1px solid #008AC9">
                        </div>
                        <input id="41" type="radio" name="optionregalo3"  class="validate[required]">
                        <img src="{{STATIC_URL}}img/op1.svg" alt="">
                        <h3>1</h3>
                        <label for="41"></label>
                    </div>
                    <div class="b11ItemOption pr">
                        <!-- border color administrable -->
                        <div class="divBorderCheckActive pr" style="border: 1px solid #008AC9">
                        </div>
                        <input id="42" type="radio" name="optionregalo3"  class="validate[required]">
                        <img src="{{STATIC_URL}}img/op2.svg" alt="">
                        <h3>2</h3>
                        <label for="42"></label>
                    </div><div class="b11ItemOption pr">
                        <!-- border color administrable -->
                        <div class="divBorderCheckActive pr" style="border: 1px solid #008AC9">
                        </div>
                        <input id="43" type="radio" name="optionregalo3"  class="validate[required]">
                        <img src="{{STATIC_URL}}img/op3.svg" alt="">
                        <h3>3</h3>
                        <label for="43"></label>
                    </div><div class="b11ItemOption pr">
                        <!-- border color administrable -->
                        <div class="divBorderCheckActive pr" style="border: 1px solid #008AC9">
                        </div>
                        <input id="44" type="radio" name="optionregalo3"  class="validate[required]">
                        <img src="{{STATIC_URL}}img/op4.svg" alt="">
                        <h3>4</h3>
                        <label for="44"></label>
                    </div><div class="b11ItemOption pr">
                        <!-- border color administrable -->
                        <div class="divBorderCheckActive pr" style="border: 1px solid #008AC9">
                        </div>
                        <input id="45" type="radio" name="optionregalo3"  class="validate[required]">
                        <img src="{{STATIC_URL}}img/op5.svg" alt="">
                        <h3>5</h3>
                        <label for="45"></label>
                    </div>
                </div>
            </div>
            <button class="gButton b11Enviar">Enviar</button>
        </form>
    </div>
</section>

{% endblock %}

{% block jsfinal %}
<script type="text/javascript">

    eventGrilla("b11Left","left")
    eventGrilla("b11Right","right")

    let elb11ItemOption = document.getElementsByClassName("b11ItemOption");
    for(const b11ItemOption of elb11ItemOption){
        b11ItemOption.addEventListener("click",function(){
            let elchildrenOptions = this.parentNode.children
            let getColorCheckRadio = this.children[0].dataset.colorActive
            for(const childrenOptions of elchildrenOptions){
                childrenOptions.classList.remove('active')
            }
            this.children[0].style.border = `1px solid ${getColorCheckRadio}`;
            this.classList.add('active')
        });
    }

    $('.b11Enviar').click(function(e){
        e.preventDefault();
        var item = $(this);
        var valid = item.closest('.b11FormEncuesta').validationEngine('validate');
        var form = $(this).closest('form');
        if (!valid) {
            console.log('form invalid')
            } else {

        }
    });
</script>
{% endblock %}
