{% extends "landing/common/_base.html" %}

{% block cssadicional %}
<link rel="stylesheet" href="/static/web/js/swiper/swiper-bundle.min.css">
{% endblock %}

{% block classbody %}{% endblock %}

{% block content %}


<section class="b1 scrollWrap">
    {% if company.video_file %}
        <video width="640" height="360" autoplay loop muted>
            <source src="{{company.video_file.url}}" type="video/mp4">
        </video>
    {% else %}
        <picture class="imgCover">
            <source srcset="{{company.mobile_banner.url}}" media="(max-width: 767px)">
            <source srcset="{{company.banner.url}}" media="(max-width: 768px)">
            <img src="{{company.banner.url}}" width="1920" height="713"  alt="Myimage">
        </picture>
    {% endif %}
    <div class="grilla f center jcfs">
        <div class="b1Info top">
            <h2 class="scrollItem">{{home_page.first_title|default:""}}</h2>
            <h1 class="scrollItem">{{home_page.main_title|default:""}}</h1>
            <h3 class="scrollItem">{{home_page.secondary_title|default:""}}</h3>
            {% if home_page.home_video_url and not company.video_file %}
                <a href="#" class="clickVideo popup scrollItem" data-urlvideo="{{home_page.home_video_url}}">
                    <span style="color:{{home_page.text_buttons_color}};">Ver video</span>
                    <!-- linea circular animada administrable -->
                    <div class="lineCircleAnimate" style="border:2px solid {{home_page.buttons_color}};"></div>
                </a>
            {% endif %}
            <div class="b1Date f aifs jcfs scrollItem">
                {% if home_page.date_description and home_page.time_description %}
                    <div class="b1DateItem f aifs jcfs">
                            <img src="/static/web/img/calendario.svg" alt="" width="20">
                    <h4>{{home_page.date_description|default:""}}<span>{{home_page.time_description|default:""}}</span></h4>
                    </div>
                    {% if not company.in_person %}
                        <div class="b1DateItem f aifs jcfs">
                            <img src="/static/web/img/virtual.svg" alt="" width="20">
                            <h4>Virtual</h4>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% if company.use_counter%}
<section class="b22">
    <div class="grilla">
        <h3>{{company.counter_text}}</h3>
        <div id="contador" data-date="{{company.set_counter_time}}">
            <div class="elemento">
                <span id="dias">00</span>
                <p>DÍAS</p>
            </div>
            <div class="elemento">
                <span id="horas">00</span>
                <p>HORAS</p>
            </div>
            <div class="elemento">
                <span id="minutos">00</span>
                <p>MINUTOS</p>
            </div>
            <div class="elemento">
                <span id="segundos">00</span>
                <p>SEGUNDOS</p>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% if header_section.show_about_section %}
<section class="b3 f aic jcsb scrollWrap anclaBlock" id="acerca">
    <div class="b3Left f aifs jcfs scrollItem">
        <div class="b3ContentLeft">
            <h3 class="gTitle">{{home_page.main_event_title}}</h3>
            <div class="gParrafo">
                {{home_page.main_event_description|safe}}
            </div>
            <ul class="b3List">
                {% for row in home_page.get_items %}
                    {% if row.description != "" %}
                    <li class="b3ItemList">
                        <a href="#" class="b3ClickToggle" data-color-initial="{{home_page.buttons_color}}" data-color-active="#17181B">
                            {{row.title}}
                            <span class="circleLessMore"></span>
                        </a>
                        <div class="b3Info">
                            <div class="gParrafo">
                                {{row.description|safe}}
                            </div>
                        </div>
                    </li>
                    {% else %}
                    <li class="b3ItemList noToggle">
                        <p class="onlyTextList" class="" style="font-family: 'DMSans-Medium', sans-serif;font-size: 18px;">{{row.title}} </p>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="b3Right scrollItem">
        <picture class="imgCover">
            <!-- imagen mobile -->
            <source srcset="{{home_page.main_event_image.url}}" media="(max-width: 767px)">
            <!-- imagen desktop -->
            <source srcset="{{home_page.main_event_image.url}}" media="(max-width: 768px)">
            <!-- imagen desktop -->
            <img src="{{home_page.main_event_image.url}}" width="1920" height="713"  alt="Myimage">
        </picture>
        {% if home_page.main_event_video_url %}
        <div class="b3CenterVideo">
            {% if "youtube.com" in home_page.main_event_video_url %}
                <iframe width="560" height="315" src="{{home_page.main_event_video_url}}"
                        title="YouTube video player" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
                </iframe>
            {% endif %}

            {% if "vimeo.com" in home_page.main_event_video_url %}
            <iframe src="{{home_page.main_event_video_url}}"
                    width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen>
            </iframe>
            {% endif %}
            <!-- MP4 -->
            {% comment %} <video width="640" height="360" autoplay muted loop>
                <source src="video.mp4" type="video/mp4">
            </video> {% endcomment %}
        </div>
        {% comment %} <a href="#" class="clickVideo popup " data-urlvideo="{{home_page.main_event_video_url}}">
            <span style="color:{{home_page.text_buttons_color}};">Ver video</span>
            <div class="lineCircleAnimate" style="border:2px solid {{home_page.buttons_color}};"></div>
        </a> {% endcomment %}
        {% endif %}
    </div>
</section>
{% endif %}

{% if header_section.show_schedule_section %}
<section class="b4 scrollWrap anclaBlock" id="agenda">
    <div class="grilla">
        <div class="b4Top f aife jcsb ffrw scrollItem">
            <div class="b4Title">
                <h4>{{home_page.schedule_section_name}}</h4>
                <h3 class="gTitle">{{home_page.schedule_section_title}}</h3>
            </div>
            <div class="b4SelectWrap f aic jcfe">
                <div class="b4Select">
                    {% if dates_select|length == 1 %}
                        <a class="b4ClickSelect"><span>Día</span><span class="name">{{dates_select.0}}</span></a>
                    {% else %}
                        {% if filtered_date %}
                            <a href="#" class="b4ClickSelect"><span>Día</span><span class="name">{{filtered_date}}</span></a>
                        {% else %}
                            <a href="#" class="b4ClickSelect"><span>Días</span><span class="name">Todos</span></a>
                        {% endif %}
                        <div class="b4ListOptions">
                            {% if filtered_date %}
                                <a href="#" class="b4OptionSelect" data-type="date" data-option="all">Todos</a>
                            {% endif %}
                            {% for date in dates_select %}
                            <a href="" class="b4OptionSelect" data-option="{{date}}" data-type="date">{{date}}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
               </div>
                {% if company.use_shifts %}
                <div class="b4Select">
                    {% if filtered_shift %}
                        <a href="#" class="b4ClickSelect"><span>Turno</span><span class="name">{{filtered_shift}}</span></a>
                    {% else %}
                        <a href="#" class="b4ClickSelect"><span>Turnos</span><span class="name">Todos</span></a>
                    {% endif %}
                    <div class="b4ListOptions">
                        {% if filtered_shift %}
                            <a href="#" class="b4OptionSelect" data-type="shift" data-option="all">Todos</a>
                        {% endif %}
                        {% for shift in shifts %}
                            <a href="#" class="b4OptionSelect" data-type="shift" data-option="{{shift.filter_name}}">{{shift.name}}</a>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="b4ContentWrap scrollItem {% if not company.use_filters %}hideFilterLeft{% endif %}">
            <div class="b4FilterLeft">
                <h3>Filtros</h6>
                <div class="b4FilterItemInfo">
                    <ul>
                        <li class="b4ItemOption {% if not filtered_categories %}active{% endif %}" data-category="all">
                            <div class="optionRadio pr" data-color-active="#008AC9" style="border: 1px solid #000">
                                <span style="background: #008AC9"></span>
                            </div>
                            <h6>Todos</h6>
                        </li>
                    </ul>
                </div>
                {% for f in filters %}
                <div class="b4FilterItem">
                    <a href="#" class="b4FilterItemClick">{{f.name}}</a>
                    <div class="b4FilterItemInfo">
                        <ul>
                            {% for category in f.ordered_categories %}
                            <li class="b4ItemOption {% if category.filter_name in filtered_categories %}active{% endif %}" data-category="{{category.filter_name}}" data-filter="{{f.filter_name}}">
                                <div class="optionRadio pr" data-color-active="#008AC9" style="border: 1px solid #000">
                                    <span style="background: #008AC9"></span>
                                </div>
                                <h6>{{category.name}}</h6>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="b4WrapList b4InfoTab">
                {% for schedule in schedules %}
                    {% if schedule.description %}
                    <div class="b4Item f aic jcsb {% if not schedule.image %}noImage{% endif %}">
                        <div class="b4ItemLeft f aifs jcfs">
                            {% if schedule.image %}
                                <div class="b4Img pr">
                                    <picture class="imgCover">
                                        <source srcset="{{schedule.image.url}}" media="(max-width: 767px)">
                                        <source srcset="{{schedule.image.url}}" media="(max-width: 768px)">
                                        <img src="{{schedule.image.url}}" width="1920" height="713"  alt="Myimage">
                                    </picture>
                                </div>
                            {% else %}
                            {% endif %}
                            <div class="b4Info">
                                {% if logged_user %}
                                    {% if schedule.get_current_status == 'upcoming' %}
                                        <a href="#" class="b4Agendar agregarCalendario" data-item-id="{{schedule.id}}"><span>Agendar</span></a>
                                    {% endif %}
                                    {% if schedule.get_current_status == 'is_live' %}
                                        <a href="{% url 'landing:transmission'  schedule.event.slug %}" class="b4Envivo">En vivo <img src="/static/web/img/live.svg" alt=""></a>
                                    {% endif %}
                                    {% if schedule.get_current_status == 'past' and schedule.video_url %}
                                        <a href="#" class="b4VolverVer a ver clickVideo popup" data-urlvideo="{{schedule.video_url}}">Volver a ver</a>
                                    {% endif %}
                                {% endif %}
                                {% if company.use_rooms %}
                                    <p class="sala"><img src="/static/web/img/sala.svg" alt="" width="13">{{schedule.room.name}}</p>
                                {% endif %}
                                {% if company.use_dates %}
                                    <p class="fecha"><img src="/static/web/img/icon-calendar.svg" alt="" width="13">{{schedule.get_date}}</p>
                                {% endif %}
                                <p class="hora"><img src="/static/web/img/icon-hour.svg" alt="" width="13"> {{schedule.start_time}} - {{schedule.end_time}}</p>
                                <h4>{{schedule.name}}</h4>
                                <div class="gParrafo">
                                    <p>{{schedule.description}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="b4ItemRight">
                            <ul class="b4PersonsExpoList">
                                {% for exhibitor in schedule.get_exhibitors %}
                                    <li class="">
                                        <a href="" class="b4OpenPopupPerson"
                                            data-name="{{exhibitor.name}}"
                                            data-cargo="{{exhibitor.title}}"
                                            data-info="{{exhibitor.description}}"
                                            data-url="{{exhibitor.link}}"
                                            data-img="{{exhibitor.image.url}}"
                                            {% if exhibitor.flag_image %}
                                            data-bandera="{{exhibitor.flag_image.url}}"
                                            {% else %}
                                            data-bandera=""
                                            {% endif %}
                                            >
                                            {% if exhibitor.flag_image %}
                                                <h6>
                                                    <img src="{{exhibitor.flag_image.url}}" alt="" width="16">
                                                    {{exhibitor.name_on_list}}
                                                </h6>
                                            {% else %}
                                                <h6>
                                                    <img src="/static/web/img/expositor.png" alt="" width="16">
                                                    {{exhibitor.name_on_list}}
                                                </h6>
                                            {% endif %}

                                            {% comment %} <span> - {{exhibitor.organization}}</span> {% endcomment %}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% else %}
                        <div class="b4Break">
                            <h3>{{schedule.start_time}} - {{schedule.end_time}} <span>{{schedule.name}}</span></h3>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}
<div class="b4Popup">
    <a href="#" class="b4ClosePopup icon-close"></a>
    <div class="b4PopupImage">
        <figure class="imgCover">
            <img src="" class="b4Popupimg" width="1920" height="713"  alt="Myimage">
        </figure>
    </div>
    <div class="b4InfoPopup f aic jcfs">
        <div class="b4InfoPopupContent">
            <div class="b4TopName">
                <h3 class="b4PopupName gTitle"></h3>
                <img class="b4PopupBandera" alt="">
            </div>
            <h4 class="b4PopupCargo"></h4>
            <div class="gParrafo b4PopupText">
            </div>
            <a href="#" target="_blank" class="b4linkedin">Ver perfil en Linkedin <img src="/static/web/img/arrow.svg" alt="" width="12"></a>
        </div>
    </div>
</div>
{% if header_section.show_exhibitors_section %}
    <section class="b21 scrollWrap anclaBlock" id="expositor">
        <div class="grilla">
            <h1 class="gTitle">{{home_page.exhibitors_section_name}}</h1>
            <div class="b21Wrap column4 column4-1024 column3-768 column2-480">
                {% for ex in exhibitors %}
                <a  href="#" class="b4OpenPopupPerson b5Item swiper-slide zoomImageHover"
                    data-name="{{ex.name}}"
                    data-cargo="{{ex.title}}"
                    data-info="{{ex.description}}"
                    data-url="{{ex.link}}"
                    data-img="{{ex.image.url}}"
                    {% if ex.flag_image %}
                    data-bandera="{{ex.flag_image.url}}"
                    {% else %}
                    data-bandera=""
                    {% endif %}
                >
                    <div class="b5Img">
                        <picture class="imgCover">
                            <!-- imagen mobile -->
                            <source srcset="{{ex.image.url}}" media="(max-width: 767px)">
                            <!-- imagen desktop -->
                            <source srcset="{{ex.image.url}}" media="(max-width: 768px)">
                            <!-- imagen desktop -->
                            <img src="{{ex.image.url}}" width="1920" height="713"  alt="Myimage">
                        </picture>
                    </div>
                    <div class="b5Text">
                        <div class="gParrafo">
                            <p>{{ex.name}} - {{ex.organization}}</p>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}

{% if header_section.show_gallery_section %}
<section class="b5 scrollWrap anclaBlock" id="galeria">
    <div class="grilla">
        <h4>Conoce más</h4>
        <h3 class="gTitle white">Galería del evento</h3>
        <div class="b5Swiper swiper-container scrollItem swiper" data-initial="3">
            <div class="b5Wrap swiper-wrapper">
                {% for video in videos %}
                <a  href="#" class="b5Item swiper-slide zoomImageHover">
                    <div class="b5Img">
                        <picture class="imgCover">
                            <!-- imagen mobile -->
                            <source srcset="{{video.image.url}}" media="(max-width: 767px)">
                            <!-- imagen desktop -->
                            <source srcset="{{video.image.url}}" media="(max-width: 768px)">
                            <!-- imagen desktop -->
                            <img src="{{video.image.url}}" width="1920" height="713"  alt="Myimage">
                        </picture>
                        {% if video.video_url %}
                            <div class="clickVideo popup " data-urlvideo="{{video.video_url}}">
                                <span>Ver video</span>
                                <!-- linea circular animada administrable -->
                                <div class="lineCircleAnimate" style="border:2px solid #008AC9;"></div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="b5Text">
                        <div class="gParrafo">
                            <p>{{video.description}}</p>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
            <!-- pagination dots -->
            <div class="b5Pagination gPagination"></div>
            <!-- nav prev and next -->
        </div>
    </div>
</section>
{% endif %}
{% if header_section.show_sponsors_section %}
<section class="b6 anclaBlock anclaBlock" id="auspiciador">
    <div class="grilla">
        <div class="b6Top">
            <h4>{{home_page.sponsors_section_name}}</h4>
            <h3 class="gTitle tac">{{home_page.sponsors_section_text}}</h3>
        </div>
        <div class="b6Wrap">
            {% for sponsor in sponsors %}
                <div class="b6Item">
                    <figure>
                        <!-- que la medida sea administrable -->
                        <img src="{{sponsor.image.url}}" alt="" width="100">
                    </figure>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}
{% if header_section.show_networking_section %}
    {% if logged_user %}
        <section class="b16 anclaBlock" id="networking">
            <div class="grilla">
                <h3 class="gTitle">{{home_page.networking_section_name}}</h3>
                {% if logged_user.allow_networking %}
                    <div class="gParrafo">
                        <p>{{home_page.networking_description_text}}</p>
                    </div>
                    <a href="{% url 'landing:networking_preferences' %}" class="gButton">Ir a Networking</a>
                {% else %}
                    <div class="gParrafo">
                        <p>¿Autorizas compartir tu información de contacto con el resto de los asistentes?</p>
                    </div>
                    <a href="#" class="gButton b16OpenPopup">Si, continuar</a>
                {% endif %}
            </div>
        </section>

        <div class="b16Popup">
            <!-- <a href="#" class="icon-close"></a> -->
            <div class="b16PopupContent">
                <h3 class="gTitle">{{home_page.networking_section_name}}</h3>
                <div class="gParrafo">
                    <p>Confirma que desea compartir sus datos con los demás asistentes del evento.</p>
                </div>
                <div class="b16Buttons">
                    <a href="#" class="gButton b16AceptNet">Aceptar</a>
                    <a href="#" class="gButton b16CancelNet">Cancelar</a>
                </div>
            </div>
        </div>
    {% else %}
        <section class="b16 anclaBlock" id="networking">
            <div class="grilla">
                <h3 class="gTitle">{{home_page.networking_section_name}}</h3>
                <div class="gParrafo">
                    <p>Para conectarte con los demás usuarios primero debes registrarte</p>
                </div>
            </div>
        </section>
    {% endif %}
{% endif %}

{% if header_section.show_survey_section %}
<section class="b7 anclaBlock" id="encuesta">
    <!-- Que todo sea -->
    <a href="{% url 'landing:survey_view' %}" class="grilla">
        <div class="b7Info">
            <h3 class="gTitle">{{home_page.survey_section_name}}</h3>
            <div class="gParrafo">
                <p>{{home_page.survey_description_text}}</p>
            </div>
        </div>
        <span><img src="/static/web/img/arrow.svg" alt=""></span>
    </a>
</section>
{% endif %}
{% if header_section.show_more_events %}
<section class="b8 scrollWrap" data-initial="3">
    <div class="grilla">
        <div class="b8Top f aic jcsb">
            <h3 class="gTitle scrollItem">Más Eventos</h3>
            <a href="#" class="gButton">Más eventos</a>
        </div>
        <div class="b8SwiperContent">
            <div class="b8Swiper swiper-container scrollItem swiper" data-initial="3">
                <div class="b8Wrap swiper-wrapper">
                {% for row in "123456"|make_list %}
                    <a href="#" class="b8Item swiper-slide scrollItem zoomImageHover">
                        <div class="b8Img ">
                            <picture class="imgCover">
                                <!-- imagen mobile -->
                                <source srcset="/static/web/img/b8_img1.png" media="(max-width: 767px)">
                                <!-- imagen desktop -->
                                <source srcset="/static/web/img/b8_img1.png" media="(max-width: 768px)">
                                <!-- imagen desktop -->
                                <img src="/static/web/img/b8_img1.png" width="1920" height="713"  alt="Myimage">
                            </picture>
                        </div>
                        <div class="b8Info ">
                            <h2>Tecnología con impacto</h2>
                            <div class="b8InfoWrap f aic jcsb">
                                <div class="b8Date f aifs jcfs  fdc">
                                    <div class="b8DateItem f aifs jcfs">
                                        <img src="/static/web/img/calendario-black.svg" alt="" width="20">
                                        <h4>19 de marzo de 2024<span>08:30 a 12:30</span></h4>
                                    </div>
                                    <div class="b8DateItem f aifs jcfs">
                                        <img src="/static/web/img/address.svg" alt="" width="20">
                                        <h4>Camara de Comercio de Lima</span></h4>
                                    </div>
                                </div>
                                <figure>
                                    <img src="/static/web/img/b8circleArrow.svg" alt="" width="74">
                                </figure>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="b2Nav gNav">
                <div class="b8Prev gPrev"></div>
                <div class="b8Next gNext"></div>
            </div>
        </div>
    </div>
</section>
{% endif %}


{% endblock %}

{% block jsfinal %}
<script src="https://www.google.com/recaptcha/api.js?render={{recaptcha_site_key}}"></script>

<script src="/static/web/js/swiper/swiper-bundle.min.js"></script>
<script>
        grecaptcha.ready(function() {
            grecaptcha.execute('{{recaptcha_site_key}}', {action: "/"}).then(function(token) {
                document.getElementById('g-recaptcha-response').value = token;
                document.getElementById('g-recaptcha-response_login').value = token;
            });
        });
</script>
<script>
    function onClick(e) {
      e.preventDefault();
      grecaptcha.ready(function() {
        grecaptcha.execute('{{recaptcha_site_key}}', {action: 'submit'}).then(function(token) {
            // Add your logic to submit to your backend server here.
        });
      });
    }
</script>
<script type="text/javascript">
    if(document.getElementsByClassName("b3")[0]){
        eventGrilla("b3Left","left")
        eventClickAccordion("b3ClickToggle")
    }

     if(document.getElementsByClassName("agregarCalendario")[0]){
            const items = document.querySelectorAll('.agregarCalendario');
            let totalCount = {{user_schedules_quantity}};
            const items_id = {{user_schedules|safe}}
            const selectedItems = new Set(items_id);
            for(const itemId of selectedItems){
                let item = document.querySelector(`.agregarCalendario[data-item-id="${itemId}"]`);
                if (item) {
                    item.classList.add('selected');
                    item.children[0].textContent = "Agendado";
                }
            }

            items.forEach(item => {
                item.addEventListener('click', function(e) {
                    e.preventDefault()
                    const itemId = this.getAttribute('data-item-id');
                    if (selectedItems.has(parseInt(itemId))) {
                        scheduleManager(parseInt(itemId), 0, selectedItems, this.classList, this.children[0])

                    } else {
                        scheduleManager(parseInt(itemId), 1, selectedItems, this.classList, this.children[0])

                    }
                });
            });

            function scheduleManager(schedule_id, status, selectedItems, classList, item_content){
                $.ajax({
                    url: '{% url "events:generate_schedule" %}',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        schedule_id: schedule_id,
                        status: status,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(data){
                        if (data.success) {
                            if(status == 1){
                                classList.add('selected');
                                selectedItems.add(schedule_id)
                                item_content.textContent = "Agendado";
                                totalCount++;
                            }else{
                                classList.remove('selected');
                                selectedItems.delete(schedule_id)
                                item_content.textContent = "Agendar";
                                totalCount--;
                            }
                            updateTotalCountDisplay();
                        } else {
                        }
                    },
                    error: function(xhr, status){
                    }
                });
            }

            function updateTotalCountDisplay() {
                if(totalCount > 0){
                    $('.headerEventos').attr('href', "{% url 'landing:scheduled_events' %}")
                }else{
                    $('.headerEventos').removeAttr('href');
                }
                document.getElementById('total-count').textContent = totalCount;
            }
        }

        let elb4ClickSelect = document.getElementsByClassName("b4ClickSelect")
        for(const b4ClickSelect of elb4ClickSelect){
            if(b4ClickSelect.nextElementSibling){
                let eloptioItem = b4ClickSelect.nextElementSibling.children;
                for(const optioItem of eloptioItem){
                    optioItem.addEventListener("click",function(e){
                        e.preventDefault();
                        e.stopPropagation();
                        let getTextNameOption = this.getAttribute('data-option');
                        let filter_type = this.getAttribute('data-type');
                        let currentUrl = window.location.href;
                        if(getTextNameOption == 'all'){
                            if(!currentUrl.includes('#')){
                                let url = new URL(currentUrl + '#agenda');
                                url.searchParams.delete(filter_type);
                                window.location.href = url.toString();
                            }else{
                                let url = new URL(currentUrl);
                                url.searchParams.delete(filter_type);
                                window.location.href = url.toString();
                            }
                        }else{
                            if(!currentUrl.includes('#')){
                                let url = new URL(currentUrl + '#agenda');
                                url.searchParams.set(filter_type, getTextNameOption);
                                window.location.href = url.toString();
                            }else{
                                let url = new URL(currentUrl);
                                url.searchParams.set(filter_type, getTextNameOption);
                                window.location.href = url.toString();
                            }
                        }
                        this.parentNode.previousElementSibling.children[1].innerText = getTextNameOption
                        this.parentNode.parentNode.classList.remove('active')
                    });
                }
            }
            else{
            }
            b4ClickSelect.addEventListener('click',function(e) {
                e.preventDefault()
                e.stopPropagation();
                this.parentNode.classList.toggle('active');
            })
        }

        window.addEventListener("click",function(){
            for(const b4ClickSelect of elb4ClickSelect){
                b4ClickSelect.parentNode.classList.remove('active')
            }
        });

        let elb4ItemOption = document.getElementsByClassName("b4ItemOption");
        for(const b4ItemOption of elb4ItemOption){
            b4ItemOption.addEventListener("click",function(){
                let filter = this.getAttribute('data-filter')
                let category = this.getAttribute('data-category')
                let elchildrenOptions = this.parentNode.children
                let getColorCheckRadio = this.children[0].dataset.colorActive
                for(const childrenOptions of elchildrenOptions){
                    childrenOptions.classList.remove('active')
                    childrenOptions.children[0].style.border = `1px solid #000`;
                }
                this.children[0].style.border = `1px solid ${getColorCheckRadio}`;
                this.classList.add('active')
                let currentUrl = window.location.href;
                if (category == 'all'){
                    let params = new URL(document.location.toString()).searchParams;
                    let filtered_date = params.get('date')
                    let filtered_shift = params.get('shift')
                    let url = new URL(window.location.origin + "/#agenda");
                    if(filtered_date){
                        url.searchParams.set('date', filtered_date);
                    }
                    if(filtered_shift){
                        url.searchParams.set('shift', filtered_shift)
                    }
                    window.location.href = url.toString();
                }else{
                    if(!currentUrl.includes('#')){
                        let url = new URL(currentUrl + '#agenda');
                        url.searchParams.set(filter, category);
                        window.location.href = url.toString();
                    }else{
                        let url = new URL(currentUrl);
                        url.searchParams.set(filter, category);
                        window.location.href = url.toString();
                    }

                }

            });
        }

        if(document.getElementsByClassName("b4PersonsExpoList")[0]){
            let elb4ItemRight = document.getElementsByClassName("b4ItemRight")[0]
            let elb4PersonsExpoList = document.getElementsByClassName("b4PersonsExpoList")
            for(const b4PersonsExpoList of elb4PersonsExpoList ){
                if(b4PersonsExpoList.children.length > 4){
                    b4PersonsExpoList.parentNode.classList.add('activeScrollList')
                }
            }
        }
        eventClickAccordion("b4FilterItemClick")

        let elb4OpenPopupPerson = document.getElementsByClassName("b4OpenPopupPerson")
        if (elb4OpenPopupPerson){
            let elb4PopupName = document.getElementsByClassName("b4PopupName")[0];
            let elb4Popupimg = document.getElementsByClassName("b4Popupimg")[0];
            let elb4PopupCargo = document.getElementsByClassName("b4PopupCargo")[0];
            let elb4PopupText = document.getElementsByClassName("b4PopupText")[0];
            let elb4linkedin = document.getElementsByClassName("b4linkedin")[0];
            let elb4Popup = document.getElementsByClassName("b4Popup")[0];
            let elb4PopupBandera = document.getElementsByClassName("b4PopupBandera")[0];
            for(const b4OpenPopupPerson of elb4OpenPopupPerson){
                b4OpenPopupPerson.addEventListener("click",function(e){
                    e.preventDefault();
                    elb4Popup.classList.add('active');
                    OVERLAY.classList.add('active');
                    OVERLAY.style.zIndex = 500
                    let getName = this.dataset.name;
                    let getCargo = this.dataset.cargo;
                    let getInfo = this.dataset.info;
                    let getUrl = this.dataset.url;
                    let getImg = this.dataset.img;
                    let getBander = this.dataset.bandera;
                    elb4PopupName.innerText = getName;
                    elb4PopupCargo.innerText = getCargo;
                    elb4Popupimg.setAttribute('src',getImg);
                    elb4PopupText.innerHTML = getInfo;
                    elb4linkedin.setAttribute("value",getUrl);
                    elb4PopupBandera.setAttribute("src",getBander);
                });
            }
            let elb4ClosePopup = document.getElementsByClassName("b4ClosePopup")[0];
            if (elb4ClosePopup){
                elb4ClosePopup.addEventListener("click",function(e){
                    e.preventDefault();
                    this.parentNode.classList.remove('active')
                    OVERLAY.removeAttribute("style");
                    OVERLAY.classList.remove('active')
                });
            }

        }


    if(document.getElementsByClassName('b5')[0]){
        let elSwiperb5 = document.getElementsByClassName('b5Swiper')[0].dataset.initial
        const breakpoint = window.matchMedia('(max-width: 1024px)');
        const breakpointChecker = () => {
            let getCountItems = document.getElementsByClassName('b5Item').length;
            breakpoint.matches === true ?
                (getCountItems >= 2 ? enableSwiper(elSwiperb5) : destroySwiper()):
                (getCountItems > elSwiperb5 ? enableSwiper(elSwiperb5) : destroySwiper())
        }
        let mySwiper;
        let elWrapSwiperb5 = document.getElementsByClassName('b5')[0]
        const destroySwiper = () =>{
            elWrapSwiperb5.classList.add('noSwiper')
            elWrapSwiperb5.classList.remove('swiperActive')
            if(mySwiper !== undefined) {
                return mySwiper.destroy(true,true);
            }
        }
        const enableSwiper = (initial) => {
            elWrapSwiperb5.classList.remove('noSwiper')
            elWrapSwiperb5.classList.add('swiperActive')
            mySwiper = new Swiper ('.b5Swiper', {
                loop: true,
                spaceBetween: 24,
                centeredSlides: false,
                pagination: {
                    el: '.b5Pagination',
                    type: 'bullets',
                    clickable: true
                },
                navigation: {
                    nextEl: '.b5Next',
                    prevEl: '.b5Prev',
                },
                breakpoints:{
                    1024:{
                    slidesPerView: initial,
                    spaceBetween: 24,
                    },
                    768:{
                    slidesPerView: 2,
                    spaceBetween: 24,
                    },
                    320:{
                    slidesPerView: 1,
                    spaceBetween: 24,
                    }
                }
            });
        };
        breakpoint.addListener(breakpointChecker);
        breakpointChecker();
    }


    if(document.getElementsByClassName('b16')[0]){
        let elb16Popup = document.getElementsByClassName('b16Popup')[0]
        let elb16CancelNet = document.getElementsByClassName('b16CancelNet')[0]
        if(elb16CancelNet){
            elb16CancelNet.addEventListener('click',function(e){
                e.preventDefault();
                elb16Popup.classList.remove('active')
                OVERLAY.classList.remove('active')
                OVERLAY.removeAttribute('style')
            })
        }
        let b16openPopups = document.getElementsByClassName('b16OpenPopup')
        if(b16openPopups.length > 0){
            let elb16OpenPopup = b16openPopups[0]
            elb16OpenPopup.addEventListener('click',function(e){
                e.preventDefault();
                elb16Popup.classList.add('active')
                OVERLAY.classList.add('active')
                OVERLAY.style.zIndex = "400"
            })
        }
    }

     if(document.getElementsByClassName('b8')[0]){
        let elSwiperb8 = document.getElementsByClassName('b8Swiper')[0].dataset.initial
        const breakpointb8 = window.matchMedia('(max-width: 1024px)');
        const breakpointCheckerb8 = () => {
            let getCountItemsb8 = document.getElementsByClassName('b8Item').length;
            breakpointb8.matches === true ?
                (getCountItemsb8 >= 2 ? enableSwiperb8(elSwiperb8) : destroySwiperb8()):
                (getCountItemsb8 > elSwiperb8 ? enableSwiperb8(elSwiperb8) : destroySwiperb8())
        }
        let mySwiperb8;
        let elWrapSwiperb8 = document.getElementsByClassName('b8')[0]
        const destroySwiperb8 = () =>{
            elWrapSwiperb8.classList.add('noSwiper')
            elWrapSwiperb8.classList.remove('swiperActive')
            if(mySwiperb8 !== undefined) {
                return mySwiperb8.destroy(true,true);
            }
        }
        const enableSwiperb8 = (initial) => {
            elWrapSwiperb8.classList.remove('noSwiper')
            elWrapSwiperb8.classList.add('swiperActive')
            mySwiperb8 = new Swiper ('.b8Swiper', {
                loop: true,
                spaceBetween: 24,
                centeredSlides: false,
                pagination: {
                    el: '.b8Pagination',
                    type: 'bullets',
                    clickable: true
                },
                navigation: {
                    nextEl: '.b8Next',
                    prevEl: '.b8Prev',
                },
                breakpoints:{
                    1280:{
                        slidesPerView: 3,
                        spaceBetween: 24,
                    },
                    1024:{
                        slidesPerView: 2,
                        spaceBetween: 24,
                    },
                    768:{
                        slidesPerView: 2,
                        spaceBetween: 24,
                    },
                    320:{
                        slidesPerView: 1,
                        spaceBetween: 24,
                    }
                }
            });
        };
        breakpointb8.addListener(breakpointCheckerb8);
        breakpointCheckerb8();
    }
    let b16AceptNet = document.getElementsByClassName("b16AceptNet")[0];
    if(b16AceptNet){
        b16AceptNet.addEventListener("click",function(e){
            e.preventDefault();
            $.ajax({
                url : "{% url 'landing:allow_networking_user' %}",
                type : "post",
                data: {
                    networking: 1,
                    csrfmiddlewaretoken: "{{csrf_token}}"
                },
            }).done(function(data) {
                if(data.success){
                    window.location.href = data.redirect_url
                }
            });
        });
    }
    if(document.getElementsByClassName('b22')[0]){
        function actualizarContador() {
            const fechaObjetivoString = document.getElementById("contador").getAttribute("data-date");
            const [fecha, hora] = fechaObjetivoString.split(' ');
            const [dia, mes, año] = fecha.split('-');
            const fechaObjetivoISO = `${año}-${mes}-${dia}T${hora}`;
            const fechaObjetivo = new Date(fechaObjetivoISO);
            const ahora = new Date();
            const diferencia = fechaObjetivo - ahora;
            if (diferencia > 0) {
                const dias = Math.floor(diferencia / (1000 * 60 * 60 * 24));
                const horas = Math.floor((diferencia % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                const minutos = Math.floor((diferencia % (1000 * 60 * 60)) / (1000 * 60));
                const segundos = Math.floor((diferencia % (1000 * 60)) / 1000);
                document.getElementById("dias").innerText = dias.toString().padStart(2, "0");
                document.getElementById("horas").innerText = horas.toString().padStart(2, "0");
                document.getElementById("minutos").innerText = minutos.toString().padStart(2, "0");
                document.getElementById("segundos").innerText = segundos.toString().padStart(2, "0");
            } else {
                document.getElementById("dias").innerText = "00";
                document.getElementById("horas").innerText = "00";
                document.getElementById("minutos").innerText = "00";
                document.getElementById("segundos").innerText = "00";
            }
        }
        setInterval(actualizarContador, 1000);
    }
</script>
{% endblock %}
