{% extends "landing/common/_base.html" %}

{% block cssadicional %}
{% endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<section class="b11 pageEncuesta scrollWrap">
    <div class="b11Left scrollItem">
        <div class="b11LeftContent">
            <a href="##" onClick="history.go(-1); return false;" class="gReturn">Regresar</a>
            <h1 class="gTitle">Networking</h1>
            <div class="gParrafo">
                <p>{{home_page.main_title}}</p>
            </div>
        </div>
    </div>
    <div class="b11Right scrollItem">
        <div class="b18Content">
            <div class="gParrafo">
                <p>Selecciona el grupo/rubro de tu interés</p>
            </div>
            <div class="b18Filters f aic jcfs">
               <div class="b18Select">
                    <a href="#" class="b18ClickSelect"></a>
                    <ul>
                        {% if not selected_category %}
                            <li><a href="#" class="b18ItemOption active" data-option=0>Todos</a></li>
                        {% else %}
                            <li><a href="#" class="b18ItemOption" data-option=0>Todos</a></li>
                        {% endif %}
                        {% for option in options %}
                            {% if option.id == selected_category %}
                                <li><a href="#" class="b18ItemOption active" data-option={{option.id}}>{{option.name}}</a></li>
                            {% else %}
                                <li><a href="#" class="b18ItemOption" data-option={{option.id}}>{{option.name}}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
               </div>
               <div class="b18Buscador">
                    <input type="text" value="{{search_query}}" id="searchInput" placeholder="Buscar">
               </div>
            </div>
            <div class="b18ContentWrap">
                <div class="b18Wrap" data-tab="data-0">
                    <div class="b18WrapContentTable">
                        <table>
                            <tr>
                                <th>Nombre</th>
                                <th>Empresa</th>
                                <th>Cargo</th>
                                <th>Email</th>
                                <th>Teléfono</th>
                            </tr>
                            {% for contact  in networking_users %}
                                {% with user_company=contact.user_company %}
                                <tr>
                                    <td>{{user_company.full_name}}</td>
                                    {% if user_company.job_company_select %}
                                        <td>{{user_company.job_company_select.name}}</td>
                                    {% endif %}
                                    {% if user_company.job_company %}
                                        <td>{{user_company.job_company}}</td>
                                    {% endif %}
                                    <td>{{user_company.company_position}}</td>
                                    <td><a href="mailto:{{user_company.email}}">{{user_company.email}}</a></td>
                                    <td>
                                        {% if user_company.phone %}
                                            <a href="https://wa.me/{{user_company.phone}}?hola"><i class="icon-whatsapp"></i>Chat</a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endwith %}
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block jsfinal %}
<script type="text/javascript">
    eventGrilla("b11Left","left")
    eventGrilla("b11Right","right")
     let elb18ClickSelect = document.getElementsByClassName("b18ClickSelect")[0];
     let elb18Select = document.getElementsByClassName("b18Select")[0];
     let elb18ItemOption = document.getElementsByClassName("b18ItemOption");
     elb18ClickSelect.addEventListener("click", function(e) {
        console.log('click!')
        e.preventDefault();
        e.stopPropagation();
        this.parentElement.classList.toggle('active');
     });
     for(const b18ItemOption of elb18ItemOption){
        if(b18ItemOption.classList.contains('active')){
            let getText = b18ItemOption.textContent;
            elb18ClickSelect.innerText = getText
        }
     }
     $('.b18ItemOption').click(function(e){
        const option_id = $(this).attr('data-option')
        let url = new URL(window.location.origin + "{% url 'landing:networking' %}");
        if(option_id > 0){
            url.searchParams.set('category', option_id)
        }
        if ($('#searchInput').val()){
            url.searchParams.set('search', $('#searchInput').val())
        }
        window.location.href = url.toString();
    });
     $('#searchInput').keydown(function(event) {
        if (event.key === 'Enter') {
            event.preventDefault();
            const query = $('#searchInput').val();
            let url = new URL(window.location.origin + "{% url 'landing:networking' %}");
            if("{{selected_category}}"){
                url.searchParams.set('category', "{{selected_category}}")
            }
            url.searchParams.set('search', query)
        }
    });
     window.addEventListener("click", function(e) {
        elb18Select.classList.remove('active');
     });
</script>
{% endblock %}
