{% extends "landing/common/_base.html" %}

{% block cssadicional %}

{% endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<section class="b2 scrollWrap">
    <div class="grilla">
        <div class="b2Info">
            <h1 class="gTitle scrollItem">Olvidé mi contraseña</h1>
            <div class="gParrafo scrollItem">
                {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
                {% else %}
                <p>A continuación ingrese su nueva contraseña.</p>
                {% endif %}
            </div>
            <form action="" class="g8Form scrollItem" method="POST">
                {% csrf_token %}
                <div class="g8Input">
					<span>Contraseña</span>
					<input type="password" id="password" class="g8Box validate[required]" name="{{form.new_password1.html_name}}">
				</div>
                <div class="g8Input">
					<span>Confirmar Contraseña</span>
					<input type="password" class="g8Box validate[required,equals[password]]"  name="{{form.new_password2.html_name}}">
				</div>
                <button type="submit" style="background: {{company.button_color}} !important;color: {{company.button_text_color}};">Guardar</button>
                <a href="{% url 'landing:home' %}" class="g8LinkForm" style="color: {{company.button_color}};">Regresar</a>
            </form>
        </div>
    </div>
</section>

{% endblock %}

{% block jsfinal %}
<script type="text/javascript">

</script>
{% endblock %}
