.b1 {
  height: 100vh;
  position: relative;
}
.b1 picture {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.b1 picture img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.b1:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 25%;
  bottom: 0;
  left: 0;
  background: -webkit-linear-gradient(270deg, rgba(13,13,13,0) 0%, #0d0d0d 100%);
  background: -moz-linear-gradient(270deg, rgba(13,13,13,0) 0%, #0d0d0d 100%);
  background: -o-linear-gradient(270deg, rgba(13,13,13,0) 0%, #0d0d0d 100%);
  background: -ms-linear-gradient(270deg, rgba(13,13,13,0) 0%, #0d0d0d 100%);
  background: linear-gradient(180deg, rgba(13,13,13,0) 0%, #0d0d0d 100%);
  z-index: 2;
}
.b1 .grilla {
  height: 100%;
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: end;
  -moz-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-bottom: 22vh;
}
.b1Info h4 {
  margin: 25px 0px;
  font-size: 28px;
  font-family: 'InterTight-Regular', sans-serif;
  line-height: normal;
  color: rgba(255,255,255,0.949);
}
@media screen and (max-width: 1600px) {
  .b1Info h4 {
    font-size: calc(22px + (28 - 22) * ((100vw - 375px) / (1920 - 375)));
  }
}
.b1Info ul {
  margin-top: 60px;
}
.b1Info ul li {
  margin-bottom: 13px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  grid-gap: 15px;
}
.b1Info ul li:last-child {
  margin-bottom: 0px;
}
.b1Info ul p {
  margin-bottom: 0px;
  font-size: 14px;
  font-family: 'InterTight-Regular', sans-serif;
  line-height: normal;
  color: #fff;
}
.b1Info .gButton {
  height: 56px;
  background: #0acfc9;
  font-size: 20px;
  font-family: 'InterTight-Medium', sans-serif;
  line-height: normal;
  color: #0d0d0d;
  padding: 0px 55px;
}
.b1Bottom {
  cursor: pointer;
}
.b1Bottom p {
  margin-bottom: 14px;
  font-size: 18px;
  font-family: 'InterTight-Light', sans-serif;
  line-height: normal;
  color: #fff;
}
.b1Bottom img {
  width: 280px;
}
.b1PopupInfo {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  position: fixed;
  z-index: 400;
  max-width: 900px;
  width: 100%;
  margin: auto;
  padding: 80px;
  background: #000;
  border-radius: 8px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-transition: all 400ms cubic-bezier(0.78, 0.13, 0.24, 0.88);
  -moz-transition: all 400ms cubic-bezier(0.78, 0.13, 0.24, 0.88);
  -o-transition: all 400ms cubic-bezier(0.78, 0.13, 0.24, 0.88);
  -ms-transition: all 400ms cubic-bezier(0.78, 0.13, 0.24, 0.88);
  transition: all 400ms cubic-bezier(0.78, 0.13, 0.24, 0.88);
  pointer-events: none;
}
.b1PopupInfo.active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
  -webkit-transition: all 400ms cubic-bezier(0.78, 0.13, 0.24, 0.88);
  -moz-transition: all 400ms cubic-bezier(0.78, 0.13, 0.24, 0.88);
  -o-transition: all 400ms cubic-bezier(0.78, 0.13, 0.24, 0.88);
  -ms-transition: all 400ms cubic-bezier(0.78, 0.13, 0.24, 0.88);
  transition: all 400ms cubic-bezier(0.78, 0.13, 0.24, 0.88);
  pointer-events: all;
}
.b1PopupInfo h3 {
  font-size: 36px;
  font-family: 'InterTight-SemiBold', sans-serif;
  line-height: normal;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (max-width: 1600px) {
  .b1PopupInfo h3 {
    font-size: calc(24px + (36 - 24) * ((100vw - 375px) / (1920 - 375)));
  }
}
.b1PopupInfo h3 span {
  display: block;
  width: 100%;
  font-size: 16px;
  font-family: 'InterTight-Medium', sans-serif;
  line-height: normal;
  color: #fff;
  margin-top: 10px;
}
@media screen and (max-width: 1600px) {
  .b1PopupInfo h3 span {
    font-size: calc(14px + (16 - 14) * ((100vw - 375px) / (1920 - 375)));
  }
}
.b1PopupInfo figure {
  width: 100%;
}
.b1PopupInfo figure img {
  width: 100%;
}
.b1CloseMapa {
  position: absolute;
  top: 15px;
  right: 15px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  width: 35px;
  height: 35px;
  background: #fff;
  border-radius: 50%;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  color: #000;
  font-size: 22px;
}
@media screen and (max-width: 1366px) {
  .b1 .grilla {
    padding-bottom: 10vh;
  }
  .b1Info .imgLogo {
    width: 450px;
  }
}
@media screen and (max-width: 1024px) {
  .b1 .grilla {
    padding-bottom: 15vh;
  }
  .b1Info .imgLogo {
    width: 450px;
  }
}
@media screen and (max-width: 480px) {
  .b1 {
    min-height: 680px;
  }
  .b1 .grilla {
    padding-bottom: 5vh;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-gap: 40px;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -o-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-box-align: start;
    -moz-box-align: start;
    -o-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
  .b1Info .imgLogo {
    width: 80%;
  }
}
