<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    {% if company.favicon %}
        <link rel="icon" type="image/png" href="{{company.favicon.url}}"/>
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{company.favicon.url}}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{company.favicon.url}}">
        <link rel="apple-touch-icon-precomposed" href="{{company.favicon.url}}">
    {% endif %}
    {% block cssadicional %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/web/css/styles.css?v=1{{ BUILD_ID }}"/>
    <link rel="stylesheet" href="/static/web/js/validationform/validationEngine.jquery.css">
    <!-- <link rel="stylesheet" type="text/css" href="/static/web/css/blocks_styl.css?v=2{{ BUILD_ID }}"/> -->
</head>


<div class="overlay"></div>
<div class="videoPopupContent">
    <!-- mp4 - youtube - vimeo -->
</div>
{% if company.cookies_policy %}
<div class="coockies" id="elCoockie">
    <div class="grilla">
        <div class="gParrafo">
            <p>Este sitio web utiliza cookies necesarias para su funcionamiento. Antes de continuar navegando, te sugerimos revisar el tratamiento de estas en nuestra <a target="_blank" href="{{company.cookies_policy.url}}">Política de Cookies</a></p>
        </div>
        <a href="#" class="gButton " id="buttonCookie">Cerrar</a>
    </div>
</div>
{% endif %}
<body class="{% block classbody %}{% endblock %}">
    <div class="contentWrapper">

        {% include "landing/common/_header.html" %}
        <div class="wrapper">
            {% block content %}
            {% endblock %}
        </div>
        {% include "landing/common/_footer.html" %}
    </div>
    <!-- <a href="#" class="openSidebarMobile icon-menu"></a> -->
    <!-- <div class="sidebarContentMobile"></div> -->
    <script src="/static/web/js/jquery-3.7.1.min.js" type="text/javascript"></script>
    <script src="/static/web/js/main.js" type="text/javascript"></script>
    <script src="/static/web/js/validationform/jquery.validationEngine.js"></script>

    <!-- JSADD START -->
    {% block jsfinal %}{% endblock %}
    <!-- JSADD END -->
    <script>
        'use strict';
        var register_data = "";
        $(function(){
            //Configuraciòn general de plugin formulario
            $("form").validationEngine('attach', {
                promptPosition : "topLeft",
                autoHidePrompt: true,
                autoHideDelay: 2000,
                binded: false,
                scroll: false,
                validateNonVisibleFields: true
            });

            //Evento form LOGIN
            $('.g8SumitLogin').click(function(e){
                e.preventDefault();
                var item = $(this);
                var valid = item.closest('form').validationEngine('validate');
                var form = $(this).closest('form');
                $('.g8SumitLogin').addClass('isLoading');
                if (!valid) {
                    } else {
                        let login_data = form.serialize()
                        $.ajax({
                            url : "/login_access/",
                            type : "post",
                            data: login_data,
                        }).done(function(data) {
                            if(data.success){
                                window.location.href = data.redirect_url
                            }else{
                                var msg = $('.login-message-warning')
                                var login_form = $('.login-form')
                                var login_warning_form = $('.login-warning-form')
                                login_form.hide();
                                $('.tac').hide();
                                msg.html("<p>" + data.message + "</p>")
                                login_warning_form.show();
                                $('.g8SumitLogin').removeClass('isLoading')
                                if(data.captcha_error == 1){
                                    setTimeout(()=>{
                                        location.reload();
                                    }, 3000)
                                }
                            }
                        });
                }
            });
            $('.return-login-form').on('click', function (e) {
                $('.login-warning-form').hide();
                $('.login-form').show();
                $('.tac').show();
            });
            //Evento form REGISTRO
            $('.save-register').click(function(e){
                e.preventDefault();
                var item = $(this);
                var valid = item.closest('form').validationEngine('validate');
                var form = $(this).closest('form');
                $('.save-register').addClass('isLoading');
                if (!valid) {
                    } else {
                        register_data = form.serialize()
                        console.log(register_data, 'REGISTER DATA')
                        $.ajax({
                            url : "{% url 'landing:validate_register' %}",
                            type : "post",
                            data: register_data,
                        }).done(function(data) {
                            if(data.captcha_error == 1){
                                setTimeout(()=>{
                                    location.reload();
                                }, 3000)
                            }
                            if(data.success){
                                console.log(data, 'DATA')
                                if(data.confirmed){
                                    $('.parrafo-register').show();
                                    $('.warning-form').hide();
                                    setTimeout(()=>{
                                        window.location.href = data.redirect_url
                                    }, 2000)
                                }else{
                                    var parrafo_register = $('.parrafo-register')
                                    parrafo_register.hide();
                                    var register_form = $('.register-form')
                                    register_form.hide();
                                    $('.message-waiting-confirmation').html(data.confirmed_message)
                                    $('.waiting-confirmation-form').show();
                                    setTimeout(()=>{
                                        window.location.href = data.redirect_url
                                    }, 20000)
                                }

                            }else{
                                $('.save-register').removeClass('isLoading');
                                var parrafo_register = $('.parrafo-register')
                                var msg = $('.message-warning')
                                var register_form = $('.register-form')
                                var warning_form = $('.warning-form')
                                register_form.hide();
                                parrafo_register.hide();
                                msg.html("<p>" + data.message + "</p>")
                                if(data.can_confirm){
                                    $('.confirm-div').show()
                                }
                                else{
                                    $('.confirm-div').hide()
                                }
                                warning_form.show();
                            }
                        });
                }
            });


        })
        $('.waiting-confirm-button').on('click', function (e) {
            window.location.href = "/"
        });
        $('.return-register-form').on('click', function (e) {
            $('.warning-form').hide();
            $('.parrafo-register').show();
            $('.register-form').show();
        });
        $('.confirm-button').on('click', function (e) {
            $('.confirm-button').addClass('isLoading');
            $.ajax({
                url : "{% url 'landing:confirm_register' %}",
                type : "post",
                data: register_data,
            }).done(function(data) {
                if(data.confirmed){
                    setTimeout(()=>{
                        window.location.href = data.redirect_url
                    }, 2000)
                }else{
                    var parrafo_register = $('.warning-form')
                    parrafo_register.hide();
                    $('.message-waiting-confirmation').html(data.confirmed_message)
                    $('.waiting-confirmation-form').show();
                    setTimeout(()=>{
                        window.location.href = data.redirect_url
                    }, 20000)
                }

            });
        });
        let elkeypress = document.getElementsByClassName('validKeypress')
        for(const keypress of elkeypress) {
            keypress.addEventListener('keypress',function(e){
                let getTypeValue = this.dataset.type
                getTypeValue == "number" ? getTypeValue = /\d{1,9}$/g : getTypeValue = /([A-Za-zñÑáéíóúÁÉÍÓÚ\s]+)/;
                let inputCode = e.keyCode || e.charCode;
                if(inputCode!=8 && inputCode!=37 && inputCode!=39 && inputCode!=46){
                    var charStr = String.fromCharCode(inputCode);
                    !getTypeValue.test(charStr) ? event.preventDefault() : console.log("correcto")
                }
            })
        }
        let elInputBox = document.getElementsByClassName('g8Box')
        for(const inputBox of elInputBox) {
            inputBox.addEventListener('focusin',function() {
                this.parentNode.classList.add('active')
            })
            inputBox.addEventListener('focusout',function() {
                if(this.value === ""){
                    this.parentNode.classList.remove('active')
                }
            })
        }
        if(document.getElementsByClassName('headerButtonLogin')[0] || document.getElementsByClassName('headerButtonRegistrate')[0]){
            let elg8ClosePopup = document.getElementsByClassName('g8ClosePopup')
            for(const g8ClosePopup of elg8ClosePopup){
                    g8ClosePopup.addEventListener('click', function(e){
                        e.preventDefault();
                        this.parentNode.classList.remove('active')
                        OVERLAY.classList.remove('active')
                    });
                }
            }

            document.addEventListener('DOMContentLoaded', function() {
                const buttonCookie = document.getElementById('buttonCookie');
                const elCoockie = document.getElementById('elCoockie');
                if (localStorage.getItem('ocultarElemento') === 'true') {
                    elCoockie.style.display = 'none';
                }
                buttonCookie.addEventListener('click', function() {
                    elCoockie.style.display = 'none';
                    localStorage.setItem('ocultarElemento', 'true');
                });
            });

    </script>
</body>
</html>
