<footer style="background: {{footer.background}};">
    <div class="grilla f aic jcsb anclaBlock" id="contact">
        <h3>{{footer.text}}</h3>
        {% if footer.mobile %}
            <a href="https://wa.me/{{footer.mobile_link}}" target="_blank" class="footerWsp f aic jcc">
                <img src="/static/web/img/wsp.svg" alt="" width="60">
                <h4>Contáctanos <span>{{footer.mobile}}</span></h4>
            </a>
        {% endif %}
        <div class="footerRedesContent">
            <h4>Redes sociales</h4>
            <div class="footerRedes f aic jcsb">
                {% if footer.facebook %}
                    <a href="{{footer.facebook}}" target="_blank"><img src="/static/web/img/facebook.svg" alt=""></a>
                {% endif %}
                {% if footer.instagram %}
                    <a href="{{footer.instagram}}" target="_blank"><img src="/static/web/img/instagram.svg" alt=""></a>
                {% endif %}
                {% if footer.twitter %}
                    <a href="{{footer.twitter}}" target="_blank"><img src="/static/web/img/twitter.svg" alt=""></a>
                {% endif %}
                {% if footer.linkedin %}
                    <a href="{{footer.linkedin}}" target="_blank"><img src="/static/web/img/linkedIn.svg" alt=""></a>
                {% endif %}
            </div>
        </div>
    </div>
</footer>