<header class="header {% if logged_user %}sessionOn{% else %}sessionOff{% endif %}" style="background-color: {{header_section.header_color}}">
    <div class="grilla f aic jcsb">
        <div class="headerLeft">
            <a href="{% url 'landing:home' %}">
                <figure>
                    <img src="{{request.company.logo.url}}" alt="">
                </figure>
            </a>
        </div>
        <div class="headerAnclas f aic jcc">
            {% if header %}
                {% if header_section.show_about_section %}
                    <a href="#acerca" class="headerAnclaBlock" style="color:{{header_section.header_text_color}};">{{header_section.about_section_header_name}} <span class="lineActive" style="background:{{header_section.button_color}};"></span></a>
                {% endif %}
                {% if header_section.show_schedule_section %}
                    <a href="#agenda" class="headerAnclaBlock" style="color:{{header_section.header_text_color}};">{{header_section.schecule_header_name}} <span class="lineActive" style="background:{{header_section.button_color}};"></span></a>
                {% endif %}
                {% if header_section.show_gallery_section %}
                    <a href="#galeria" class="headerAnclaBlock" style="color:{{header_section.header_text_color}};">{{header_section.gallery_header_name}} <span class="lineActive" style="background:{{header_section.button_color}};"></span></a>
                {% endif %}
                {% if header_section.show_networking_section %}
                    <a href="#networking" class="headerAnclaBlock" style="color:{{header_section.header_text_color}};">{{header_section.networking_header_name}} <span class="lineActive" style="background:{{header_section.button_color}};"></span></a>
                {% endif %}
                {% if header_section.show_survey_section %}
                    <a href="#encuesta" class="headerAnclaBlock" style="color:{{header_section.header_text_color}};">{{header_section.survey_header_name}} <span class="lineActive" style="background:{{header_section.button_color}};"></span></a>
                {% endif %}
                {% if header_section.show_exhibitors_section %}
                <a href="#expositor" class="headerAnclaBlock" style="color:{{header_section.header_text_color}};">{{header_section.exhibitors_header_name}} <span class="lineActive" style="background:{{header_section.button_color}};"></span></a>
                {% endif %}
                {% if header_section.show_sponsors_section %}
                    <a href="#auspiciador" class="headerAnclaBlock" style="color:{{header_section.header_text_color}};">{{header_section.sponsors_header_name}} <span class="lineActive" style="background:{{header_section.button_color}};"></span></a>
                {% endif %}
                {% if header_section.show_contact %}
                    <a href="#contact" class="headerAnclaBlock" style="color:{{header_section.header_text_color}};">{{header_section.contact_header_name}} <span class="lineActive" style="background:{{header_section.button_color}};"></span></a>
                {% endif %}
                {% if logged_user and is_live and company_user.confirmed %}
                    {% if company.access_type == "IN_PERSON" %}
                        <a class="headerEnVivo" style="background: #eb5757;">En vivo<img src="/static/web/img/live.svg" alt=""></a>
                    {% else %}
                        <a href="{% url 'landing:transmission' is_live.slug %}" class="headerEnVivo" style="background: #eb5757;">En vivo<img src="/static/web/img/live.svg" alt=""></a>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
        <div class="headerRight f aic jcfe">
            {% comment %} {% if logged_user and company_user.confirmed %}
                {% if user_schedules_quantity > 0 %}
                    <a href="{% url 'landing:scheduled_events' %}" class="headerEventos">
                        <img src="/static/web/img/icon-calendar.svg" alt="" width="20">
                        <span class="countEvents" id="total-count">{{user_schedules_quantity}}</span>
                    </a>
                {% else %}
                <a class="headerEventos">
                    <img src="/static/web/img/icon-calendar.svg" alt="" width="20">
                    <span class="countEvents" id="total-count">{{user_schedules_quantity}}</span>
                </a>
                {% endif %}
            {% endif %} {% endcomment %}
            <div class="headerOptionsSessions">
                <div class="headerOptionLogout f aic jcfe">
                    <a href="" class="headerButtonLogin login">{{header_section.login_title}}</a>
                    <a href="" class="headerButtonRegistrate" style="background: {{header_section.button_color}}; color: {{header_section.button_text_color}};">
                        {{header_section.register_title}}
                    </a>
                </div>
                <div class="headerOptionLogin f aic jcfe">
                    <h3 class="headerNameUser">Hola {{company_user.names}}</h3>
                    <div class="headerMenu pr f aic jcc" style="display: flex;">
                        <a class="headerIconMenu icon-menu"></a>
                        <div class="headerMenuList pa t100">
                            {% if company_user.confirmed %}
                                <ul>
                                    {% if company_user.in_person %}
                                        <li><a href="{{ticket_url}}">Mi Ticket</a></li>
                                    {% endif %}
                                    {% if company_user.virtual or request.company.enable_credentials %}
                                        <li><a href="{{credential_url}}">Mi credencial</a></li>
                                    {% endif %}
                                    {% if company_user.certificate %}
                                        <li><a target="_blank" href="{{company_user.certificate.url}}">Mi certificado</a></li>
                                    {% elif company_user.allow_certificate %}
                                        <li><a href="{% url 'landing:generate_certificate' %}">Mi certificado</a></li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                            <a href="{% url 'landing:logout' %}" class="logout">Cerrar Sesión</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="g8PopupForm formLogin pr">
    <a href="#" class="g8ClosePopup icon-close pa closeIniciaSesion"></a>
    <h3>Iniciar Sesión</h3>
    <div class="g8Confirm fdc aifs login-warning-form" style="display:none;">
        <div class="g8Bottom gParrafo login-message-warning">
        </div>
        <div class="g8Bottom">
            <a class="return-login-form" href="#"><- Regresar</a>
        </div>
    </div>
    <div class="g8Form login-form">
        <form action="" method="POST">
            <input type="hidden" id="g-recaptcha-response_login" name="g-recaptcha-response">
            {% csrf_token %}
            <div class="g8GroupInput one">
                <div class="g8Input">
                    <span>Email</span>
                    <input type="text" id="login_email" class="g8Box validate[required,custom[email]]" name="{{form_login.email.html_name}}">
                </div>
                <div class="g8Input password">
                    <span>Contraseña *</span>
                    <input type="password" id="login_passwowrd" class="g8Box validate[required]" name="{{form_login.password.html_name}}">
                    <a href="#" class="show-hide-pass"></a>
                </div>
            </div>
            <button class="g8SumitLogin">Ingresar</button>
        </form>
    </div>
    <div class="g8Bottom tac">
        <a href="{% url 'landing:recover_password' %}">Olvidé mi contraseña</a>
        <h4>No tengo una cuenta <a href="#" id="openRegistrarme">Registrarme</a></h4>
    </div>
</div>

<div class="g8PopupForm formRegistro pr">
    <a href="#" class="g8ClosePopup icon-close pa closeRegistro"></a>
    {% if allow_register %}
    <h3>{{header_section.register_form_title}}</h3>
    <div class="g8Form warning-form" style="display:none;">
        <div class="gParrafo message-warning">
        </div>
        <div class="g8Confirm fdc aifs confirm-div" style="display:none;">
            <button class="g8SumitRegistro confirm-button">Continuar con el Registro</button>
        </div>
        <h4><a href="#" class="return-register-form"><- Regresar</a></h4>
    </div>
    <div class="g8Form waiting-confirmation-form" style="display:none;">
        <div class="gParrafo message-waiting-confirmation">
        </div>
        <div class="g8Confirm fdc aifs">
            <button class="g8SumitRegistro waiting-confirm-button">Continuar</button>
        </div>
    </div>
    <div class="gParrafo parrafo-register">
        {{header_section.register_form_text}}
    </div>
    <div class="g8Form register-form">
        <form action="" method="POST" class="form-register">
            <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
            {% csrf_token %}
            {% if choose_access_type %}
                <div class="g8GroupChecbox g8GroupInput two" style="">
                    <span>Tipo de Asistencia: </span>
                    <div class="g8Checkbox">
                        <input id="pres" type="radio" class="validate[required]" name="access_type" value="in_person">
                        <label for="pres">
                            Presencial
                        </label>
                    </div>
                    <div class="g8Checkbox">
                        <input id="virt" type="radio" class="validate[required]" name="access_type" value="virtual">
                        <label for="virt">
                            Virtual
                        </label>
                    </div>
                </div>
            {% endif %}
            <div class="g8GroupInput two">
                <div class="g8Input">
                    <span>{{company.names_field_title}} *</span>
                    <input type="text" data-type="text" maxlength="30" class="g8Box validKeypress validate[required]" name="{{form_register.names.html_name}}">
                </div>
                <div class="g8Input">
                    <span>{{company.last_names_field_title}} *</span>
                    <input type="text" data-type="text" maxlength="30" class="g8Box validKeypress validate[required]" name="{{form_register.last_name.html_name}}">
                </div>
            </div>
            <div class="g8GroupInput two">
                {% if company.job_company%}
                    <div class="g8Input">
                        <span>{{company.job_company_names_field_title}} *</span>
                        <input type="text" class="g8Box validate[required]" name="{{form_register.job_company.html_name}}">
                    </div>
                {% endif %}
                {% if company.job_company_select%}
                    <div class="g8Input select">
                        <span>{{company.job_company_names_field_title}} *</span>
                        <select name="{{form_register.job_company_select.html_name}}" id="" class="g8Box validate[required]">
                            <!-- <option value="">Selecciona un tipo</option> -->
                            <option value=""></option>
                            {% for job_company in job_companies %}
                                <option value="{{job_company.id}}">{{job_company.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}
                {% if company.company_position%}
                    <div class="g8Input">
                        <span>{{company.company_position_names_field_title}} *</span>
                        <input type="text" class="g8Box validate[required]" name="{{form_register.company_position.html_name}}">
                    </div>
                {% endif %}
            </div>
            <div class="g8GroupInput two">
                <div class="g8Input select">
                    <span>{{company.country_names_field_title}} *</span>
                    <select name="{{form_register.country.html_name}}" id="" class="g8Box validate[required]">
                        <option value=""></option>
                        {% for country in countries %}
                            <option value="{{country.id}}">{{country.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                {% if company.occupation %}
                    <div class="g8Input">
                        <span>{{company.occupation_names_field_title}} *</span>
                        <input type="text" class="g8Box validate[required]" name="{{form_register.occupation.html_name}}">
                    </div>
                {% endif %}
                {% if company.occupation_select%}
                    <div class="g8Input select">
                        <span>{{company.occupation_names_field_title}} *</span>
                        <select name="{{form_register.occupation_select.html_name}}" id="" class="g8Box validate[required]">
                            <option value=""></option>
                            {% for occupation in occupations %}
                                <option value="{{occupation.id}}">{{occupation.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}
            </div>
            {% if company.phone %}
                <div class="g8GroupInput two">
                    <div class="g8Input">
                        <span>Teléfono *</span>
                        <input type="text" data-type="number" maxlength="30" class="g8Box validKeypress validate[required]" name="{{form_register.phone.html_name}}">
                    </div>
                </div>
            {% endif %}
            <div class="g8GroupInput two">
                <div class="g8Input">
                    <span>{{company.email_names_field_title}} *</span>
                    <input type="text" id="email" class="g8Box validate[required,custom[email]]" name="{{form_register.email.html_name}}">
                </div>
                <div class="g8Input">
                    <span>{{company.confirm_email_names_field_title}} *</span>
                    <input type="text" id="emailconfirm"  class="g8Box validate[required,custom[email],equals[email]]" name="confirm_email">
                </div>
            </div>
            <div class="g8GroupInput two">
                <div class="g8Input password">
                    <span>Contraseña *</span>
                    <input type="password" id="passwowrd" class="g8Box validate[required]" name="{{form_register.password.html_name}}">
                    <a href="#" class="show-hide-pass"></a>
                </div>
                <div class="g8Input password">
                    <span>Confirmar Contraseña *</span>
                    <input type="password" id="passwordconfirm"  class="g8Box validate[required,equals[passwowrd]]" name="{{form_register.confirm_password.html_name}}">
                    <a href="#" class="show-hide-pass"></a>
                </div>
            </div>
            <div class="g8Confirm fdc aifs">
                <p>(*) Campos obligatorios</p>
                {% if company.privacy_policy or company.protection_data_policy or company.terms_and_conditions %}
                    <div class="g8Checkbox">
                        <input id="check1" type="checkbox" checked class="validate[required]" name="checkbox1" value="checkbox1">
                        <label for="check1">
                            {% if company.privacy_policy and not company.protection_data_policy and not company.terms_and_conditions %}
                            He leído y acepto las
                            <a target="_blank" href="{{company.privacy_policy.url}}">Políticas de Privacidad</a>
                            {% endif %}
                            {% if company.privacy_policy and company.protection_data_policy and not company.terms_and_conditions %}
                            He leído y acepto las
                            <a target="_blank" href="{{company.privacy_policy.url}}">Políticas de Privacidad</a>
                            y <a target="_blank" href="{{company.protection_data_policy.url}}">Protección de Datos Personales</a>
                            {% endif %}
                            {% if company.privacy_policy and not company.protection_data_policy and company.terms_and_conditions %}
                            He leído y acepto los
                            <a target="_blank" href="{{company.terms_and_conditions.url}}">Términos y Condiciones.</a>
                            y <a target="_blank" href="{{company.privacy_policy.url}}">Políticas de Privacidad</a>
                            {% endif %}
                            {% if company.privacy_policy and company.protection_data_policy and company.terms_and_conditions %}
                            He leído y acepto los
                            <a target="_blank" href="{{company.terms_and_conditions.url}}">Términos y Condiciones.</a>
                            , las <a target="_blank" href="{{company.privacy_policy.url}}">Políticas de Privacidad</a>
                            y <a target="_blank" href="{{company.protection_data_policy.url}}">Protección de Datos Personales</a>
                            {% endif %}
                            {% if not company.privacy_policy and company.protection_data_policy and not company.terms_and_conditions %}
                            He leído y acepto la
                            <a target="_blank" href="{{company.protection_data_policy.url}}">Protección de Datos Personales</a>
                            {% endif %}
                            {% if not company.privacy_policy and company.protection_data_policy and company.terms_and_conditions %}
                            He leído y acepto los
                            <a target="_blank" href="{{company.terms_and_conditions.url}}">Términos y Condiciones.</a>
                            y la <a target="_blank" href="{{company.protection_data_policy.url}}">Protección de Datos Personales</a>
                            {% endif %}
                            {% if not company.privacy_policy and not company.protection_data_policy and company.terms_and_conditions %}
                            He leído y acepto los
                            <a target="_blank" href="{{company.terms_and_conditions.url}}">Términos y Condiciones.</a>
                            {% endif %}
                        </label>
				    </div>
                {% endif %}
				<button class="g8SumitRegistro save-register">Enviar</button>
                <h4>Ya tengo una cuenta <a href="#" id="openIniciaSesion">Iniciar sesión</a></h4>
			</div>
        </form>
    </div>
    {% else %}
    <h3>{{company.title_closed_in_person_register}}</h3>
    <div class="gParrafo parrafo-register">
        {{company.message_closed_in_person_register|safe}}
    </div>
    {% endif %}
</div>