.b16 {
  margin: 96px 0px;
}
.b16 .gParrafo {
  color: #404040;
}
.b16 .grilla {
  padding: 60px 80px;
  background: #efeff3;
  border-radius: 16px;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
.b16 h4 {
  font-size: 14px;
  font-family: 'DMSans-Regular', sans-serif;
  line-height: normal;
  color: #262626;
  font-style: italic;
  margin-top: 15px;
  display: none;
}
.b16 h4.active {
  display: block;
}
.b16 .gButton {
  margin-top: 16px;
}
.b16 .gButton:last-child {
  margin-right: 0;
}
.b16Buttons {
  margin-top: 16px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.b16Popup {
  width: 545px;
  background: #fff;
  border-radius: 8px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  position: fixed;
  z-index: 500;
  padding: 60px;
  text-align: center;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-transition: all 400ms cubic-bezier(0.78, 0.13, 0.24, 0.88);
  -moz-transition: all 400ms cubic-bezier(0.78, 0.13, 0.24, 0.88);
  -o-transition: all 400ms cubic-bezier(0.78, 0.13, 0.24, 0.88);
  -ms-transition: all 400ms cubic-bezier(0.78, 0.13, 0.24, 0.88);
  transition: all 400ms cubic-bezier(0.78, 0.13, 0.24, 0.88);
  pointer-events: none;
}
.b16Popup.active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
  -webkit-transition: all 400ms cubic-bezier(0.78, 0.13, 0.24, 0.88);
  -moz-transition: all 400ms cubic-bezier(0.78, 0.13, 0.24, 0.88);
  -o-transition: all 400ms cubic-bezier(0.78, 0.13, 0.24, 0.88);
  -ms-transition: all 400ms cubic-bezier(0.78, 0.13, 0.24, 0.88);
  transition: all 400ms cubic-bezier(0.78, 0.13, 0.24, 0.88);
  pointer-events: all;
}
.b16Popup .icon-close {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 30px;
}
.b16Popup .icon-close:before {
  color: #52626f;
}
.b16Popup .gButton {
  margin: auto;
}
.b16Popup .gParrafo {
  color: #202121;
  margin-top: 16px;
  margin-bottom: 32px;
}
@media screen and (max-width: 1024px) {
  .b16 {
    margin: 72px 0px;
  }
}
@media screen and (max-width: 768px) {
  .b16 .grilla {
    padding: 40px;
  }
}
@media screen and (max-width: 480px) {
  .b16 {
    margin: 48px 0px;
  }
  .b16 .grilla {
    padding: 30px 20px;
  }
  .b16Popup {
    padding: 30px 20px;
    width: 95%;
  }
}
