.g7ContentBx
	.bx-wrapper
		border 0px
		box-shadow 0px 0px 0px
		max-width 100% !important
		background transparent

.g7WrapBx
	display none
	&.bxSliderActive
		display flex
	.gItemBx
		margin-right 50px
	&.noBxSlider
		display block
		padding 0px 30px
		flexg(center,center)
		.gItemBx
			margin-right 50px
			&:last-child
				margin-right 0px


