
.g8Form
	button
		height 55px
		border-radius 100px
		background #fff
		font-size 16px
		textg(t-800,normal,#1E1E1E)
		flexg(center,center)
		border 0px
		width 100%
		margin-top 10px
		position relative
		&.isLoading
			&:before
				content ''
				background-image url(../img/credicorp/loading.gif)
				backgroundsize()
				width 25px
				height 25px
				centerY()
				right 30px
	.formError
		bottom calc(100% + 10px) !important
		top initial !important
		opacity 1 !important
		&:before
			content ''
			width: 0; 
			height: 0; 
			border-left: 8px solid #fa4242;
			border-top: 6px solid transparent;
			border-bottom: 6px solid transparent; 
			position absolute
			top calc(100% - 2px)
			transform rotate(90deg)
			left 10px
			opacity 1
		.formErrorContent
			border 0px
			background #fa4242
			box-shadow 0px 0px 0px
			border-radius 3px
	.formErrorArrow
		display none
	&.noAnimate
		.g8Input
			height auto
			flexg(flex-start,flex-start)
			flex-direction column
			border 0px
			span
				margin 0
				position relative
				top 0
				transform initial
				left 0
				margin-bottom 10px
			input,select,textarea
				height 40px
				padding-top 0px
			textarea
				height 100px
				padding-top 10px
			&.active
				span
					font-size 15px
			.clickSelect
				position relative
				height 40px
				padding 0px
				flexg(center,flex-start)
				padding-left 20px

.messageError
	font-size 16px
	textg(t-500,normal,#fa4242)
	text-align center
	margin-top 10px

.g8Cookies
	text-decoration underline
	padding-left 30px
	text-align left
	font-size 14px
	textg(t-400,normal,#fff)
	width 100%

.g8LinkForm
	font-size 16px
	textg(t-600,normal,#008AC9)
					
.g8GroupInput
	flexg(center,space-between)
	flex-flow row wrap
	&.one
		.g8Input
			width 100%
	&.two
		.g8Input
			width 49%
			margin-right 2%
			&:nth-child(2n)
				margin-right 0
	&.three
		.g8Input
			width 32%
			margin-right 2%
			&:nth-child(3n)
				margin-right 0
	&.four
		.g8Input
			width 24%
			margin-right 1.33%
			&:nth-child(4n)
				margin-right 0
				
.g8Input
	position: relative
	box-sizing: border-box
	height 56px
	margin-bottom 10px
	border-radius 10px
	width 100%
	&.password
		.show-hide-pass
			centerY()
			right 10px
			width 23px
			height 23px
			&:before
				content ''
				background-image url(../img/credicorp/ocultar.svg)
				width 100%
				height 100%
				display block
				backgroundsize()
			&.active
				&:before
					background-image url(../img/credicorp/mostrar.svg)
	input,select,textarea,.clickSelect
		width 100%
		height 100%
		border 0px
		box-sizing: border-box
		padding-left 16px
		padding-top 20px
		font-size 16px
		textg(t-400,normal,#fff)
		background #161616
		border 1px solid #232323
		border-radius 8px

	.clickSelect
		padding-top 15px
	select
		appearance: none
		&.elCustomSelect
			display: none
	&.select
		position relative
		&:after
			content '\e608'
			font-family icomoon
			centerY()
			right 10px
			font-size 25px
			pointer-events none
	span
		position absolute
		left 15px
		top 50%
		transform translateY(-50%)
		pointer-events: none
		color #808080
		transition: all 0.2s ease
		font-size 16px
		textg(t-400,normal,rgba(#fff,0.6))
		z-index 10
	&.textarea
		height 100px
		textarea
			padding-top 20px
		span
			top 20%
		&.active
			span
				top 10%
	&.active
		border 1px solid #404040
		span
			top 23%
			transition: all 0.2s ease
			font-size 12px

.g8Confirm
	flexg(center,space-between)

.g8Checkbox
	position: relative
	input
		position: absolute
		opacity: 0
		top 0
		left 0
		&:checked + label
			&:after
				opacity1()
	label
		display: inline-block
		position relative
		padding-left 30px
		a
			display inline
			text-decoration underline
			color #fff
		&:before
			content ''
			width 18px
			height 18px
			border-radius 2px
			border 1px solid #fff
			position: absolute
			top 50%
			transform translateY(-50%)
			left 0
		&:after
			content '\e91a'
			font-family icomoon
			font-size 10px
			border-radius 2px
			position: absolute
			top 50%
			transform translateY(-50%)
			left 4px
			opacity0()


@keyframes animateForm
	0%
		transform translateY(-50%) scale(0.95)
	50%
		transform translateY(-50%) scale(1.05)
	100%
		transform translateY(-50%) scale(1)

.g8PopupForm
	z-index 600
	centerXY()
	position fixed
	background #0A0A0A
	padding 40px
	padding-top 90px
	padding-bottom 55px
	border-radius 10px
	box-shadow 0px 0px 10px 3px rgba(#000,0.1)
	opacity0()
	&.active
		opacity1()
		animation animateForm 0.3s ease
		animation-delay 0.3s
		transition-delay 0.2s
	h3
		text-align center
		font-size 36px
		textg(t-700,normal,#fff)
		margin-bottom 30px
	&.formLogin
		max-width 530px
		width 100%
	&.formRegistro,
	&.formRegistroExitoso
		max-width 755px
		width 100%
		.gParrafo
			font-size 16px
			textg(t-400,normal,#fff)
			margin 16px 0px
			text-align center
		button
			margin-top 48px
		.g8Confirm
			p
				width 100%
				font-size 14px
				textg(t-400,normal,#fff)
				margin 16px 0px
		.g8Checkbox
			width 100%
			margin-bottom 8px
			label
				font-size 14px
				textg(t-400,normal,#fff)
		h4
			font-size 16px
			textg(t-400,normal,#fff)
			margin-top 32px
			width 100%
			text-align center
			a
				display inline
				color #fff
				text-decoration underline
				font-family t-400
	
	&.formRegistroExitoso,
	&.formCorreoVerificacion
		max-width 530px
		width 100%
		height 530px
		flexg(center,center)
		padding 50px
		.gParrafo
			margin-bottom 24px
			text-align center
		.gButton
			max-width 100%
			width 100%
			background #fff
			color #000
	&.formCorreoVerificacion
		.linkCancelar
			font-size 16px
			textg(t-400,normal,#fff)
			text-decoration underline
			text-align center
			margin-top 20px


.g8ClosePopup
	top 20px
	right 20px
	font-size 30px
	color #52626F

.g8Bottom
	margin-top 70px
	a
		font-size 16px
		textg(t-400,normal,#fff)
		text-decoration underline
		display inline
	h4
		margin-top 32px
		font-size 16px
		textg(t-400,normal,#fff)

.g8GroupChecbox
	flexg(center,flex-start)
	margin-bottom 15px
	justify-content center !important
	span
		margin-right 10px !important
		font-size 16px
		textg(t-400,normal,#fff)
	.g8Checkbox
		width fit-content !important
		margin-right 10px
		margin-bottom 0px !important
		&:last-child
			margin-right 0

@media screen and (max-width: 1440px)
	.g8Input
		height 50px
	.g8PopupForm
		padding 50px 40px
	.g8PopupForm.formRegistro button
		margin-top 20px
	.g8PopupForm h3
		font-size 32px
		margin-bottom 20px
	.g8Bottom
		margin-top 60px

@media screen and (max-width: 1366px)
	.g8Input
		height 48px
		input
			padding-top 13px
	.g8PopupForm h3
		font-size 28px
	.g8PopupForm.formRegistro h4
		margin-top 10px
	.g8Bottom
		margin-top 40px
	.g8PopupForm
		padding 30px 40px
	.g8PopupForm h3
		margin-bottom 10px
	.g8Input
		height 44px
		margin-bottom 5px
	.g8PopupForm.formRegistro .g8Confirm p
		margin 10px

@media screen and (max-width: 768px)
	.g8PopupForm
		padding 50px 25px
		&.formLogin
		&.formRegistro
			max-width 100%
			width 94%
	.g8Input
		margin-bottom 5px

@media screen and (max-width: 480px)
	// .g8GroupInput
	// 	margin 0
	// 	&.two,
	// 	&.three
	// 		.g8Input
	// 			width 100%
	// 			margin-right 0
	// 			margin-bottom 5px
	.g8PopupForm
		padding 30px 20px		
	.g8Input
		margin-bottom 0
		margin-bottom 5px
		height 36px
		border-radius 5px
		input,select
			border-radius 5px
			padding-top 10px
			padding-left 10px
			font-size 13px
		span
			font-size 12px
			left 10px
		&.active
			span
				font-size 10px
	.g8PopupForm h3
		margin-bottom 10px
	.g8Confirm
		flex-direction: column
		align-items: flex-start
		.gButton
			margin auto
	.g8PopupForm.formRegistro .g8Checkbox label
		font-size 12px
	.g8Checkbox
		margin-bottom 10px
	.g8PopupForm.formRegistro .gParrafo
		font-size 14px
	.g8Form
		button
			height 50px
	.g8PopupForm.formRegistro .g8Checkbox label
		font-size 10px
	.g8PopupForm.formRegistro .g8Confirm p
		margin 10px 0px
	.g8PopupForm.formRegistro button
		margin-top 10px
	.g8GroupChecbox
		.g8Checkbox
			margin-right 10px !important