.b20
    scrollbar(#808080,#dbdbdb,4,3)
    margin 96px 0px
    margin-top 30px
    .b4Select
        width fit-content
    .b4ClickSelect
        padding-right 40px
    .clickVideo
        &:after
            display none
.b20Top
    margin 35px 0px
    position relative
    z-index 50

@media screen and (max-width 480px)
    .b20Top
        align-items flex-start
        .gTitle
            margin-bottom 20px