.b27
    .gTitle
        margin-bottom 60px
.b27Wrap
    grid-gap 28px
    .b6Item
        padding-top 0
        img
            position relative
            width 100%
            height auto
    .b6Info p.name
        font-size 16px
    .b6Info p.date
        margin-bottom 10px
    .b6Info
        padding 15px 20px
        padding-top 0px

// @media screen and (max-width 1440px)
// @media screen and (max-width 1366px)
// @media screen and (max-width 1280px)
// @media screen and (max-width 1024px)
// @media screen and (max-width 768px)
// @media screen and (max-width 480px)
