.b4Top
    grid-gap 40px
    margin-bottom 60px
    position relative
    z-index 30
    .gTitle
        width 300px

.b4SelectGroup
    grid-gap 15px
    width 60%
    position relative
    &:before
        content ''
        background-image url(../img/credicorp/icon-filter.svg)
        backgroundsize()
        width 20px
        height 15px
        centerY()
        right calc(100% + 24px)

.b4ItemSelect
    position relative
    height 56px
    border-radius 10px
    border 1px solid #151515
    background #151515
    scrollbar(#fff,#1B1B1B,3,1)
    ul
        position absolute
        top 100%
        width 100%
        background rgba(#000,0.5)
        backdrop-filter: blur(10px)
        border 1px solid #1B1B1B
        max-height 150px
        height auto
        overflow-y auto
        opacity0()
        a
            font-size 16px
            textg(t-500,normal,#fff)
            padding 10px 20px
    &.active
        ul
            opacity1()

.b4ClickSelect
    width 100%
    height 100%
    flexg(center,flex-start)
    padding 0px 16px
    padding-right 22px
    &:after
        position absolute
        right 10px
        color #fff
        font-size 20px
    span
        font-size 16px
        textg(t-300,normal,#686868)
        margin-right 12px
    p.name
        margin-bottom 0px
        font-size 16px
        textg(t-500,normal,#fff)

.b4List
    grid-gap 24px

.b4ItemCLick
    cursor pointer
    height 120px
    background #111111
    border-radius 24px
    padding 24px
    padding-right 84px
    overflow hidden
    border 1px solid #111111
    transition all 400ms ease
    &:hover
        border 1px solid #686868
        transition all 400ms ease
    &.active
        border 1px solid #686868
        border-bottom-left-radius 0px
        border-bottom-right-radius 0px
    &:after
        height 100%
        width 78px
        color #fff
        flexg(center,center)
        font-size 30px
        position absolute
        top 0
        right 0

    &:before
        content ''
        width 78px
        height 100%
        right 0
        position absolute
        top 0
        background #151515
        

.b4ItemListLeft
    width 55%
    p.name
        font-size 18px
        textg(t-500,normal,#fff)
        linesText(3)
        width calc(100% - 180px)
        padding-left 60px
    .live
        grid-gap 16px
        width 180px
        p.date
            position relative
            grid-gap 12px
            font-size 18px
            textg(t-400,normal,#fff)
            margin-bottom 0px
            &:before
                content ''
                background-image url(../img/credicorp/calendar.svg)
                width 20px
                height 20px
                backgroundisize()
    a
        width 150px
        flexg(center,center)
        padding 0px 15px
        grid-gap 14px
        border-radius 100px
        font-size 14px
        textg(t-600,normal,#fff)
        height 40px
        transition all 400ms ease
        i
            circle(24,#fff)
            color #E742AB
        &.reproducir
            background #E742AB
        &.agendar
            background transparent
            border 1px solid #686868
        &:hover
            &.reproducir
                background #0ACFC9
                transition all 400ms ease
                i
                    color #0ACFC9
            &.agendar
                background #E9E9E9
                color #0D0D0D
                transition all 400ms ease
        &:focus
            &.agendar
                background #989898
                transition all 400ms ease

.b4ItemListRight
    width 45%
    grid-gap 60px
    p
        font-size 18px
        textg(t-400,normal,#fff)
        margin-bottom 0px
    p.hour
        position relative
        flexg(center,flex-start)
        grid-gap 10px
        &:before
            content ''
            background-image url(../img/credicorp/calendar.svg)
            width 20px
            height 20px
            backgroundisize()

.b4ContntInfo
    padding 40px 30px
    border 1px solid #686868
    border-bottom-left-radius 10px
    border-bottom-right-radius 10px
    border-top 0px

.b4ItemInfoLeft
    grid-gap 15px
    width calc(100% - 400px)
    padding-right 70px
    p.message
        position relative
        flexg(center,flex-start)
        grid-gap 10px
        font-size 14px
        textg(t-400,normal,#989898)
        &:before
            content ''
            background-image url(../img/credicorp/message.svg)
            width 13.33px
            height 13.33px
            backgroundisize()

    p.nameEvent
        font-size 18px
        textg(t-600,normal,#fff)
    .gParrafo
        font-size 16px
        textg(t-400,normal,#fff)

.b4ItemInfoRight
    width 400px
.b4Expos
    grid-gap 8px
    a
        grid-gap 8px
        img
            width 16px
        p
            font-size 16px
            textg(t-500,normal,#fff)
            margin-bottom 0px
            span
                margin 0px 10px


@media screen and (max-width 1024px)
    .b4ItemListLeft,
    .b4ItemListRight
        width 100%
    .b4ItemListLeft
        margin-bottom 20px
    .b4ItemCLick
        height auto


@media screen and (max-width 768px)
    .b4ItemInfoLeft,
    .b4ItemInfoRight
        width 100%
    .b4ItemInfoLeft
        margin-bottom 40px

@media screen and (max-width 480px)
    .b4Top .gTitle
        width 100%
        margin-bottom 30px
    .b4SelectGroup
        width 100%
    .b4ItemSelect
        width 100%
    .b4ItemListLeft
        .live
            margin-bottom 20px
            width 100%
        p.name
            width 100%
            padding 0
    .b4ItemListRight
        grid-gap 20px
    .b4ItemCLick:after,
    .b4ItemCLick:before
        width 50px
    .b4ItemCLick
        padding-right 55px
    .b4Top
        flex-direction: column
    .b4ItemInfoLeft
        padding-right 0
    .b4Top .gTitle
        margin-bottom 0