.b7
    .gTitle
        text-align center
        margin-bottom 56px
        span
            margin auto

.b7Wrap
    grid-gap 16px

.b7Item
    background #111111
    border-radius 10px
    padding 45px
    flexg(center,center)
    figure
        width 80%
        margin auto
        img
            width 100%