.b5
    padding 100px 0px
    width calc(100% - 20px)
    margin-left auto
    margin-right auto
    position relative
    border-radius 32px
    overflow hidden
    margin-bottom 0px
    &:before
        content ''
        background: linear-gradient(180deg, #0D0D0D 35.12%, rgba(13, 13, 13, 0) 100%);
        full()
        height 100%
        left 0
        z-index 5
    &:after
        content ''
        background: linear-gradient(21.3deg, #00DACE 10.24%, #FA1FAE 59.87%)
        full()
        height 100%
        bottom 0
        top initial
        left 0
        z-index 3
    h4
        fontg(40,72)
        textg(t-600,normal,#fff)
        margin-bottom 40px
    .grilla
        position relative
        z-index 20
.b5List
    display grid
    grid-gap 24px

.b5Item
    background #4B4B4B
    border-radius 16px
    overflow hidden

.b5ItemClick
    height 88px
    padding 0px 32px
    border-radius 16px
    background #151515
    fontg(18,24)
    textg(t-600,normal,#E9E9E9)
    flexg(center,space-between)
    &:after
        font-size 30px

.b5Info
    .gParrafo
        padding 20px 32px
        background #4B4B4B