<footer style="background: {{footer.background}};">
    <div class="grilla">
        <div class="fWrap  f aic jcc fdc-768">
            <div class="fMenu f aic jcc fItem">
                {% if header_section.show_schedule_section %}
                <a href="#agenda" class="headerAnclaBlock">
                    {{header_section.schecule_header_name}}
                </a>
                {% endif %}
                {% if header_section.show_exhibitors_section %}
                <a href="#expositor" class="headerAnclaBlock">
                    {{header_section.exhibitors_header_name}}
                </a>
                {% endif %}
                {% if header_section.show_workshops_section and company_user.in_person and company_user.confirmed %}
                <a href="#talleres" class="headerAnclaBlock">
                    {{header_section.workshops_header_name}}
                </a>
                {% endif %}
                {% if header_section.show_frequently_questions_section %}
                <a href="#preguntas" class="headerAnclaBlock">
                    {{header_section.frequently_questions_header_name}}
                </a>
                {% endif %}
            </div>
            <div class="fRedes fItem f aic jcc">
                {% if footer.linkedin %}
                    <a href="{{footer.linkedin}}" target="_blank" class="icon-linkedin"></a>
                {% endif %}
                {% if footer.twitter %}
                    <a href="{{footer.twitter}}" target="_blank" class="icon-twitter"></a>
                {% endif %}
                {% if footer.instagram %}
                    <a href="{{footer.instagram}}" target="_blank" class="icon-instagram"></a>
                {% endif %}
                {% if footer.facebook %}
                    <a href="{{footer.facebook}}" target="_blank" class="icon-face"></a>
                {% endif %}
                {% if footer.youtube %}
                    <a href="{{footer.youtube}}" target="_blank" class="icon-youtube"></a>
                {% endif %}
            </div>
            {% comment %} <div class="fContact fItem">
                <a>Powered by: RealVirtual</a>
            </div> {% endcomment %}
        </div>
    </div>
</footer>