<!--
    1: sessionOn
    2: sessionOff
-->
<header class="header {% if logged_user %}sessionOn{% else %}sessionOff{% endif %}">
    <div class="grilla f aic jcsb">
        <div class="headerLeft">
            <a href="#" class="headerLogo">
                <figure>
                    <img src="{{request.company.logo.url}}" alt="">
                </figure>
            </a>
        </div>
        <div class="headerAnclas f aic jcc">
            <!-- la clase "lineActive" es la barra qeu se activa cuando se da click , 
                el color deberìa ser administrable segun el color de la web 
            -->
            {% if header %}
                {% if header_section.show_schedule_section %}
                    <a href="#acerca" class="headerAnclaBlock">{{header_section.schecule_header_name}}<span class="lineActive" style="background:#2AD2C9;"></span></a>
                {% endif %}
                {% if header_section.show_exhibitors_section %}
                <a href="#speakers" class="headerAnclaBlock">{{header_section.exhibitors_header_name}} <span class="lineActive" style="background:#2AD2C9;"></span></a>
                {% endif %}
                {% if header_section.show_workshops_section %}
                <a href="#talleres" class="headerAnclaBlock">{{header_section.workshops_header_name}} <span class="lineActive" style="background:#2AD2C9;"></span></a>
                {% endif %}
                {% if header_section.show_frequently_questions_section %}
                <a href="#preguntas" class="headerAnclaBlock">{{header_section.frequently_questions_header_name}}<span class="lineActive" style="background:#2AD2C9;"></span></a>
                {% endif %}
            {% endif %}
        </div>
        <div class="headerRight f aic jcfe">
            <div class="headerOptionsSessions">
                <!-- OPCIÒN CUANDO NO ESTA LOGEADO -->
                <div class="headerOptionLogout f aic jcfe">
                    <a href="" class="headerButtonLogin login" style="font-size: 16px;">{{header_section.login_title}}</a>
                    <a href="" class="headerButtonRegistrate">{{header_section.register_title}}</a>
                </div>
                <!-- OPCIÒN CUANDO ESTA LOGEADO -->
                <!-- download-user -->
                <!-- user-icon -->
                <div class="headerOptionLogin f aic jcfe">
                    <a href="#" class="headerNameUser arrowClick">Hola {{company_user.names}}</a>
                    <ul>
                        {% if company_user.in_person %}
                            <li><a class="link" href="{{ticket_url}}">Mi Ticket</a></li>
                        {% endif %}
                        {% if company_user.virtual or request.company.enable_credentials %}
                            <li><a class="link" href="{{credential_url}}">Mi credencial</a></li>
                        {% endif %}
                        {% if company_user.certificate %}
                            <li><a class="link" target="_blank" href="{{company_user.certificate.url}}">Mi certificado</a></li>
                        {% elif company_user.allow_certificate %}
                            <li><a class="link" href="{% url 'landing:generate_certificate' %}">Mi certificado</a></li>
                        {% endif %}
                        <li>
                            <a href="{% url 'landing:logout' %}" class="logout">Cerrar Sesión</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- OPCIÒN CUANDO ESTAS EN LA PAGINA DE CHAT EN VIVO -->
            <!-- <a href="#" class="returnChat">Regresar</a> -->
        </div>
    </div>
</header>

<!-- POPUP LOGIN -->
<div class="g8PopupForm formLogin pr">
    <a href="#" class="g8ClosePopup icon-close pa closeIniciaSesion"></a>
    <h3>Iniciar Sesión</h3>
    <div class="g8Form">
        <form action=""  method="POST">
            {% csrf_token %}
            <input type="hidden" id="g-recaptcha-response_login" name="g-recaptcha-response">
            <div class="g8GroupInput one">
                <div class="g8Input">
                    <span>Email</span>
                    <input type="text" id="login_email"  maxlength="30" class="g8Box  validate[required]" name="{{form_login.email.html_name}}">
                </div>
                <div class="g8Input password">
                    <span>Password</span>
                    <input type="password" id="login_passwowrd" maxlength="30" class="g8Box validate[required]" name="{{form_login.password.html_name}}">
                    <a href="#" class="show-hide-pass"></a>
                </div>
            </div>
            <button class="g8SumitLogin">Ingresar</button>
        </form>
    </div>
    <div class="g8Bottom tac">
        <a href="" class="losePassword">Olvidé mi contraseña</a>
        <h4>No tengo una cuenta <a href="#" id="openRegistrarme">Registrarme</a></h4>
    </div>
</div>



<!-- POPUP FORM VERIFICACIÓN CORREO ELECTRONICO-->
<div class="g8PopupForm formCorreoVerificacion pr ">
    <!-- <a href="#" class="g8ClosePopup icon-close pa closeIniciaSesion"></a> -->
    <div class="g8PopupContent">
        <h3>Obtenga un correo de verificación
        </h3>
        <div class="gParrafo">
            <p>Para obtener un código de verificación, primero confirma la dirección de correo electrónico de recuperación que agregaste a tu cuenta lui••••••@gm•••••.com</p>
        </div>
        <div class="g8Form">
            <form action="">
                <div class="g8GroupInput one">
                    <div class="g8Input">
                        <span>Ingrese correo electrónico *</span>
                        <input type="text" id="c_email" class="g8Box validate[required,custom[email]]">
                    </div>
                </div>
                <button class="g8SubmitCorreoVerificacion isLoading">Enviar</button>
                <p class="messageError">El correo no existe</p>
            </form>
        </div>
        <a href="#" class="buttonClosePopup linkCancelar">Cancelar</a>
    </div>
</div>


<!-- POPUP FORM ACTUALIZAR CONTRASEÑA-->
<div class="g8PopupForm formCorreoVerificacion pr ">
    <!-- <a href="#" class="g8ClosePopup icon-close pa closeIniciaSesion"></a> -->
    <div class="g8PopupContent">
        <h3>Actualiza tu contraseña</h3>
        <div class="g8Form">
            <form action="">
                <div class="g8GroupInput one">
                    <div class="g8Input">
                        <span>Contraseña nueva *</span>
                        <input type="password" id="p_email" class="g8Box validate[required,custom[email]]">
                    </div>
                    <div class="g8Input">
                        <span>Confirmar contraseña nueva *</span>
                        <input type="password" id="emailconfirm"  class="g8Box validate[required,custom[email],equals[p_email]]">
                    </div>
                </div>
                <button class="g8SubmitActualizarPassword">Actualizar</button>
            </form>
        </div>
        <a href="#" class="buttonClosePopup linkCancelar">Cancelar</a>
    </div>
</div>


<!-- POPUP REGISTRO -->
<div class="g8PopupForm formRegistro pr">
    <a href="#" class="g8ClosePopup icon-close pa closeRegistro"></a>
    {% if allow_register %}
    <h3>{{header_section.register_form_title}}</h3>
    <div class="gParrafo">
        <p>{{header_section.register_form_text}}</p>
    </div>
    <div class="g8Form">
        <form action="" method="POST" class="form-register">
            <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
            {% csrf_token %}
            {% if choose_access_type %}
                <div class="g8GroupChecbox g8GroupInput two" style="">
                    <span>Tipo de Asistencia:</span>
                    <div class="g8Checkbox">
                        <input id="pres" type="radio" checked="" class="validate[required]" name="access_type" value="in_person">
                        <label for="pres">
                            Presencial
                        </label>
                    </div>
                    <div class="g8Checkbox">
                        <input id="virt" type="radio" class="validate[required]" name="access_type" value="virtual">
                        <label for="virt">
                            Virtual
                        </label>
                    </div>
                </div>
            {% endif %}
            <div class="g8GroupInput two">
                <div class="g8Input">
                    <span>{{company.names_field_title}} *</span>
                    <input type="text" data-type="text" maxlength="30" class="g8Box validKeypress validate[required]" name="{{form_register.names.html_name}}">
                </div>
                <div class="g8Input">
                    <span>{{company.last_names_field_title}} *</span>
                    <input type="text" data-type="text" maxlength="30" class="g8Box validKeypress validate[required]" name="{{form_register.last_name.html_name}}">
                </div>
            </div>
            <div class="g8GroupInput two">
                {% if company.job_company%}
                <div class="g8Input">
                    <span>Empresa *</span>
                    <input type="text" class="g8Box validate[required]">
                </div>
                {% endif %}
                {% if company.job_company_select%}
                <div class="g8Input select">
                    <span>{{company.job_company_names_field_title}} *</span>
                    <select name="{{form_register.job_company_select.html_name}}" id="" class="g8Box validate[required]">
                        <!-- <option value="">Selecciona un tipo</option> -->
                        <option value=""></option>
                        {% for job_company in job_companies %}
                            <option value="{{job_company.id}}">{{job_company.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
            {% if company.company_position%}
                <div class="g8Input">
                    <span>{{company.company_position_names_field_title}} *</span>
                    <input type="text" class="g8Box validate[required]" name="{{form_register.company_position.html_name}}">
                </div>
            {% endif %}
            </div>
            <div class="g8GroupInput two">
                <div class="g8Input select">
                    <span>{{company.country_names_field_title}}  *</span>
                    <select name="{{form_register.country.html_name}}" id="" class="g8Box validate[required]">
                        <option value=""></option>
                        {% for country in countries %}
                            <option value="{{country.id}}">{{country.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                {% if company.occupation %}
                <div class="g8Input">
                    <span>{{company.occupation_names_field_title}} *</span>
                    <input type="text" class="g8Box validate[required]" name="{{form_register.occupation.html_name}}">
                </div>
                {% endif %}
                {% if company.occupation_select%}
                <div class="g8Input select">
                    <span>{{company.occupation_names_field_title}} *</span>
                    <select name="{{form_register.occupation_select.html_name}}" id="" class="g8Box validate[required]">
                        <option value=""></option>
                        {% for occupation in occupations %}
                            <option value="{{occupation.id}}">{{occupation.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                {% endif %}
            </div>
            {% if company.phone %}
            <div class="g8GroupInput two">
                <div class="g8Input">
                    <span>Teléfono *</span>
                    <input type="text" data-type="number" maxlength="30" class="g8Box validKeypress validate[required]" name="{{form_register.phone.html_name}}">
                </div>
                {% if company.speciality%}
                <div class="g8Input select">
                    <span>{{company.speciality_names_field_title}} *</span>
                    <select name="{{form_register.speciality.html_name}}" id="" class="g8Box validate[required]">
                        <option value=""></option>
                        {% for speciality in specialities %}
                            <option value="{{speciality.id}}">{{speciality.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                {% endif %}
            </div>
            {% endif %}
            <div class="g8GroupInput two">
                <div class="g8Input">
                    <span>{{company.email_names_field_title}} *</span>
                    <input type="text" id="email" class="g8Box validate[required,custom[email]]" name="{{form_register.email.html_name}}">
                </div>
                <div class="g8Input">
                    <span>{{company.confirm_email_names_field_title}} *</span>
                    <input type="text" id="emailconfirm"  class="g8Box validate[required,custom[email],equals[email]]" name="confirm_email">
                </div>
            </div>
            <div class="g8GroupInput two">
                <div class="g8Input password">
                    <span>Contraseña *</span>
                    <input type="password" id="passwowrd" class="g8Box validate[required]" name="{{form_register.password.html_name}}">
                    <a href="#" class="show-hide-pass"></a>
                </div>
                <div class="g8Input password">
                    <span>Confirmar Contraseña *</span>
                    <input type="password" id="passwordconfirm"  class="g8Box validate[required,equals[passwowrd]]" name="{{form_register.confirm_password.html_name}}">
                    <a href="#" class="show-hide-pass"></a>
                </div>
            </div>
            <div class="g8Confirm fdc aifs">
                <p>(*) Campos obligatorios</p>
                {% if company.privacy_policy or company.protection_data_policy or company.terms_and_conditions %}
                    <div class="g8Checkbox">
                        <input id="check1" type="checkbox" checked class="validate[required]" name="checkbox1" value="checkbox1">
                        <label for="check1">
                            {% if company.privacy_policy and not company.protection_data_policy and not company.terms_and_conditions %}
                            He leído y acepto las
                            <a target="_blank" href="{{company.privacy_policy.url}}">Políticas de Privacidad</a>
                            {% endif %}
                            {% if company.privacy_policy and company.protection_data_policy and not company.terms_and_conditions %}
                            He leído y acepto las
                            <a target="_blank" href="{{company.privacy_policy.url}}">Políticas de Privacidad</a>
                            y <a target="_blank" href="{{company.protection_data_policy.url}}">Protección de Datos Personales</a>
                            {% endif %}
                            {% if company.privacy_policy and not company.protection_data_policy and company.terms_and_conditions %}
                            He leído y acepto los
                            <a target="_blank" href="{{company.terms_and_conditions.url}}">Términos y Condiciones.</a>
                            y <a target="_blank" href="{{company.privacy_policy.url}}">Políticas de Privacidad</a>
                            {% endif %}
                            {% if company.privacy_policy and company.protection_data_policy and company.terms_and_conditions %}
                            He leído y acepto los
                            <a target="_blank" href="{{company.terms_and_conditions.url}}">Términos y Condiciones.</a>
                            , las <a target="_blank" href="{{company.privacy_policy.url}}">Políticas de Privacidad</a>
                            y <a target="_blank" href="{{company.protection_data_policy.url}}">Protección de Datos Personales</a>
                            {% endif %}
                            {% if not company.privacy_policy and company.protection_data_policy and not company.terms_and_conditions %}
                            He leído y acepto la
                            <a target="_blank" href="{{company.protection_data_policy.url}}">Protección de Datos Personales</a>
                            {% endif %}
                            {% if not company.privacy_policy and company.protection_data_policy and company.terms_and_conditions %}
                            He leído y acepto los
                            <a target="_blank" href="{{company.terms_and_conditions.url}}">Términos y Condiciones.</a>
                            y la <a target="_blank" href="{{company.protection_data_policy.url}}">Protección de Datos Personales</a>
                            {% endif %}
                            {% if not company.privacy_policy and not company.protection_data_policy and company.terms_and_conditions %}
                            He leído y acepto los
                            <a target="_blank" href="{{company.terms_and_conditions.url}}">Términos y Condiciones.</a>
                            {% endif %}
                        </label>
                    </div>
                {% endif %}
                <button class="g8SumitRegistro save-register">Enviar</button>
                <h4>Ya tengo una cuenta <a href="#" id="openIniciaSesion">Inicial sesión</a></h4>
            </div>
            <p class="messageError message-warning"></p>
        </form>
    </div>
    {% else %}
        <h3>{{company.title_closed_in_person_register}}</h3>
        <div class="gParrafo parrafo-register">
            {{company.message_closed_in_person_register|safe}}
        </div>
    {% endif %}
</div>


<!-- POPUP REGISTRO EXITOSO-->
<div class="g8PopupForm formRegistroExitoso pr">
    <!-- <a href="#" class="g8ClosePopup icon-close pa closeIniciaSesion"></a> -->
    <div class="g8PopupContent">
        <h3>Registro exitoso</h3>
        <div class="gParrafo">
            <p>La preinscripción se ha realizado correctamente.
                Dado que este evento cuenta con aforo limitado, en las próximas semanas te informaremos vía correo electrónico si tu solicitud fue aceptada.</p>
        </div>
        <a href="#" class="gButton buttonClosePopup">Ok</a>
    </div>
</div>
