.b3 .grilla {
  background: #0d0d0d;
  border-radius: 32px;
  padding: 130px;
}
.b3 .gPagination {
  bottom: 0px;
}
.b3.swiperActive .b3Swiper {
  padding-bottom: 60px;
}
.b3Top {
  margin-bottom: 60px;
}
.b3Top h2 {
  font-size: 72px;
  font-family: 'InterTight-SemiBold', sans-serif;
  line-height: normal;
  color: #fff;
  width: 320px;
}
@media screen and (max-width: 1600px) {
  .b3Top h2 {
    font-size: calc(40px + (72 - 40) * ((100vw - 375px) / (1920 - 375)));
  }
}
.b3Top .gParrafo {
  font-size: 24px;
  font-family: 'InterTight-SemiBold', sans-serif;
  line-height: normal;
  color: #fff;
  width: calc(100% - 320px);
  padding-left: 100px;
}
@media screen and (max-width: 1600px) {
  .b3Top .gParrafo {
    font-size: calc(18px + (24 - 18) * ((100vw - 375px) / (1920 - 375)));
  }
}
.b3Item {
  cursor: pointer;
}
.b3Item p {
  margin-bottom: 0px;
}
.b3Item figure {
  width: 205px;
  margin: auto;
  position: relative;
  z-index: 5;
}
.b3Item figure img {
  width: 100%;
}
.b3Item:hover .b3Info {
  background: #fff;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
.b3Item:hover .b3Info p.cargo {
  color: #000;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
.b3Item:hover .b3Name p.name {
  color: #000;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
.b3Info {
  display: grid;
  grid-gap: 10px;
  padding: 60px 30px;
  background: #1b1b1b;
  border-radius: 24px;
  margin-top: -45px;
  z-index: 2;
  position: relative;
}
.b3Info p.cargo {
  font-size: 14px;
  font-family: 'InterTight-Regular', sans-serif;
  line-height: normal;
  color: #fff;
  text-align: center;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
.b3Name {
  grid-gap: 20px;
}
.b3Name p.name {
  font-size: 24px;
  font-family: 'InterTight-SemiBold', sans-serif;
  line-height: normal;
  color: #fff;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
@media screen and (max-width: 1600px) {
  .b3Name p.name {
    font-size: calc(18px + (24 - 18) * ((100vw - 375px) / (1920 - 375)));
  }
}
.b3Name img {
  width: 40px;
}
.b3Popup {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  position: fixed;
  background: #fff;
  border-radius: 32px;
  padding: 32px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-transition: all 400ms cubic-bezier(0.78, 0.13, 0.24, 0.88);
  -moz-transition: all 400ms cubic-bezier(0.78, 0.13, 0.24, 0.88);
  -o-transition: all 400ms cubic-bezier(0.78, 0.13, 0.24, 0.88);
  -ms-transition: all 400ms cubic-bezier(0.78, 0.13, 0.24, 0.88);
  transition: all 400ms cubic-bezier(0.78, 0.13, 0.24, 0.88);
  pointer-events: none;
  z-index: 300;
  max-width: 800px;
  width: 100%;
  margin: auto;
}
.b3Popup.active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
  -webkit-transition: all 400ms cubic-bezier(0.78, 0.13, 0.24, 0.88);
  -moz-transition: all 400ms cubic-bezier(0.78, 0.13, 0.24, 0.88);
  -o-transition: all 400ms cubic-bezier(0.78, 0.13, 0.24, 0.88);
  -ms-transition: all 400ms cubic-bezier(0.78, 0.13, 0.24, 0.88);
  transition: all 400ms cubic-bezier(0.78, 0.13, 0.24, 0.88);
  pointer-events: all;
}
.b3Popup p {
  margin-bottom: 0px;
}
.b3Popup .icon-close {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  color: #000;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
}
.b3PopupTop {
  height: 210px;
  margin-bottom: 40px;
}
.b3PopupTopLeft,
.b3PopupTopRight {
  width: 45%;
  height: 100%;
}
.b3PopupTopLeft {
  border-radius: 16px;
}
.b3PopupTopLeft figure {
  height: 100%;
  width: auto;
  margin: auto;
  width: fit-content;
}
.b3PopupTopLeft figure img {
  height: 100%;
  width: auto;
}
.b3Logo {
  width: 100px;
}
.b3Logo.taller {
  width: 100%;
}
.b3PopupNameWrap {
  margin-bottom: 8px;
}
.b3PopupNameWrap img {
  width: 38px;
}
.b3PopupName {
  width: calc(100% - 38px);
  padding-left: 30px;
  font-size: 30px;
  font-family: 'InterTight-SemiBold', sans-serif;
  line-height: normal;
  color: #0d0d0d;
}
@media screen and (max-width: 1600px) {
  .b3PopupName {
    font-size: calc(20px + (30 - 20) * ((100vw - 375px) / (1920 - 375)));
  }
}
.b3PopupCargo {
  font-size: 16px;
  font-family: 'InterTight-Medium', sans-serif;
  line-height: normal;
  color: #0d0d0d;
}
@media screen and (max-width: 1600px) {
  .b3PopupCargo {
    font-size: calc(16px + (16 - 16) * ((100vw - 375px) / (1920 - 375)));
  }
}
.b3PopupText {
  font-size: 14px;
  font-family: 'InterTight-Regular', sans-serif;
  line-height: normal;
  color: #0d0d0d;
}
.b3PopupTaller {
  font-size: 14px;
  font-family: 'InterTight-Regular', sans-serif;
  line-height: normal;
  color: #0d0d0d;
  margin-bottom: 5px;
}
@media screen and (max-width: 1600px) {
  .b3PopupTaller {
    font-size: calc(14px + (14 - 14) * ((100vw - 375px) / (1920 - 375)));
  }
}
.b3PopupTallerName {
  font-size: 20px;
  font-family: 'InterTight-Bold', sans-serif;
  line-height: normal;
  color: #0d0d0d;
}
@media screen and (max-width: 1600px) {
  .b3PopupTallerName {
    font-size: calc(18px + (20 - 18) * ((100vw - 375px) / (1920 - 375)));
  }
}
.b3PopupBottomLeft {
  grid-gap: 10px;
}
.b3PopupBottomLeft p {
  font-size: 20px;
  font-family: 'InterTight-Medium', sans-serif;
  line-height: normal;
  color: #000;
  margin-bottom: 0px;
}
@media screen and (max-width: 1600px) {
  .b3PopupBottomLeft p {
    font-size: calc(18px + (20 - 18) * ((100vw - 375px) / (1920 - 375)));
  }
}
.b3PopupButton {
  height: 40px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  border-radius: 100px;
  padding: 0px 40px;
  width: fit-content;
  background: #fa1fae;
  font-size: 20px;
  font-family: 'InterTight-Medium', sans-serif;
  line-height: normal;
  color: #fff;
  text-decoration: underline;
  margin: 0 0 0 auto;
  margin-top: 20px;
}
@media screen and (max-width: 1600px) {
  .b3PopupButton {
    font-size: calc(18px + (20 - 18) * ((100vw - 375px) / (1920 - 375)));
  }
}
.b3PopupButton.inscrito {
  background: #0acfc9;
  color: #000;
}
.b3PopupButton.aforo-close {
  background: #989898;
  pointer-events: none;
  text-decoration: inherit;
  color: #000;
  font-size: 14px;
}
@media screen and (max-width: 1366px) {
  .b3 .grilla {
    padding: 80px;
  }
}
@media screen and (max-width: 1024px) {
  .b3 .grilla {
    padding: 50px 35px;
  }
}
@media screen and (max-width: 768px) {
  .b3Top {
    grid-gap: 20px;
  }
  .b3Top h2,
  .b3Top .gParrafo {
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 480px) {
  .b3Popup {
    width: calc(100% - 40px);
    padding: 30px 20px;
    border-radius: 20px;
  }
  .b3PopupTop {
    height: auto;
    grid-gap: 20px;
  }
  .b3PopupTopRight {
    width: 100%;
    grid-gap: 20px;
  }
  .b3PopupName {
    padding-left: 15px;
  }
  .b3PopupTop {
    margin-bottom: 20px;
  }
  .b3PopupTopLeft {
    height: 130px;
    width: fit-content;
  }
  .b3PopupBottomLeft {
    -webkit-box-align: start;
    -moz-box-align: start;
    -o-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    grid-gap: 2px;
  }
}
